extends ../layout/main

block variables
    - var title = 'Новый уровень';
    - var pageClass = 'index-page';

block content

    include ../includes/main-screen
    include ../includes/about
    include ../includes/services
    include ../includes/maintenance
    include ../includes/application-form
    include ../includes/information
    include ../includes/builders
    include ../includes/reviews
    include ../includes/faq
    include ../includes/contact
    include ../includes/request


    include ../includes/mobile-menu
    include ../includes/popup

//- block script
