@font-face {
	font-family: "Geometria";
	src: url('~fonts/Geometria.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Circe-Regular";
	src: url('~fonts/Circe-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Circe-Light";
	src: url('~fonts/Circe-Light.ttf');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "ConthraxSb-Regular";
	src: url('~fonts/ConthraxSb-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}






// 