* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}


body {
	font-family: "";
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: Circe-Light, sans-serif;
}

// html, body {
// 	min-height: 100%;
// }
main {
	flex-grow: 1;
	margin-bottom: 590px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.center-wrap {
	max-width: 1310px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;

	@media screen and (max-width:1200px) {
		max-width: 450px;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	font-family: ConthraxSb-Regular;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 110.5%;
	letter-spacing: 0.03em;
	color: $black;
	.dark-section & {
		color: #fff;
	}
}

.desktop--hide {
	@media screen and (min-width:1200px) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width:1200px) {
		display: none !important;
	}
}

#page-wrap {
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

[data-scrollbar] {
	height: 100vh;
	padding-bottom: 590px;
	z-index: 1;
	&.scrollbar--footer {
		pointer-events: none;
	}
}

.scrollbar-thumb {
	background: rgba(0, 0, 0, .3) !important; 
}

.scrollbar-track {
	@media screen and ( max-width: 1200px ) {
		display: none !important;
	}
}