section.advantage#advantage
    .simple-title.advantage__title Почему именно мы
    .advantage__wrap
        .center-wrap
            .advantage__list
                .advantage__item
                    .advantage__img
                        img(src="assets/images/advantage-img1.png" alt="")
                    .advantage__item-title КАЧЕСТВО
                    .advantage__item-text Мы являемся ведущей фирмой, обеспечивая качество и ценность<br class='desktop--hide'> для наших клиентов. Нам нравится<br class='desktop--hide'> то, что мы делаем
                .advantage__item
                    .advantage__img

                        img(src="assets/images/advantage-img2.png" alt="")
                    .advantage__item-title ОПЫТ
                    .advantage__item-text Все наши специалисты имеют<br class='desktop--hide'> более 10 лет опыта, который они<br class='desktop--hide'> успешно используют на всех<br class='desktop--hide'> этапах производства
                .advantage__item
                    .advantage__img
                        img(src="assets/images/advantage-img3.png" alt="")
                    .advantage__item-title СЛУЖБА ПОДДЕРЖКИ
                    .advantage__item-text Наши менеджеры всегда готовы ответить<br class='desktop--hide'> на Ваши вопросы. Вы можете позвонить нам по выходным или даже ночью

                .advantage__item
                    .advantage__img
                        img(src="assets/images/advantage-img4.png" alt="")
                    .advantage__item-title ПОДАРКИ
                    .advantage__item-text Нам нравится делать людей счастливыми. Мы спрашиваем наших клиентов об их дне рождения и готовим классные подарки.

                .advantage__item
                    .advantage__img
                        img(src="assets/images/advantage-img5.png" alt="")
                    .advantage__item-title ГИБКОСТЬ
                    .advantage__item-text Этот метод позволяет нам добиться<br class='desktop--hide'> успеха в задачах всех уровней.

                .advantage__item
                    .advantage__img
                        img(src="assets/images/advantage-img6.png" alt="")
                    .advantage__item-title ЭФФЕКТИВНОСТЬ
                    .advantage__item-text Мы заботимся о времени наших<br class='desktop--hide'> клиентов. Просто позвоните нам - и мы поможем вам по всем вопросам.
