section.production#production
    .center-wrap
        h2.simple-title.production__title Собственное швейное производство
        .production__wrap
            .production__img
                img(src="assets/images/production-img.png" alt="")
            .production__right
                .production__item
                    span.production__item-number 01
                    .production__info
                        .production__info-title ТОЛЬКО СОВРЕМЕННОЕ ОБОРУДОВАНИЕ
                        .production__info-text Мы используем европейское оборудования, которое регулярно обновляется и модернизируется
                        .production__info-img

                            img(src="assets/images/production__info-img1.png" alt="")
                .production__item
                    span.production__item-number 02
                    .production__info
                        .production__info-title КОНТРОЛЬ НА КАЖДОМ ЭТАПЕ ПРОИЗВОДСТВА
                        .production__info-text На каждом этапе производства мы осуществляем контроль, чтобы потребитель получил качественное изделие 
                        .production__info-img

                            img(src="assets/images/production__info-img2.png" alt="")
                .production__item
                    span.production__item-number 03
                    .production__info
                        .production__info-title ПОДБОР ЦВЕТОВ ИСПОЛЬЗУЕМЫХ МАТЕРИАЛОВ
                        .production__info-text Всегда обращаем внимание на мелкие детали, чтобы внешне белье радовало глаз
                        .production__info-img
                            img(src="assets/images/production__info-img3.png" alt="")



