.history {
    padding: 6.5rem 0 7rem;
    background: #ffffff;

    @media screen and (max-width:$large_tablet) {
        padding: 5.5rem 0 3.5rem;
    }

    &__title {
        margin-bottom: 4.5rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 1.6rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width:1400px) {
            margin-bottom: -2.8rem;
        }

        .card{
            width: calc((100% - 1.8rem * 4)/5);

            @media screen and (max-width:1400px) {
                width: calc((100% - 2.8rem * 3)/4);
                margin-bottom: 2.8rem;
            }
        }

    }

    &__item {

        &--hide {
            margin-bottom: 0px !important;
            padding: 0px !important;
            opacity: 0 !important;
            height: 0px !important;
        }
    }
}