.information {
    padding: 7rem 0 20rem;

    @media screen and (max-width:$large_tablet) {
        padding: 4rem 0 8rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: -5rem;
        }
    }

    &__item {
        width: calc((100% - 5rem * 2)/ 3);
        display: flex;
        flex-direction: column;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-bottom: 5rem;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 2.8rem;
        position: relative;
        overflow: hidden;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 1.8rem;
        }

        >div {
            position: relative;
            padding-bottom: 66.75%;

            @media screen and (max-width:$large_tablet) {
                padding-bottom: 47.82%;
            }

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;

                &:hover {
                    transform: scale(1.08);
                }
            }
        }

        &--video {
            overflow: hidden;

            &:hover {
                &::before {
                    opacity: 0.5;
                }
            }

            &::before {
                content: "";
                background: linear-gradient(0deg, rgba(7, 19, 27, 0.26), rgba(7, 19, 27, 0.26));
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: all 0.5s;
            }

            &::after {
                content: "";
                background: url('~img/play.svg') no-repeat;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                z-index: 3;
            }
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.06;
        color: #858C93;
        margin-bottom: 0.4rem;
    }

    &__title {
        color: #545454;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 5.2rem;
        max-width: 25.5rem;
        width: 100%;
        transition: all 0.5s;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
        }

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
            margin-bottom: 2.1rem;
            font-family: Geometria;
        }

        &:hover {
            opacity: 0.8;
        }

        &:hover::before {
            width: 100%;
            opacity: 1;
        }

    }

    &__link {
        margin-top: auto;

        a {
            color: #4081FF;
            line-height: 1.2;
            font-size: 1.6rem;
            font-weight: 500;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 1px;
                width: 100%;
                height: 1px;
                background: #4081FF;
                opacity: 1;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }
        }
    }
}