.services {
    padding: 10rem 0 3rem;

    @media screen and (max-width:$large_tablet) {
        padding: 5rem 0 1rem;
    }
    &__tab {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        &-title {
            font-weight: bold;
            font-size: 2.2rem;
            margin-bottom: 1.3rem;
            line-height: 120.4%;
            color: #545454;
            font-family: Geometria;
        }

        &-text {
            font-family: Geometria;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 141.4%;
            color: #858C93;
            max-width: 27.3rem;
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -5rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
        }
    }

    &__img {
        max-width: 21rem;
        width: 100%;
        margin-right: 3rem;
        border-radius: 0.8rem;
        transition: all 0.5s;
        display: block;

        &:hover {
            transform: scale(0.95);
        }

        @media screen and (max-width:$large_tablet) {
            margin-right: 0;
            max-width: 100%;
        }

        >div {
            position: relative;
            padding-bottom: 100%;


            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
            }
        }

        &--one {
            background: rgba(34, 159, 187, 0.24);

            svg {
                width: 54.3%;
                fill: #22A0BB;
            }

            @media screen and (max-width:$large_tablet) {
                background: rgba(195, 195, 195, 0.26);

                &:hover {
                    background: rgba(34, 159, 187, 0.24);
                }

                svg {
                    fill: #ADADAD;
                }
            }
        }

        &--two {
            background: rgba(30, 90, 172, 0.3);

            svg {
                width: 63.3%;
            }

            @media screen and (max-width:$large_tablet) {
                background: rgba(195, 195, 195, 0.26);

                &:hover {
                    background: rgba(30, 90, 172, 0.3);
                }

                svg {
                    fill: #ADADAD;
                }
            }
        }

        &--three {
            background: rgba(64, 129, 255, 0.22);

            svg {
                width: 42%;
                fill: #4081FF;
            }

            @media screen and (max-width:$large_tablet) {
                background: rgba(195, 195, 195, 0.26);

                svg {
                    fill: #ADADAD;
                }

                &:hover {
                    background: rgba(64, 129, 255, 0.22);
                }
            }
        }

        &--four {
            background: rgba(123, 191, 107, 0.26);

            svg {
                width: 63.3%;
                fill: #4081FF;
            }

            @media screen and (max-width:$large_tablet) {
                background: rgba(195, 195, 195, 0.26);

                svg {
                    fill: #ADADAD;
                }

                &:hover {
                    background: rgba(123, 191, 107, 0.26);
                }
            }
        }
    }

    &__item {
        width: calc((100% - 5rem) / 2);
        display: flex;
        margin-bottom: 5rem;
        cursor: pointer;

        @media screen and (max-width:$large_tablet) {
            width: calc((100% - 2rem * 3) / 4);
            margin-bottom: 0;
            display: block;

            &.toogles__item-title--active {



                .services__img {
                    transform: scale(1);
                }

                .services__img--one {
                    background: rgba(34, 159, 187, 0.24);

                    svg {
                        fill: #22A0BB;
                    }
                }

                .services__img--two {
                    background: rgba(30, 90, 172, 0.3);

                    svg {
                        fill: #22A0BB;
                    }
                }

                .services__img--three {
                    background: rgba(64, 129, 255, 0.22);

                    svg {
                        fill: #4081FF;
                    }
                }

                .services__img--four {
                    background: rgba(123, 191, 107, 0.26);

                    svg {
                        fill: #22A0BB;
                    }
                }
            }
        }
    }



    &__info {
        padding-top: 2rem;
    }

    &__title {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 1.2;
        color: #545454;
        margin-bottom: 2.7rem;
        position: relative;
        display: inline-block;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 1.3rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -1px;
            width: 0%;
            height: 1px;
            background: #545454;
            opacity: 0;
            transition: all 0.5s;
        }

        &:hover::before {
            width: 100%;
            opacity: 1;
        }

    }

    &__text {
        color: #858C93;
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 27.3rem;
        width: 100%;
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 15/12*1;
        color: #000000;
        position: relative;
        text-decoration-line: underline;
        margin-bottom: 2rem;
        display: block;
    }
}