section#about.about
    .center-wrap
        .about__wrap
            .about__row
                .about__text.about__text--left
                    p 
                        | ООО "Новый уровень" — <br>
                        | это общедомовые приборы учёта <br>
                        | отопления и воды, монтаж, обслуживание,<br>
                        | автоматика на отопление<br> 
                        | и индивидуальные тепловые пункты.
            .about__row
                .about__text.about__text--right
                    p
                        | Мы работаем с 2013 года и за это время успешно<br> 
                        | установили более 100 систем автоматики<br>
                        | теплоснабжения и ИТП.<br> 
                        | Нам доверяют обслуживание систем и узлов учёта<br>
                        | тепловой энергии более 150<span class="desktop--hide"><br></span> многоквартирных домов<br>
                        | Перми.<br> 
                        | Мы предлагаем продукцию хорошего качества<br>
                        | по доступным ценам.<br>
                        | Предоставляем беспроцентную рассрочку<br>
                        | до 6 месяцев.  