section.contact#contact
    .center-wrap
        h2.simple-title.simple-title--color.contact__title
            | Контакты
        p.contact__subtitle.mobile--hide
            | Наши системы установлены по всей Перми
        .contact__wrap
            .contact__map
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2112.423643896554!2d56.311311016020134!3d58.031456281223726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c6a7e509da89%3A0x4ecaa08e9b43d5da!2z0YPQuy4g0JvQuNGE0LDQvdC-0LLQsCwgNDEsINCf0LXRgNC80YwsINCf0LXRgNC80YHQutC40Lkg0LrRgNCw0LksINCg0L7RgdGW0Y8sIDYxNDAxNA!5e0!3m2!1suk!2sua!4v1599678614177!5m2!1suk!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            p.contact__subtitle.desktop--hide
                | Наши системы установлены по всей Перми
            .contact__info
                .contact__row
                    <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M38.9504 30.8579L30.8542 25.4587C29.8268 24.779 28.4496 25.0027 27.69 25.9726L25.3317 29.0048C25.0286 29.4044 24.4777 29.5204 24.0392 29.2768L23.5906 29.0295C22.1035 28.2189 20.2531 27.2098 16.525 23.4803C12.7969 19.7509 11.7857 17.8991 10.9751 16.4147L10.7292 15.9661C10.4822 15.5278 10.596 14.9745 10.9958 14.669L14.0259 12.3114C14.9955 11.5517 15.2194 10.1749 14.5406 9.14714L9.14135 1.051C8.4456 0.00443778 7.04971 -0.309734 5.9726 0.337748L2.58709 2.37143C1.52334 2.99681 0.742912 4.00962 0.409446 5.19765C-0.80967 9.63965 0.107458 17.3059 11.4005 28.6002C20.3838 37.5828 27.0715 39.9985 31.6682 39.9985C32.7261 40.003 33.7798 39.8654 34.8011 39.5893C35.9893 39.2562 37.0023 38.4757 37.6273 37.4116L39.663 34.0281C40.3114 32.9508 39.9974 31.5541 38.9504 30.8579ZM38.5144 33.3442L36.4834 36.7297C36.0346 37.4977 35.3061 38.0624 34.4503 38.3055C30.3496 39.4313 23.1854 38.4988 12.3436 27.6571C1.50186 16.8153 0.569422 9.65168 1.69527 5.55033C1.93867 4.69359 2.50406 3.96408 3.27301 3.51462L6.65852 1.48359C7.12587 1.20238 7.73172 1.33869 8.03363 1.79284L10.9666 6.19617L13.4282 9.88828C13.723 10.3341 13.6262 10.9316 13.2056 11.2614L10.1747 13.6191C9.25235 14.3243 8.98895 15.6005 9.55684 16.6133L9.79751 17.0506C10.6494 18.613 11.7085 20.5567 15.5753 24.4228C19.4421 28.2889 21.3852 29.3481 22.9469 30.2L23.3848 30.4412C24.3975 31.0091 25.6737 30.7457 26.379 29.8234L28.7366 26.7925C29.0666 26.3722 29.6639 26.2754 30.1098 26.5699L38.2052 31.9691C38.6597 32.2707 38.796 32.8769 38.5144 33.3442Z" fill="url(#paint0_linear)"/>
                        <path d="M22.6656 6.67C28.921 6.67695 33.9902 11.7463 33.9972 18.0017C33.9972 18.3698 34.2956 18.6682 34.6638 18.6682C35.0319 18.6682 35.3303 18.3698 35.3303 18.0017C35.3226 11.0103 29.657 5.34457 22.6656 5.33691C22.2974 5.33691 21.999 5.63531 21.999 6.00346C21.999 6.3716 22.2974 6.67 22.6656 6.67Z" fill="url(#paint1_linear)"/>
                        <path d="M22.6656 10.6695C26.7131 10.6743 29.9931 13.9543 29.9978 18.0018C29.9978 18.3699 30.2963 18.6683 30.6644 18.6683C31.0325 18.6683 31.3309 18.3699 31.3309 18.0018C31.3254 13.2183 27.449 9.34189 22.6656 9.33643C22.2974 9.33643 21.999 9.63482 21.999 10.003C21.999 10.3711 22.2974 10.6695 22.6656 10.6695Z" fill="url(#paint2_linear)"/>
                        <path d="M22.6656 14.6685C24.5053 14.6707 25.9962 16.1616 25.9984 18.0014C25.9984 18.3695 26.2969 18.6679 26.665 18.6679C27.033 18.6679 27.3315 18.3695 27.3315 18.0014C27.3285 15.4257 25.2413 13.3383 22.6656 13.3354C22.2974 13.3354 21.999 13.6338 21.999 14.002C21.999 14.3701 22.2974 14.6685 22.6656 14.6685Z" fill="url(#paint3_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="20" y1="0.00146484" x2="20" y2="39.9986" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="28.6647" y1="5.33691" x2="28.6647" y2="18.6682" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="26.665" y1="9.33643" x2="26.665" y2="18.6683" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear" x1="24.6653" y1="13.3354" x2="24.6653" y2="18.6679" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    a(href="tel: +73422032012").contact__text.contact__text--tel
                        | +7(342)203-20-12
                .contact__row
                    <svg viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M38 0.666504H2C0.895469 0.666504 0 1.56189 0 2.6665V29.3331C0 30.4377 0.895391 31.3331 2 31.3331H38C39.1045 31.3331 40 30.4378 40 29.3331V2.6665C40 1.56197 39.1046 0.666504 38 0.666504ZM38.6666 29.3332C38.6666 29.7014 38.3682 29.9999 38 29.9999H2C1.6318 29.9999 1.33336 29.7014 1.33336 29.3332V2.6665C1.33336 2.2983 1.6318 1.99986 2 1.99986H38C38.3682 1.99986 38.6666 2.2983 38.6666 2.6665V29.3332Z" fill="url(#paint0_linear)"/>
                        <path d="M36.7246 3.33607C36.5484 3.32068 36.3733 3.37591 36.2379 3.48966L20.8578 16.4096C20.3618 16.8265 19.6378 16.8265 19.1418 16.4096L3.7619 3.48959C3.57948 3.33646 3.32917 3.29224 3.10534 3.37365C2.88151 3.45505 2.71808 3.64974 2.67667 3.88435C2.63526 4.11896 2.72214 4.35779 2.90456 4.51091L18.2846 17.4302C19.2758 18.2648 20.7239 18.2648 21.7153 17.4302L37.0952 4.51099C37.2307 4.39732 37.3153 4.23451 37.3307 4.05834C37.3461 3.88216 37.2909 3.70709 37.1771 3.5717C37.0635 3.43615 36.9007 3.35146 36.7246 3.33607Z" fill="url(#paint1_linear)"/>
                        <path d="M12.8222 17.3383C12.5862 17.2856 12.3402 17.3648 12.1793 17.5453L2.84593 27.5453C2.67703 27.7183 2.615 27.9692 2.6839 28.2009C2.75281 28.4327 2.94179 28.609 3.17773 28.6616C3.41375 28.7143 3.65968 28.6351 3.82062 28.4546L13.154 18.4546C13.3229 18.2816 13.3849 18.0307 13.316 17.799C13.2471 17.5673 13.0582 17.3909 12.8222 17.3383Z" fill="url(#paint2_linear)"/>
                        <path d="M27.8206 17.5453C27.6598 17.3648 27.4137 17.2856 27.1777 17.3383C26.9417 17.3909 26.7528 17.5673 26.6839 17.799C26.615 18.0308 26.677 18.2816 26.8459 18.4546L36.1793 28.4546C36.4324 28.7138 36.8462 28.7235 37.1111 28.4763C37.376 28.2291 37.3951 27.8157 37.154 27.5452L27.8206 17.5453Z" fill="url(#paint3_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="20" y1="0.666504" x2="20" y2="31.3331" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="19.9999" y1="3.3335" x2="19.9999" y2="18.0562" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="7.99996" y1="17.3223" x2="7.99996" y2="28.6777" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear" x1="31.9896" y1="17.3223" x2="31.9896" y2="28.6556" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    .contact__text
                        | new_area@mail.ru
                .contact__row
                    <svg viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1228 28.0652C14.7702 30.4459 16.4149 32.5752 17.5049 33.9466C17.6635 34.1462 17.8122 34.3313 17.9562 34.5097H14.6669C14.2987 34.5097 14.0002 34.8156 14.0002 35.193C14.0002 35.5704 14.2987 35.8763 14.6669 35.8763H25.3335C25.7017 35.8763 26.0001 35.5704 26.0001 35.193C26.0001 34.8156 25.7017 34.5097 25.3335 34.5097H22.0442C22.1882 34.3313 22.3368 34.1461 22.4962 33.9466C23.5855 32.5799 25.2296 30.4459 26.8776 28.0652C28.5127 25.7505 29.9844 23.3192 31.2816 20.7897C32.6429 18.0495 33.3336 15.7748 33.3336 14.0282C33.3381 10.3989 31.9331 6.91712 29.4289 4.3514C29.2616 4.17363 29.0138 4.1022 28.7807 4.16458C28.5476 4.22696 28.3654 4.41338 28.3042 4.65226C28.243 4.89113 28.3123 5.14522 28.4855 5.31691C30.7396 7.62669 32.0042 10.761 32.0002 14.0281C32.0002 15.5574 31.3589 17.6238 30.0936 20.1692C28.8257 22.64 27.3873 25.015 25.7896 27.2759C24.1643 29.6259 22.5396 31.7313 21.4629 33.0843C21.105 33.5339 20.7829 33.9316 20.5082 34.2678C20.38 34.4179 20.1949 34.5039 20.0003 34.5039C19.8057 34.5039 19.6205 34.4178 19.4923 34.2678C19.2176 33.9317 18.8957 33.5339 18.5376 33.0843C17.461 31.732 15.8363 29.6266 14.211 27.2759C12.6132 25.015 11.1748 22.64 9.90695 20.1692C8.64031 17.6238 8.0003 15.5574 8.0003 14.0281C7.99991 9.07851 10.8877 4.60869 15.3337 2.6772C18.321 1.39322 21.6864 1.39322 24.6737 2.6772C24.8931 2.77249 25.1454 2.7407 25.3356 2.5936C25.5258 2.44658 25.6251 2.20666 25.5959 1.96426C25.5668 1.72187 25.4137 1.51382 25.1944 1.41853C18.4054 -1.51651 10.5805 1.74381 7.71499 8.7015C7.02006 10.3868 6.66366 12.1984 6.66702 14.0281C6.66702 15.7747 7.35772 18.0495 8.71906 20.7931C10.0161 23.3214 11.4879 25.7516 13.1228 28.0652Z" fill="url(#paint0_linear)"/>
                        <path d="M20.0005 7.85978C20.3687 7.85978 20.6671 7.55388 20.6671 7.17647C20.6671 6.79906 20.3687 6.49316 20.0005 6.49316C16.82 6.49308 14.0823 8.79598 13.4618 11.9934C12.8412 15.1907 14.5107 18.3921 17.4491 19.6397C20.3874 20.8873 23.7764 19.8336 25.5435 17.123C27.3105 14.4124 26.9634 10.7999 24.7145 8.49464C24.5471 8.31703 24.2993 8.24576 24.0661 8.3083C23.8331 8.37084 23.651 8.55743 23.59 8.7963C23.529 9.03525 23.5985 9.28926 23.7718 9.46087C25.5711 11.305 25.8488 14.1949 24.4353 16.3635C23.0217 18.532 20.3106 19.3751 17.9599 18.3771C15.6091 17.3792 14.2735 14.8181 14.7698 12.2602C15.266 9.70223 17.4561 7.85986 20.0005 7.85978Z" fill="url(#paint1_linear)"/>
                        <path d="M39.749 37.6333L35.649 30.1165C35.2783 29.4487 34.5846 29.0382 33.835 29.043H29.0837C28.7155 29.043 28.417 29.3489 28.417 29.7263C28.417 30.1037 28.7155 30.4096 29.0837 30.4096H33.835C34.1019 30.4043 34.3509 30.547 34.4863 30.7827L38.585 38.2994C38.6967 38.495 38.6943 38.7375 38.579 38.9309C38.4428 39.1615 38.1966 39.2996 37.9337 39.2931H2.06693C1.80428 39.2995 1.55834 39.1612 1.42224 38.9309C1.30693 38.7375 1.30467 38.495 1.41623 38.2994L5.51491 30.7827C5.65015 30.547 5.8989 30.4044 6.16554 30.4096H10.9169C11.2851 30.4096 11.5835 30.1037 11.5835 29.7263C11.5835 29.3489 11.2851 29.043 10.9169 29.043H6.16562C5.41562 29.038 4.7214 29.4485 4.3503 30.1165L0.250912 37.6333C-0.0908864 38.2521 -0.0829957 39.0113 0.271615 39.6225C0.64521 40.2734 1.33029 40.6692 2.06693 40.6598H37.9337C38.6701 40.669 39.355 40.2732 39.7284 39.6225C40.083 39.0112 40.0909 38.2521 39.749 37.6333Z" fill="url(#paint2_linear)"/>
                        <path d="M32.667 32.46H30.0003C29.8687 32.4602 29.74 32.5001 29.6303 32.5748L27.6303 33.9415C27.324 34.151 27.2413 34.5753 27.4456 34.8893C27.65 35.2033 28.064 35.288 28.3703 35.0786L30.2003 33.8267H32.667C33.0352 33.8267 33.3336 33.5208 33.3336 33.1434C33.3336 32.7659 33.0352 32.46 32.667 32.46Z" fill="url(#paint3_linear)"/>
                        <path d="M28.667 37.2429C28.667 37.6203 28.9654 37.9262 29.3336 37.9262H34.667C35.0352 37.9262 35.3337 37.6203 35.3337 37.2429C35.3337 36.8655 35.0352 36.5596 34.667 36.5596H29.3336C28.9654 36.5596 28.667 36.8655 28.667 37.2429Z" fill="url(#paint4_linear)"/>
                        <path d="M12.0003 35.1934C12.2942 35.1938 12.5537 34.9968 12.639 34.7085C12.7244 34.4202 12.6155 34.1086 12.371 33.9415L10.371 32.5748C10.2611 32.5 10.1322 32.46 10.0003 32.46H7.33364C6.96543 32.46 6.66699 32.7659 6.66699 33.1433C6.66699 33.5207 6.96551 33.8266 7.33364 33.8266H9.80029L11.6323 35.0784C11.7413 35.1531 11.8694 35.193 12.0003 35.1934Z" fill="url(#paint5_linear)"/>
                        <path d="M5.33364 36.5596C4.96543 36.5596 4.66699 36.8655 4.66699 37.2429C4.66699 37.6203 4.96543 37.9262 5.33364 37.9262H10.667C11.0352 37.9262 11.3337 37.6203 11.3337 37.2429C11.3337 36.8655 11.0352 36.5596 10.667 36.5596H5.33364Z" fill="url(#paint6_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="20.0003" y1="0.339844" x2="20.0003" y2="35.8763" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="20.0001" y1="6.49316" x2="20.0001" y2="20.1606" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="20" y1="29.043" x2="20" y2="40.66" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear" x1="30.3336" y1="32.46" x2="30.3336" y2="35.1935" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint4_linear" x1="32.0003" y1="36.5596" x2="32.0003" y2="37.9262" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint5_linear" x1="9.66742" y1="32.46" x2="9.66742" y2="35.1934" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        <linearGradient id="paint6_linear" x1="8.00032" y1="36.5596" x2="8.00032" y2="37.9262" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#3D4356"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    .contact__text
                        | г.Пермь, ул. Лифанова, 41
                .contact__schedule
                    p.contact__column
                        span.contact__column-title Часы работы:
                        span.contact__column-time 09:00–18:00
                    p.contact__column
                        span.contact__column-title Обед:
                        span.contact__column-time 13:00–14:00





