section.faq#faq
    .center-wrap
        h2.simple-title.simple-title--color.faq__title
            | Ответы на частые вопросы
        .faq__list
            .faq__item.faq__item--active
                h3.faq__item-title
                    | Можно ли установить автоматику на отопление в наш старый дом?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Да, можно! В старых домах автоматика работает ничуть не хуже, чем в новых и не только помогает
                    | экономить, но ещё и выравнивает среднюю температуру по дому. У вас больше не будет так, что в середине
                    | дома в комнате 26 градусов, а в угловых 19 градусов.

            .faq__item
                h3.faq__item-title
                    | Можно ли использовать счёт капитального ремонта для оплаты?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Да, можно! Большинство новых договоров мы заключаем как раз с использованием счёта кап. ремонта. Мы
                    | работаем по предоплате в 30%, а на оставшиеся 70% предлагаем беспроцентную рассрочку до 6 месяцев.
            .faq__item
                h3.faq__item-title
                    | Сколько времени занимает монтаж оборудования?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Большую часть времени (3-4 недели) занимает подготовительные работы: запрос технических условий в
                    | теплоснабжающей организации, проектирование и согласование проекта, сам же монтаж проходит в 2 дня
                    | - сварочные работы в первый день и электромонтажные во второй.
            .faq__item
                h3.faq__item-title
                    | Какие гарантии?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Законодательство РФ обязывает нас давать гарантию на работы по кап. ремонту на 5 лет. А мы и не против!
            .faq__item
                h3.faq__item-title
                    | Как начать с вами работать?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Оставьте заявку на new_area@mail.ru или позвоните по номеру 203-20-12. Мы сделаем бесплатное
                    | обследование вашего дома и подготовим коммерческое предложение, затем вы на общедомовом собрании
                    | наберёте две трети голосов за установку автоматики и на основании этого мы уже составим договор и
                    | смету. Так же мы можем приехать на ваше собрание, чтобы ответить на все вопросы жильцов.
            .faq__item
                h3.faq__item-title
                    | Почему мы должны вам доверять?
                    span.faq__item-arrow
                        <svg viewBox="0 0 10 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07196 12.4934C9.07213 12.3491 9.03292 12.2107 8.96291 12.1086L0.747724 0.15256C0.599396 -0.0559738 0.362988 -0.0499618 0.219701 0.165909C0.0799497 0.376532 0.0799498 0.7104 0.219701 0.920972L8.1705 12.4933L0.218967 24.0646C0.0706386 24.2731 0.0665426 24.6171 0.209795 24.833C0.353082 25.0489 0.589455 25.0549 0.737818 24.8464C0.740934 24.842 0.743979 24.8376 0.74699 24.833L8.96217 12.8771C9.03226 12.7754 9.07171 12.6373 9.07196 12.4934Z" />
                        </svg>
                p.faq__item-text
                    | Мы работаем уже 7 лет и стараемся сохранять репутацию и хорошие отношения с нашими клиентами. Но не
                    | стоит верить нам на слово: мы подберем несколько ближайших к вам домов, где уже стоит наша система и
                    | познакомим вас с председателями этих домов. Так же с некоторых домов мы сможем предоставить
                    | ежемесячные отчёты с общедомовых приборов учёта до установки и после. Убедитесь в выгоде
                    | предложения перед тем, как соглашаться!