footer.footer
    .center-wrap
        .footer__wrap
            .footer__copyright.mobile--hide
                p 2020
            .footer__confid(onclick='show_popup("privacy")') Политика обработки персональных данных
            .footer__development
                | Разработка дизайна — Пономарева Дарья 
                
        