section.information
    .center-wrap
        h2.simple-title.simple-title--color.information__title
            | Полезная информация
        .information__wrap
            .information__item.information__item--bg(onclick='show_popup("info1")')
                img(src="assets/images/information__img.png", alt="")
                p.information__text
                    | Как вернуть до 80% затрат на ИТП на
                    | счет капительного ремонта?
            .information__item(onclick='show_popup("info2")')
                p.information__text
                    | Резульататы установки автоматики
                    |  на отопление или ИТП