section.main-screen#main-screen
    .center-wrap
        h2.main-screen__title
            | Системы автоматического погодного регулирования теплоснабжения 
            | и индивидуальные тепловые пункты
        h3.main-screen__subtitle
            | В Перми по низким ценам в рассрочку
        .main-screen__btn
            .btn(onclick='show_popup("request")') Оставить заявку
    .main-screen__img
         img(src="assets/images/main-screen__img.png", alt="")
    .main-screen__row
        .main-screen__item.main-screen__item--left.anchors
            .main-screen__item-title
                p Системы автоматического погодного регулирования теплоснабжения и индивидуальные тепловые пункты
            a(href="services").link Наши услуги
        .main-screen__item.main-screen__item--center.anchors
            .main-screen__item-title
                p Более 100 систем установлено на объектах в Перми
            a(href="about").link О компании
        .main-screen__item.main-screen__item--right
            .main-screen__item-title
                p Вернуть до 80% затрат на ИТП
            .link(onclick='show_popup("info1")') Подробнее