section.maintenance
    .center-wrap
        h4.maintenance__title Настройка и обслуживание индивидуальных тепловых пунктов
        p.maintenance__text Если в вашем доме уже установлено ИТП, но имеются проблемы с отоплением или горячей водой, то мы сможем помочь их устранить, а наше обслуживание поможет не допускать этих проблем в будущем.
        h4.maintenance__title В стоимость обслуживания входит:
        .maintenance__list
            .maintenance__item
                .maintenance__item-title Удалённое управление автоматикой в ИТП
                span.maintenance__item-icon(style="background-image: url(assets/images/bulb.svg);")
                .maintenance__item-text Установим модемы за свой счет и сможем следить за всеми параметрами удаленно в реальном времени
            .maintenance__item
                .maintenance__item-title Круглосуточная диспетчерская
                span.maintenance__item-icon(style="background-image: url(assets/images/time.svg);")
                .maintenance__item-text Вы в любое время можете поднять температуру горячей воды или убавить отопление
            .maintenance__item.maintenance__item--opacity
            .maintenance__item
                .maintenance__item-title Переходы в летний/зимний режим автоматикой в ИТП
                span.maintenance__item-icon(style="background-image: url(assets/images/wheel.svg);")
            .maintenance__item
                .maintenance__item-title Профилактические работы в летний период
                span.maintenance__item-icon(style="background-image: url(assets/images/tool.svg);")
            .maintenance__item
                .maintenance__item-title Все работы с приборами учетаможно включить в обслуживание ИТП
                span.maintenance__item-icon(style="background-image: url(assets/images/money.svg);")