.reports
    .reports__wrap
        .reports__item
            .reports__title
                | Целинная, 17
            .reports__before
                .reports__before-title
                    | До установки:
                .reports__before-price
                    | 460 Гкал / 900 000р
            .reports__after.reports__after--small
                .reports__after-title
                    | После установки:
                .reports__after-price
                    | 253 Гкал / 500 000р
        .reports__item
            .reports__title
                | Молдавская, 4
            .reports__before.reports__before--small
                .reports__before-title
                    | До установки:
                .reports__before-price
                    | 390 Гкал / 760 000р
            .reports__after
                .reports__after-title
                    | После установки:
                .reports__after-price
                    | 290 Гкал / 560 000р
    .reports__text
        | * оригинальные отчеты предоставляем по запросу