section.reviews#reviews
    .center-wrap
        h2.simple-title.reviews__title.simple-title--color Отзывы клиентов
        .reviews__list
            .reviews__item.reviews__item--right
                p.reviews__item-title Андрей Сергеевич, председатель ТСЖ Ветеран.
                p.reviews__item-text
                    | В нашем ТСЖ 3 дома: Васькина, 3, Васькина, 5 и Щербакова, 40. На первые два дома мы установили еще в 2018 году, остались довольны результатом: Третий дом очень длинный и в крайних подъездах не было никогда так тепло, при этом не надо самим ничего регулировать и поджимать. В этом году мы решили установить уже и на Щербакова, 40. Отопительный сезон ещё не начался, но мы уже уверены, что всё будет работать, как часы.
            .reviews__item.reviews__item--left
                p.reviews__item-title Валентина Владимировна, председатель ТСЖ Парковый 45а.
                p.reviews__item-text
                    | Установили автоматику вместе с новыми приборами учёта и лежанкой в 2017 году. За первый месяц (октябрь) заплатили за отопление на 170тр меньше, чем за октябрь 2016. В целом все вложения окупились за первый отопительный сезон, а это около 600тр.
            .reviews__item.reviews__item--right
                p.reviews__item-title Вячеслав Васильевич, старший по дому Целинная, 17.
                p.reviews__item-text
                    | Для нас главное было не столько получить экономию с помощью автоматики, сколько сделать так, чтобы во всём доме было тепло, ведь он у нас длинный, восемь подъездов и в угловых квартирах всегда было холоднее на 5 градусов, чем в середине дома. Автоматика справилась и при этом мы потребляем в среднем на 500 Гкал в год меньше. Очень довольны, что выбрали эту компанию.
            .reviews__item.reviews__item--left
                p.reviews__item-title Зинаида Валентиновна, председатель ТСЖ Евгения Пермяка, 1.
                p.reviews__item-text
                    | Сначала сильно скептически относилась к этой затее, но ребята меня смогли убедить и я не пожалела - платить стали гораздо меньше, дома тепло и если вдруг захочется добавить тепла, когда на улице слишком ветрено или дождь, то я звоню в диспетчерскую в любое время и в течение получаса становится теплее- у них всё делается с компьютера.