section.services#services
    .center-wrap
        h2.simple-title.simple-title--color.services__title Наши услуги
        .grid
            .grid__item(onclick='show_popup("request")')
                .grid__item-title Индивидуальный тепловой пункт (ИТП)
                .grid__item-text Автоматизированное ИТП с пластинчатыми теплообменниками позволяет выставлять температуру отопления и горячей воды
                .grid__item-bottom
                    p.grid__item-price от 300 000 р.
                    .link.link--arrow Подробнее
            .grid__item(onclick='show_popup("request")')
                .grid__item-title Узел учета тепловой энергии (УУТП)
                .grid__item-text Приборы учета на отопление и гвс/хвс.Проектные работы, согласования и ввод в эксплуатацию
                .grid__item-bottom.grid__item-bottom--row
                    p.grid__item-price от 130 000 р.
                    .link.link--arrow Подробнее
            .grid__item(onclick='show_popup("request")')
                .grid__item-title Обслуживание узла учета тепловой энергии
                .grid__item-text Снятие месячного отчета о теплопотреблении, контроль за сроками проверок, акты повторного допуска 
                .grid__item-bottom.grid__item-bottom--row
                    p.grid__item-price от 500 р.
                    .link.link--arrow Подробнее
            .grid__item(onclick='show_popup("request")')
                .grid__item-title Обслуживание автоматики на отопление и ИТП
                .grid__item-text Техническое обслуживание оборудования, круглосуточная диспетчерская линия, дистанционное управление параметрами
                .grid__item-bottom
                    p.grid__item-price от 1000 р.
                    .link.link--arrow Подробнее
            .grid__item(onclick='show_popup("request")')
                .grid__item-title Автоматка теплоснабжения (2 контур)
                .grid__item-text Система автоматического погодного регулирования отопления позволяет выровнять температуру по всему дому и сэкономить до 40%
                .grid__item-bottom.grid__item-bottom--row
                    p.grid__item-price от 200 000 р.
                    .link.link--arrow Подробнее