.basket {
    &__title {
        text-align: left;
        margin-bottom: 6rem;

        &::before {
            width: 0;
            height: 0;
        }

        @media screen and (max-width:$large_tablet) {
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    &__box {
        margin-bottom: 5rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 0;
        }

        &-title {
            font-family: $font-secondary;
            font-weight: bold;
            font-size: 3.4rem;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 4.5rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.9rem;
                margin-bottom: 3rem;
            }
        }

        &-text {
            font-size: 2.4rem;
            line-height: 1;
            margin-top: 3.5rem;
            margin-bottom: 8rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
                margin-top: 2rem;
                margin-bottom: 4rem;
            }
        }
    }

    &__payment {
        &-descr {
            color: $color-secondary;
            font-size: 1.8rem;
            line-height: 111%;

            @media screen and (max-width:$large_tablet) {
                font-size: 12px;
            }
        }

        &-item {
            max-width: 16rem;
            width: 100%;
            color: $color-secondary;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 1;
            margin-right: 3rem;

            &:last-child {
                margin-right: 0px;
            }

            .mobile-basket & {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                max-width: 100%;
                padding-bottom: 5px;
                border-bottom: 1px solid #E5E5E5;

                &:last-child {
                    border: none;
                }
            }

            &--amount {
                max-width: 12rem;
                margin-right: 12rem;

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 0.8rem;
                }

                p {
                    font-size: 1.8rem;
                    line-height: 111%;
                    color: $color-secondary;
                    text-transform: lowercase;
                    font-family: $font-primary;
                    font-weight: 300;
                    font-style: normal;

                    .mobile-basket & {
                        @media screen and (max-width:$large_tablet) {
                            font-size: 1.2rem;
                        }
                    }
                }


            }

            &--product {
                margin-right: auto;

            }

            &--hide {
                width: 1.6rem;
                height: 0;
            }
        }

        &-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s;

            @media screen and (max-width: $large-tablet) {
                width: 15px;
                height: 15px;
            }

            div {
                width: 100%;
                height: 1px;
                position: absolute;
                background: #000;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }

            &:hover {
                opacity: 0.7;
            }
        }

        &-header {
            margin-bottom: 3rem;
        }

        &-body {
            padding: 3.5rem 0;
            border-bottom: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            margin-bottom: 3.5rem;

            @media screen and (max-width:$large_tablet) {
                padding: 2rem 0;
                margin-bottom: 2rem;
            }

            @media screen and (max-width:$large_mobile) {
                padding: 2rem 20px;
                width: calc(100% + 40px);
                margin: 0 -20px 2rem;
            }

            .mobile-basket & {
                flex-direction: column;
                margin-bottom: 1.5rem;

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 20px;
                }
            }

            .price {
                font-size: 3.6rem;
                max-width: 16rem;
                width: 100%;
                margin-right: 3rem;
                line-height: 1;

                @media screen and (max-width:$large_tablet) {
                    font-size: 2.8rem;
                }

                .mobile-basket & {
                    margin-right: 0;
                    margin-left: auto;
                    margin-bottom: 0;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 20px;
                    }
                }

            }

            .mobile-basket & {
                padding: 0;
                border: none;

                @media screen and (max-width:$large_mobile) {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        &-header,
        &-body {
            display: flex;
            align-items: center;

        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 7rem;
            }

            .price {
                font-size: 4.2rem;

                @media screen and (max-width:$large_tablet) {
                    font-size: 2.8rem;
                }
            }
        }

        &-cost {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
                max-width: 12rem;
                width: 100%;
                line-height: 157%;
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            margin-right: auto;
            max-width: 51rem;
            width: 100%;

            .mobile-basket & {
                max-width: 100%;
                padding: 0 20px;
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0px;
                }

                @media screen and (max-width:$large_tablet) {
                    padding: 0 15px;
                }
            }

        }

        &-info {
            @media screen and (max-width:$large_tablet) {
                width: calc(100% - 10rem - 2.4rem);
            }

            .mobile-basket & {
                width: calc(100% - 22rem - 2rem);

                @media screen and (max-width:$large_tablet) {
                    width: calc(100% - 80px - 10px);
                }
            }
        }

        &-img {
            max-width: 10rem;
            width: 100%;
            margin-right: 2.4rem;

            .mobile-basket & {
                max-width: 22rem;
                margin-right: 2rem;

                @media screen and (max-width:$large_tablet) {
                    margin-right: 10px;
                    max-width: 80px;
                }
            }

            >div {
                position: relative;
                padding-bottom: 100%;

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-title {
            font-family: $font-secondary;
            font-weight: bold;
            font-size: 2.8rem;
            line-height: 121%;
            margin-bottom: 1rem;
            display: block;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.6rem;
                margin-bottom: 0;
            }

            .mobile-basket & {
                text-align: center;
                margin-bottom: 0;

                @media screen and (max-width:$large_tablet) {
                    font-size: 16px;
                }
            }
        }

        &-size {
            p {
                color: $color-secondary;
                font-size: 1.8rem;
                line-height: 111%;
            }

            span {
                font-size: 2rem;
                line-height: 1;
                color: $color-primary;
                margin-left: 2rem;
            }
        }

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.8rem;

            .mobile-basket & {
                align-items: flex-start;
                margin-bottom: 2rem;

                @media screen and (max-width:$large_tablet) {
                    align-items: center;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    &__checkbox {
        .price {
            font-size: 2.8rem;
            display: block;

            @media screen and (max-width:$large_tablet) {
                font-size: 3.6rem;
            }
        }
    }

    &__total {
        margin-bottom: 10rem;

        .price {
            font-size: 4.8rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 2.8rem;
            }
        }

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 7rem;
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3rem 0;
            border-bottom: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;

            @media screen and (max-width:$large_tablet) {
                border: none;
                padding: 0;
            }
        }

        &-text {
            font-weight: 500;
            font-size: 2.6rem;
            line-height: 1;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
                max-width: 13rem;
                width: 100%;
                line-height: 157%;
            }
        }
    }
}