.composition {
    padding-top: 4rem;
    padding-bottom: 15rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__title {
        text-align: left;
        margin-bottom: 3rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 4.5rem;
            margin-bottom: 5rem;
        }

        &::before {
            width: 0;
            height: 0;
        }
    }

    &__info {
        max-width: 88.5rem;
        width: 100%;
        margin-left: auto;

        &-title {
            font-weight: normal;
            font-size: 2.1rem;
            line-height: 152%;
            margin-bottom: 4rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 2.8rem;
            }
        }

        &-text {
            font-size: 2.1rem;
            line-height: 152%;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.6rem;
            }
        }
    }

    &__list {
        margin-bottom: 4rem;
    }

    &__item {
        color: $color-secondary;
        font-size: 2.1rem;
        line-height: 152%;
        padding-left: 1.2rem;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 1.5rem;
            left: 0;
            width: 0.4rem;
            height: 1px;
            background-color: $color-secondary;

            @media screen and (max-width:$large_tablet) {
                top: 1.1rem;
            }
        }
    }


}