.hit {
    padding: 15rem 0;

    .center-wrap {
        padding: 0;
    }

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 9rem;
        padding-top: 4rem;
    }

    &__title {
        margin-bottom: 12.2rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 5rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}