.instagram {
    padding: 19.2rem 0;
    position: relative;

    @media screen and (max-width:$large_tablet) {
        padding-top: 9rem;
        padding-bottom: 0;
    }

    &__img {
        position: absolute;
        bottom: -1px;
        right: 11.5rem;
        width: 39.4%;

        @media screen and (max-width:$large_tablet) {
            width: 28.7rem;
            right: auto;
            // left: 0;
            margin: 0 auto -1px;
            position: relative;
        }
    }

    &__info {
        max-width: 65.2rem;
        width: 100%;
        padding-right: 10rem;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
            padding-right: 0;
        }
    }

    &__title {
        margin-bottom: 11.5rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 3.4rem;
            margin-bottom: 7.8rem;
        }
    }

    &__text {
        font-size: 2rem;
        line-height: 160%;
        margin-bottom: 5rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.8rem;
            margin-bottom: 2.6rem;
        }
    }

    &__link {
        text-align: right;
        margin-right: -10rem;
        padding: 0 1.5rem;

        @media screen and (max-width:$large_tablet) {
            margin-right: 0;
            text-align: center;
            margin-bottom: 4.4rem;
        }

        a {
            font-family: $font-secondary;
            font-weight: bold;
            font-size: 3.6rem;
            line-height: 1;
            color: #181818;
            position: relative;

            @media screen and (max-width:$large_tablet) {
                font-size: 2.4rem;
            }
        }

        svg {
            fill: #181818;
            opacity: 0.7;
            width: 4rem;
            margin-left: 1.5rem;
            transition: margin-left 0.3s;

            @media screen and (max-width:$large_tablet) {
                width: 3rem;
            }
        }


            &:hover {
                svg {
                    margin-left: 1rem;
                }
            }
    }
}