.main-screen {
    position: relative;
    overflow: hidden;

    &--product {}

    &__img {
        .main-screen--product & {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;
            padding: 20.7rem 0;
            position: relative;

            @media screen and (max-width:$large_tablet) {
                padding: 4rem 0 5rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(0.39deg, #FFFFFF 23.17%, rgba(255, 255, 255, 0.800563) 54.57%, rgba(255, 255, 255, 0) 125.16%);
                z-index: 1;
            }

            &-title {
                font-family: $font-secondary;
                font-weight: bold;
                font-size: 6.2rem;
                line-height: 123%;
                text-transform: uppercase;
                margin-bottom: 2rem;
                position: relative;
                z-index: 2;

                @media screen and (max-width:$large_tablet) {
                    font-size: 2.8rem;
                    margin-bottom: 1.5rem;
                }
            }

            &-subtitle {
                font-size: 2rem;
                line-height: 150%;
                color: $color-secondary;
                position: relative;
                z-index: 2;
                max-width: 53.7rem;
                width: 100%;
                margin: 0 auto;

                @media screen and (max-width:$large_tablet) {
                    font-size: 1.2rem;
                }
            }
        }

        .main-screen--about & {
            min-height: 64.5rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @media screen and (max-width:$large_tablet) {
                min-height: 18rem;
            }
        }

        .main-screen--delivery & {
            min-height: 59rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @media screen and (max-width:$large_tablet) {
                min-height: 18rem;
            }
        }

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}