.production {
    padding-bottom: 5rem;
    background-color: #fff;

    &--about {
        background-color: #F2F2F2;
        padding-top: 15rem;
        padding-bottom: 4rem;

        @media screen and (max-width:$large_tablet) {
            padding-bottom: 0;
            padding-top: 9rem;
        }
    }

    &__title {
        margin-bottom: 12.3rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 2.6rem;
            margin-bottom: 7.6rem;
        }
    }
}