.product {
    padding-top: 7rem;
    padding-bottom: 10rem;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 5rem;
        padding-top: 3rem;
    }

    .breadcrumbs {
        margin-bottom: 4.4rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 4rem;
        }
    }

    &__wrap {
        display: flex;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }
    }

    &__left {
        width: calc((100% - 50rem - 6rem));
        margin-right: 6rem;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 8rem;
        }
    }

    &__info {
        max-width: 50rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
        }

        &-box {
            margin-bottom: 3rem;
            max-width: 40rem;
            width: 100%;

            p {
                font-size: 1.8rem;
                line-height: 111%;
                color: $color-secondary;

                @media screen and (max-width:$large_tablet) {
                    font-size: 1.6rem;
                }

                &:first-child {
                    padding-bottom: 1.5rem;
                    border-bottom: 1px solid #E5E5E5;
                }

                &:last-child {
                    padding-top: 1.5rem;
                }

                span {
                    font-size: 2rem;
                    line-height: 1;
                    color: $color-primary;

                    @media screen and (max-width:$large_tablet) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    &__input {
        max-width: 40rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
        }

        &-descr {
            font-size: 1.5rem;
            line-height: 173%;
            color: $color-secondary;
            max-width: 36.4rem;
            width: 100%;
            margin-bottom: 4rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.3rem;
            }
        }
    }

    &__code {
        font-style: italic;
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1;
        text-transform: lowercase;
        color: $color-secondary;
        margin-bottom: 2rem;
    }

    &__title {
        text-align: left;
        margin-bottom: 2rem;
        line-height: 121%;

        &:before {
            display: none;
        }

        @media screen and (max-width:$large_tablet) {
            text-align: center;
            font-size: 4.6rem;
        }
    }

    &__price {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:$large_tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        span {
            font-style: italic;
            font-family: $font-secondary;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 1;
            text-transform: lowercase;
            color: $color-secondary;
            margin-bottom: 1rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.8rem;
                margin-bottom: 0;

            }
        }

    }

    &__btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.5rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3.5rem;
        }

        .btn {
            line-height: 6rem;
            padding: 0 1rem;
            font-size: 1.8rem;
            width: calc(50% - 1rem);

            @media screen and (max-width:$large_tablet) {
                font-size: 1.3rem;
                line-height: 3.75rem;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:$large_tablet) {
            flex-wrap: wrap;
            justify-content: start;
        }

        p {
            font-weight: normal;
            font-size: 2rem;
            line-height: 1;
            text-transform: uppercase;
            color: $color-primary;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.6rem;
                margin-right: 2rem;
            }
        }
    }

    &__guarantee {
        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-bottom: 1.5rem;
        }

        a {
            font-weight: normal;
            font-size: 2rem;
            line-height: 1;
            position: relative;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.6rem;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 0.4rem;
                width: 100%;
                height: 1px;
                background: $color-primary;
                opacity: 1;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }

        }
    }

    .socials {
        &__link {
            @media screen and (max-width:$large_tablet) {
                width: 1rem;
            }

            &--instag {
                width: 1.8rem;

                @media screen and (max-width:$large_tablet) {
                    width: 1rem;
                }
            }

            &--facebook {
                width: 1rem;

                @media screen and (max-width:$large_tablet) {
                    width: 0.5rem;
                }
            }

            svg {
                fill: $color-primary;
            }

            &+.socials__link {
                margin: 0 0 0 4rem;

                @media screen and (max-width:$large_tablet) {
                    margin: 0 0 0 2.5rem;
                }

            }
        }
    }
}