mixin history(params) 
    if params.class == 'history--index'
        section.history
            .history__wrap
                h2.simple-title.history__title(data-animation-type='bottom' data-animation-duration='2000') наша история
                .history-slider
                    .history__img
                        div
                            img(src="assets/images/history-slider_bg.png")
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .history-slider__wrap
                                    .history-slider__info
                                        .history-slider__text(data-animation-type='bottom' data-animation-duration='2000')
                                            p Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. 
                                            p Уникальные изделия удовлетворят даже самых требовательных покупателей. Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
                                        .history-slider__btn(data-animation-type='bottom' data-animation-duration='2000')
                                            a.btn(href='/about.html') Узнать больше
                                    .history-slider__img
                                        div
                                            img(src="assets/images/history-slider__img.png" data-animation-type='img' data-animation-duration='5000')
                            .swiper-slide
                                .history-slider__wrap
                                    .history-slider__info
                                        .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                            p Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. 
                                            p Уникальные изделия удовлетворят даже самых требовательных покупателей. Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
                                        .history-slider__btn(data-animation-type='bottom' data-animation-duration='2000')
                                            a.btn(href='/about.html') Узнать больше
                                    .history-slider__img
                                        div
                                            img(src="assets/images/history-slider__img.png" data-animation-type='img' data-animation-duration='5000')
                            .swiper-slide
                                .history-slider__wrap
                                    .history-slider__info
                                        .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                            p Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. 
                                            p Уникальные изделия удовлетворят даже самых требовательных покупателей. Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
                                        .history-slider__btn(data-animation-type='bottom' data-animation-duration='2000')
                                            a.btn(href='/about.html') Узнать больше
                                    .history-slider__img
                                        div
                                            img(src="assets/images/history-slider__img.png" data-animation-type='img' data-animation-duration='5000')
                            .swiper-slide
                                .history-slider__wrap
                                    .history-slider__info
                                        .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                            p Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. 
                                            p Уникальные изделия удовлетворят даже самых требовательных покупателей. Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
                                        .history-slider__btn(data-animation-type='bottom' data-animation-duration='2000')
                                            a.btn(href='/about.html') Узнать больше
                                    .history-slider__img
                                        div
                                            img(src="assets/images/history-slider__img.png" data-animation-type='img' data-animation-duration='5000')
                            .swiper-slide
                                .history-slider__wrap
                                    .history-slider__info
                                        .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                            p Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. 
                                            p Уникальные изделия удовлетворят даже самых требовательных покупателей. Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
                                        .history-slider__btn(data-animation-type='bottom' data-animation-duration='2000')
                                            a.btn(href='/about.html') Узнать больше
                                    .history-slider__img
                                        div
                                            img(src="assets/images/history-slider__img.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-button.mobile--hide(data-animation-type='opacity' data-animation-duration='3000')
                            .swiper-button-prev
                                svg(viewBox='0 0 33 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M0.879087 6.75239L9.7118 11.8519C10.0744 12.0613 10.5381 11.937 10.7475 11.5744C10.9569 11.2118 10.8325 10.7482 10.47 10.5388L4.08517 6.85254L32.5 7.12129L32.5 6.19821L32.4999 5.58283L4.09025 5.3362L10.47 1.65277C10.8326 1.44336 10.9569 0.979739 10.7475 0.617105C10.607 0.373883 10.3522 0.237865 10.0902 0.237865C9.96162 0.237865 9.83121 0.270771 9.7118 0.339614L0.879087 5.43924C0.644508 5.57465 0.5 5.82499 0.5 6.09581C0.5 6.36663 0.644508 6.61698 0.879087 6.75239Z')
                            .swiper-pagination
                            .swiper-button-next
                                svg(viewBox='0 0 33 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M32.1209 5.43902L23.2882 0.339471C22.9256 0.130139 22.4619 0.254404 22.2525 0.616962C22.0431 0.979596 22.1675 1.44322 22.53 1.65263L28.9148 5.33886L0.5 5.07012L0.5 5.99319L0.500059 6.60858L28.9097 6.85521L22.53 10.5386C22.1674 10.748 22.0431 11.2117 22.2525 11.5743C22.393 11.8175 22.6478 11.9535 22.9098 11.9535C23.0384 11.9535 23.1688 11.9206 23.2882 11.8518L32.1209 6.75217C32.3555 6.61676 32.5 6.36641 32.5 6.09559C32.5 5.82477 32.3555 5.57443 32.1209 5.43902Z')
    else if params.class == 'history--about'
        section.history.history--about
            h2.simple-title.history__title(data-animation-type='bottom' data-animation-duration='2000') наша история
            .history-slider
                .history__img
                    div
                        img(src="assets/images/history-slider_bg.png")
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')
                        .swiper-slide
                            .history-slider__wrap
                                .history-slider__info
                                    .history-slider__text(data-animation-type='bottom' data-animation-duration='2000') 
                                        p Я с детства впитал любовь к ювелирному искусству. Наблюдал как дед и отец, укрывшись в мастерской, творили, склонив голову над очередным шедевром.
                                        p Веками перенимавшие традиции предков, они создавали эксклюзивные товары из серебра. Из их рук на куске безжизненного металла распускались цветы, а строгие линии начинали очерчивать геометрию нового узора.
                                .history-slider__img
                                    div
                                        img(src="assets/images/history-slider__img1.png" data-animation-type='img' data-animation-duration='5000')


                    .swiper-button.mobile--hide(data-animation-type='opacity' data-animation-duration='3000')
                        .swiper-button-prev
                            svg(viewBox='0 0 33 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.879087 6.75239L9.7118 11.8519C10.0744 12.0613 10.5381 11.937 10.7475 11.5744C10.9569 11.2118 10.8325 10.7482 10.47 10.5388L4.08517 6.85254L32.5 7.12129L32.5 6.19821L32.4999 5.58283L4.09025 5.3362L10.47 1.65277C10.8326 1.44336 10.9569 0.979739 10.7475 0.617105C10.607 0.373883 10.3522 0.237865 10.0902 0.237865C9.96162 0.237865 9.83121 0.270771 9.7118 0.339614L0.879087 5.43924C0.644508 5.57465 0.5 5.82499 0.5 6.09581C0.5 6.36663 0.644508 6.61698 0.879087 6.75239Z')
                        .swiper-pagination
                        .swiper-button-next
                            svg(viewBox='0 0 33 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M32.1209 5.43902L23.2882 0.339471C22.9256 0.130139 22.4619 0.254404 22.2525 0.616962C22.0431 0.979596 22.1675 1.44322 22.53 1.65263L28.9148 5.33886L0.5 5.07012L0.5 5.99319L0.500059 6.60858L28.9097 6.85521L22.53 10.5386C22.1674 10.748 22.0431 11.2117 22.2525 11.5743C22.393 11.8175 22.6478 11.9535 22.9098 11.9535C23.0384 11.9535 23.1688 11.9206 23.2882 11.8518L32.1209 6.75217C32.3555 6.61676 32.5 6.36641 32.5 6.09559C32.5 5.82477 32.3555 5.57443 32.1209 5.43902Z')   