mixin reviews-video(params)
    if params.class == 'reviews-video--reviews'
        section.reviews-video.reviews-video--reviews
            .center-wrap
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/index.html") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/catalog.html") Магазин
                        li.breadcrumbs__item
                            span Кольцо
                h2.simple-title.reviews-video__title.mobile--hide ОТЗЫВЫ ДОВОЛЬНЫХ КЛИЕНТОВ
                    span.simple-sub-title Просто посмотрите видео
                h2.simple-title.reviews-video__title.desktop--hide ОТЗЫВЫ
                    span.simple-sub-title Просто посмотрите видео
                .reviews-video__wrap
                    .text-circle.mobile--hide
                        svg(viewBox='0 0 100 100')
                            path#circle(d='M 50, 50 m -50, 0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0')
                            text
                                textpath(xlink:href='#circle')
                                    | kubachi jewel
                    .reviews-video__item
                        div
                            img(src="assets/images/reviews-img1.png" alt="")
                        a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
                            .video__play
                                .video__play-img
                                    img(src='assets/images/video-play.png' alt='')
                                iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            .video__rings
                                .video__ring
                                .video__ring
                                .video__ring
                    .reviews-video__item
                        div
                            img(src="assets/images/reviews-img2.png" alt="")
                        a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
                            .video__play
                                .video__play-img
                                    img(src='assets/images/video-play.png' alt='')
                                iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            .video__rings
                                .video__ring
                                .video__ring
                                .video__ring
                .reviews-video__link
                    a(href="") Показать ещё
                    svg(viewBox='0 0 47 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M46.0277 7.18193L35.0236 0.828731C34.5718 0.567938 33.9942 0.722751 33.7333 1.17444C33.4725 1.62622 33.6274 2.20382 34.0791 2.46471L42.0335 7.05715H1.44456C0.922879 7.05715 0.5 7.48012 0.5 8.00171C0.5 8.5232 0.922879 8.94627 1.44456 8.94627H42.0271L34.0791 13.5352C33.6273 13.7961 33.4725 14.3737 33.7333 14.8255C33.9084 15.1285 34.2257 15.2979 34.5522 15.2979C34.7124 15.2979 34.8748 15.257 35.0236 15.1712L46.0277 8.8179C46.32 8.6492 46.5 8.33731 46.5 7.99991C46.5 7.66252 46.32 7.35062 46.0277 7.18193Z')
    else if params.class == 'reviews-video--product'
        section.reviews-video.reviews-video--product
            .center-wrap
                h2.simple-title.reviews-video__title.mobile--hide ОТЗЫВЫ ДОВОЛЬНЫХ КЛИЕНТОВ
                    span.simple-sub-title Просто посмотрите видео
                h2.simple-title.reviews-video__title.desktop--hide ОТЗЫВЫ
                    span.simple-sub-title Просто посмотрите видео
                .reviews-video__wrap
                    .text-circle.mobile--hide
                        svg(viewBox='0 0 100 100')
                            path#circle(d='M 50, 50 m -50, 0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0')
                            text
                                textpath(xlink:href='#circle')
                                    | kubachi jewel
                    .reviews-video__item
                        div
                            img(src="assets/images/reviews-img1.png" alt="")
                        a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
                            .video__play
                                .video__play-img
                                    img(src='assets/images/video-play.png' alt='')
                                iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            .video__rings
                                .video__ring
                                .video__ring
                                .video__ring
                    .reviews-video__item
                        div
                            img(src="assets/images/reviews-img2.png" alt="")
                        a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
                            .video__play
                                .video__play-img
                                    img(src='assets/images/video-play.png' alt='')
                                iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            .video__rings
                                .video__ring
                                .video__ring
                                .video__ring
                .reviews-video__link
                    a(href="/reviews.html") Показать ещё
                    svg(viewBox='0 0 47 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M46.0277 7.18193L35.0236 0.828731C34.5718 0.567938 33.9942 0.722751 33.7333 1.17444C33.4725 1.62622 33.6274 2.20382 34.0791 2.46471L42.0335 7.05715H1.44456C0.922879 7.05715 0.5 7.48012 0.5 8.00171C0.5 8.5232 0.922879 8.94627 1.44456 8.94627H42.0271L34.0791 13.5352C33.6273 13.7961 33.4725 14.3737 33.7333 14.8255C33.9084 15.1285 34.2257 15.2979 34.5522 15.2979C34.7124 15.2979 34.8748 15.257 35.0236 15.1712L46.0277 8.8179C46.32 8.6492 46.5 8.33731 46.5 7.99991C46.5 7.66252 46.32 7.35062 46.0277 7.18193Z')