section.availability
    .center-wrap
        .simple-title.simple-title--color.availability__title Гостям доступно
        .availability__list.mobile--hide
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon1.svg" alt="")
                .availability__item-text WI-FI
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon2.svg" alt="")
                .availability__item-text Общие ванные комнаты
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon3.svg" alt="")
                .availability__item-text Фен
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon4.svg" alt="")
                .availability__item-text Утюг
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon5.svg" alt="")
                .availability__item-text Стиральная машина
            .availability__item
                .availability__item-icon
                    img(src="assets/images/availability-icon6.svg" alt="")
                .availability__item-text Гигиенические средства
        .availability-slider.desktop--hide
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon1.svg" alt="")
                            .availability__item-text WI-FI
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon2.svg" alt="")
                            .availability__item-text Общие ванные комнаты
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon3.svg" alt="")
                            .availability__item-text Фен
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon4.svg" alt="")
                            .availability__item-text Утюг
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon5.svg" alt="")
                            .availability__item-text Стиральная машина
                    .swiper-slide
                        .availability__item
                            .availability__item-icon
                                img(src="assets/images/availability-icon6.svg" alt="")
                            .availability__item-text Гигиенические средства
            .swiper-button
                .swiper-button-prev
                    svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.87774 7.6306C0.487215 8.02113 0.487215 8.65429 0.87774 9.04481L7.2417 15.4088C7.63223 15.7993 8.26539 15.7993 8.65591 15.4088C9.04644 15.0183 9.04644 14.3851 8.65591 13.9946L2.99906 8.33771L8.65591 2.68085C9.04644 2.29033 9.04644 1.65716 8.65591 1.26664C8.26539 0.876115 7.63223 0.876115 7.2417 1.26664L0.87774 7.6306ZM14.416 7.33771L1.58485 7.33771V9.33771L14.416 9.33771V7.33771Z')
                .swiper-button-next
                    svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M14.1223 8.3694C14.5128 7.97888 14.5128 7.34571 14.1223 6.95519L7.7583 0.591225C7.36778 0.200701 6.73461 0.200701 6.34409 0.591225C5.95356 0.98175 5.95356 1.61491 6.34409 2.00544L12.0009 7.66229L6.34409 13.3191C5.95356 13.7097 5.95356 14.3428 6.34409 14.7334C6.73461 15.1239 7.36777 15.1239 7.7583 14.7334L14.1223 8.3694ZM0.583984 8.66229L13.4152 8.66229L13.4152 6.66229L0.583984 6.66229L0.583984 8.66229Z')