footer.footer
    .footer__wrap
        a(href="").footer__home.footer__item.mobile--hide  Главная
        .footer__item.footer__item--confid Конфиденциальность
        .footer__item Условия
        .footer__language
            span.active RU
            span EN

