header.header
  .center-wrap
    .header__wrap.anchors
      a(href="main-screen").header__logo
        div
          img(src='assets/images/logo.png' alt='')
      .header__img
        img(src='assets/images/header-img.png' alt='')
      .header__right.mobile--hide
        .header__select
          .select
            .select__value
              div
                img(src="assets/images/flag.png" alt="")
            .select__variants
              label.select__variant.select__variant--active(for='')
                img(src="assets/images/flag.png" alt="")
              label.select__variant(for='')
                img(src="assets/images/flag.png" alt="")
        .header__phone
          svg(viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M2.20889 0.546317L2.98749 0.314111C3.71709 0.0965244 4.4966 0.448165 4.80904 1.13582L5.43082 2.50427C5.70177 3.10061 5.55142 3.80187 5.0591 4.238L3.68911 5.45166C3.77364 6.17761 4.03509 6.89243 4.47345 7.59613C4.91182 8.29983 5.45931 8.88357 6.11592 9.34735L7.76137 8.83524C8.38508 8.64112 9.06431 8.8642 9.44689 9.3888L10.3381 10.6109C10.7829 11.2207 10.7029 12.062 10.1511 12.5791L9.55967 13.1332C8.97103 13.6848 8.13026 13.8848 7.35251 13.6584C5.51638 13.1238 3.82817 11.5368 2.28789 8.89719C0.745364 6.25378 0.200965 4.01103 0.65469 2.16895C0.845615 1.39384 1.43685 0.776561 2.20889 0.546317Z')
          a(href="tel: +79626841103" data-anchors='false') +7 962 684 11 03
  .header__bottom.desktop--hide
    .center-wrap
      .header__bottom-wrap
        .header__select
          .select
            .select__value
              div
                img(src="assets/images/flag.png" alt="")
            .select__variants
              label.select__variant.select__variant--active(for='')
                img(src="assets/images/flag.png" alt="")
              label.select__variant(for='')
                img(src="assets/images/flag.png" alt="")
        .header__phone
          svg(viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M2.20889 0.546317L2.98749 0.314111C3.71709 0.0965244 4.4966 0.448165 4.80904 1.13582L5.43082 2.50427C5.70177 3.10061 5.55142 3.80187 5.0591 4.238L3.68911 5.45166C3.77364 6.17761 4.03509 6.89243 4.47345 7.59613C4.91182 8.29983 5.45931 8.88357 6.11592 9.34735L7.76137 8.83524C8.38508 8.64112 9.06431 8.8642 9.44689 9.3888L10.3381 10.6109C10.7829 11.2207 10.7029 12.062 10.1511 12.5791L9.55967 13.1332C8.97103 13.6848 8.13026 13.8848 7.35251 13.6584C5.51638 13.1238 3.82817 11.5368 2.28789 8.89719C0.745364 6.25378 0.200965 4.01103 0.65469 2.16895C0.845615 1.39384 1.43685 0.776561 2.20889 0.546317Z')
          a(href="tel: +79626841103" data-anchors='false') +7 962 684 11 03
