.mobile-menu
  .mobile-menu__wrap
    .mobile-menu__header
      .mobile-menu__act.mobile-menu__act--close
        svg(width='15', height='15', viewBox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.79', fill-rule='evenodd', clip-rule='evenodd', d='M15 1.5L13.5 0L7.5 6L1.5 0L0 1.5L6 7.5L0 13.5L1.5 15L7.5 9L13.5 15L15 13.5L9 7.5L15 1.5Z', fill='#575757')
    nav.mobile-menu__nav.anchors
      ul.mobile-menu__nav-list
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='about') О компании
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='services') Услуги
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='builders') Строителям
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='reviews') Отзывы
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='faq') Частые вопросы
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='contact') Контакты
    //- span.btn.btn--border(onclick='show_popup("popup1")') Обратная связь
    span.mobile-menu__schedule График работы: 9:00 - 18:00
    .mobile-menu__phones
      a.mobile-menu__phone(href='tel:73422032012') +7(342)203-20-12