section.news
    .center-wrap
        .simple-title.news__title НОВОСТИ
        .news__list
            .news__item
                .news__item-img
                    div
                        img(src="assets/images/news__item1.png" alt="")
                a(href="").news__item-text Новый дизайн комнаты на Старорусской
            .news__item
                .news__item-img
                    div
                        img(src="assets/images/news__item2.png" alt="")
                a(href="").news__item-text Наш объект участвует в программе  Ростуризма
            .news__item
                .news__item-img
                    div
                        img(src="assets/images/news__item1.png" alt="")
                a(href="").news__item-text Новый дизайн комнаты на Старорусской
        .news__link.desktop--hide
            a(href="") Все новости

