section.partners
    .center-wrap
        .simple-title.simple-title--color.partners__title НАШИ ПАРТНЕРЫ
        .partners__list.mobile--hide
            .partners__item
                .partners__item-img
                    div
                        img(src="assets/images/partners-img1.png" alt="")
            .partners__item
                .partners__item-img
                    div
                        img(src="assets/images/partners-img2.png" alt="")
            .partners__item
                .partners__item-img
                    div
                        img(src="assets/images/partners-img3.png" alt="")
            .partners__item
                .partners__item-img
                    div
                        img(src="assets/images/partners-img4.png" alt="")
    .partners-slider.desktop--hide
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .partners__item
                        .partners__item-img
                            div
                                img(src="assets/images/partners-img1.png" alt="")
                .swiper-slide
                    .partners__item
                        .partners__item-img
                            div
                                img(src="assets/images/partners-img2.png" alt="")
                .swiper-slide
                    .partners__item
                        .partners__item-img
                            div
                                img(src="assets/images/partners-img3.png" alt="")
                .swiper-slide
                    .partners__item
                        .partners__item-img
                            div
                                img(src="assets/images/partners-img4.png" alt="")