section.services
    .services__wrap
        .services__item
            img.services__img(src="assets/images/services__item-img1.png" alt="")
            .services__info
                .services__title АДАЖИО НА ЖУКОВСКОГО
                .services__subtitle ул. Жуковского, д.41
            .services__bottom
                .services__btn
                    .btn Забронировать
                .services__map.mobile--hide
                    a(href="" target='_blank') Показать на карте
                .services__descr
                    a(href="") Описание 
        .services__item.services__item--right
            img.services__img(src="assets/images/services__item-img2.png" alt="")
            .services__info
                .services__title АДАЖИО СТАР.5
                .services__subtitle ул. Старорусская 5 / 3
            .services__bottom
                .services__btn
                    .btn Забронировать
                .services__map.mobile--hide
                    a(href="" target='_blank') Показать на карте
                .services__descr
                    a(href="") Описание 