@font-face {
	font-family: "Palatino-Linotype";
	src: url('~fonts/Palatino-Linotype.woff');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Optima-Cyr";
	src: url('~fonts/Optima-Cyr.woff');
	font-weight: 400;
	font-display: swap;
}