 $white:#fff;
 $black:#000000;
 $green:#00B190;
 $green-dark:#006653;
 $grey: #E5E5E5;

 /////////////////////////
 $large_desktop: 1450px;
 $large_tablet: 1024px;
 $large_mobile: 600px;

 // FONT
 $fontP:'Palatino-Linotype',
 sans-serif;
 $fontM:'Montserrat',
 sans-serif;
 $fontO:'Optima-Cyr',
 sans-serif;