* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 62.5%;

	@media screen and (max-width:$large_desktop) {
		font-size: 100vw / (1500/10);
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 104%;
	}

	@media screen and (max-width:$large_mobile) {
		font-size: 100vw / (360/10);
	}
}


body {
	font-family: $font-primary;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	color: $color-primary;
	background-color: #fff;
	font-size: 2rem;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(50,50,50,0.25);
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #ccc;
	}	
}

main {
	flex-grow: 1;
	overflow: hidden;
	&[data-scrollbar] {
		height: 100vh;
		z-index: 1;
		@media screen and ( min-width: 1200px ) {
			padding-bottom: $footer-height;
			&.scrollbar--footer {
				pointer-events: none;
			}
		}
	}
}

.center-wrap {
	max-width: 1340px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 20px;

	@media screen and (max-width:$large_tablet) {
		max-width: $large_mobile;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	font-weight: bold;
	font-size: 4.8rem;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-family: $font-secondary;

	&::before {
		content: '';
		position: absolute;
		top: calc(100% + 3.5rem);
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 10rem;
		height: 1px;
		background-color: $color-primary;

		@media screen and (max-width:$large_tablet) {
			top: calc(100% + 2.5rem);
		}
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 3.6rem;
	}

	&[data-animation-type]{
		&::before {
			opacity: 0;
			transition: opacity 3s;
		}

		&.animated {
			&::before {
				opacity: 1;
			}
		}
	}

}

.simple-sub-title {
	display: block;
	font-size: 2.2rem;
	line-height: 136%;
	color: $color-secondary;
	margin-top: 1.5rem;
	text-transform: capitalize;
	font-weight: 300;
	font-family: $font-primary;

	@media screen and (max-width:$large_tablet) {
		margin-top: 1rem;
		font-size: 1.6rem;
	}
}

.desktop--hide {
	@media screen and (min-width:1025px) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width:$large_tablet) {
		display: none !important;
	}
}


.scroll-content {
	background: #fff;
	position: relative;
	z-index: 2;
}

.scrollbar-thumb {
	background: rgba(0, 0, 0, .3) !important; 
}

.scrollbar-track {
	@media screen and ( max-width: 1200px ) {
		display: none !important;
	}
}
