// Font
$font-primary:'Jost',
sans-serif;
$font-secondary:'Cormorant',
serif;

// Color
$color-primary:#000000;
$color-secondary:#757575;

// Media
$large_desktop: 1500px;
$large_tablet: 1024px;
$large_mobile: 600px;


$footer-height: 567px;
