.contact {
	background: $black;
	padding-top: 78px;
	padding-bottom: 123px;
	@media screen and (max-width:1200px) {
	padding-top: 0;
	padding-bottom: 0;
	}
	.simple-title {
		margin-bottom: 49px;
		@media screen and (max-width:450px) {
		margin-bottom: 35px;
		}
	}

	&__inner {
		display: flex;

		@media screen and (max-width:1200px) {
			display: block;
		}
	}

	&__info {
		max-width: 540px;
		width: 100%;

		@media screen and (max-width:1200px) {
			margin: 0 auto 50px;
			text-align: center;
		}

		&-row {
			max-width: 320px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media screen and (max-width:1200px) {
				max-width: 100%;
			}

			&+.contact__info-row {
				margin-top: 23px;

				@media screen and (max-width:1200px) {
					margin-top: 15px;
				}
			}
		}

		&-name {
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			color: #9B9B9B;
			margin-bottom: 8px;

			@media screen and (max-width:1200px) {
				font-size: 12px;
			}
		}

		&-link {
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			color: #FFFFFF;

			@media screen and (max-width:1200px) {
				font-size: 16px;
			}
		}

		&-adress,
		&-tel {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #FFFFFF;

			@media screen and (max-width:1200px) {
				font-size: 16px;
			}
		}
	}
}