mixin mobile-menu(params)
    .mobile-menu(class=params.class)
        if params.class != 'mobile-menu--index'
            .sidebar__drop.sidebar__drop--equipment
                ul.sidebar__drop-list
                    li.sidebar__drop-title Обогрев
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Противотоки
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Навесные <br> противотоки
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Встраиваемые <br> противотоки
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Светильники для бассейна
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Навесные <br> противотоки
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Встраиваемые <br> противотоки
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Лестницы и поручни
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Навесные <br> противотоки
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Встраиваемые <br> противотоки
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')

                ul.sidebar__drop-list
                    li.sidebar__drop-title Подводные пылесосы
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Фильтры
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Насосы
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Аттракционы
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Автоматическая дезинфекция
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Автоматика и управление
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Аксессуары
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
                ul.sidebar__drop-list
                    li.sidebar__drop-title Закладные детали
                        li.sidebar__drop-item
                            a(href="").sidebar__drop-link Теплообменники
                    li.sidebar__drop-item
                        a(href="").sidebar__drop-link Электронагреватели
                    li.sidebar__drop-yet
                        span Показать еще
                        svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.34362 0.875C6.58093 0.875 6.77709 1.05126 6.80817 1.28005L6.81246 1.34365L6.81322 5.875H11.3464C11.6053 5.875 11.8151 6.08487 11.8151 6.34375C11.8151 6.58106 11.6388 6.77718 11.41 6.80822L11.3464 6.8125H6.81322L6.8145 11.3432C6.81455 11.6021 6.60472 11.812 6.34584 11.812C6.10853 11.812 5.91237 11.6358 5.88129 11.407L5.877 11.3434L5.87572 6.8125H1.34509C1.08621 6.8125 0.876343 6.60263 0.876343 6.34375C0.876343 6.10644 1.05269 5.91032 1.28149 5.87928L1.34509 5.875H5.87572L5.87496 1.34385C5.87491 1.08496 6.08473 0.875 6.34362 0.875Z')
        .mobile-menu__wrap
            .mobile-menu__header
                .mobile-menu__act.mobile-menu__act--close
                    svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(opacity='0.79' fill-rule='evenodd' clip-rule='evenodd' d='M15 1.5L13.5 0L7.5 6L1.5 0L0 1.5L6 7.5L0 13.5L1.5 15L7.5 9L13.5 15L15 13.5L9 7.5L15 1.5Z' fill='#575757')
            .mobile-menu__list
                if params.class == 'mobile-menu--index'
                    nav.sidebar__nav
                        ul.sidebar__nav-list.anchors
                            li.sidebar__nav-item
                                a(href="").sidebar__nav-link
                                    svg(viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M21.8167 3.63612V2.72709C21.8167 2.00382 21.5294 1.31017 21.018 0.798745C20.5065 0.287317 19.8129 0 19.0896 0C18.3663 0 17.6727 0.287317 17.1613 0.798745C16.6498 1.31017 16.3625 2.00382 16.3625 2.72709V5.45417H11.8174V2.72709C11.8174 2.486 11.9131 2.25478 12.0836 2.08431C12.2541 1.91383 12.4853 1.81806 12.7264 1.81806C12.9675 1.81806 13.1987 1.91383 13.3692 2.08431C13.5397 2.25478 13.6354 2.486 13.6354 2.72709V3.63612H15.4535V2.72709C15.4535 2.00382 15.1662 1.31017 14.6547 0.798746C14.1433 0.287317 13.4497 5.74691e-08 12.7264 5.74691e-08C12.0031 5.74691e-08 11.3095 0.287317 10.7981 0.798746C10.2866 1.31017 9.99932 2.00382 9.99932 2.72709V12.8411C9.58015 12.761 9.15409 12.7226 8.72736 12.7264C7.85469 12.7072 6.98906 12.8865 6.19583 13.2508C5.6241 13.5224 4.99602 13.6542 4.36334 13.6354C3.73071 13.6542 3.10268 13.5223 2.53096 13.2508C1.73792 12.8866 0.872484 12.7073 0 12.7264L0 14.5445C0.632562 14.5257 1.26052 14.6576 1.83215 14.9291C2.62528 15.2933 3.49078 15.4726 4.36334 15.4535C5.23601 15.4727 6.10163 15.2934 6.89487 14.9291C7.4666 14.6575 8.09468 14.5257 8.72736 14.5445C9.35985 14.5257 9.98773 14.6576 10.5593 14.9291C11.3523 15.2933 12.2176 15.4726 13.09 15.4535C13.9626 15.4727 14.8281 15.2934 15.6212 14.9291C16.1928 14.6576 16.8208 14.5257 17.4534 14.5445C18.0858 14.5257 18.7137 14.6576 19.2853 14.9291C20.0785 15.2934 20.9441 15.4727 21.8167 15.4535V13.6354C21.1843 13.6541 20.5564 13.5223 19.9849 13.2509C19.4144 12.9898 18.8048 12.8243 18.1806 12.7611V2.72709C18.1806 2.486 18.2764 2.25478 18.4468 2.08431C18.6173 1.91383 18.8485 1.81806 19.0896 1.81806C19.3307 1.81806 19.5619 1.91383 19.7324 2.08431C19.9029 2.25478 19.9986 2.486 19.9986 2.72709V3.63612H21.8167ZM16.3625 7.27223V9.09029H11.8174V7.27223H16.3625ZM14.9224 13.2508C14.3507 13.5224 13.7227 13.6542 13.09 13.6354C12.6594 13.6472 12.2297 13.5897 11.8174 13.465V10.9083H16.3625V12.8084C15.8657 12.8944 15.3818 13.043 14.9224 13.2508Z')
                                        path(d='M17.4534 17.2715C16.5808 17.2524 15.7152 17.4317 14.9221 17.7959C14.3505 18.0675 13.7225 18.1993 13.09 18.1806C12.4575 18.1993 11.8296 18.0675 11.2581 17.7959C10.4651 17.4317 9.59977 17.2524 8.72736 17.2715C7.85469 17.2524 6.98907 17.4317 6.19583 17.7959C5.6241 18.0675 4.99602 18.1994 4.36334 18.1806C3.73071 18.1993 3.10267 18.0675 2.53096 17.7959C1.73792 17.4317 0.872484 17.2524 0 17.2715L0 19.0896C0.632562 19.0709 1.26052 19.2027 1.83215 19.4742C2.62528 19.8385 3.49078 20.0178 4.36334 19.9986C5.23601 20.0178 6.10163 19.8385 6.89487 19.4742C7.4666 19.2027 8.09468 19.0708 8.72736 19.0896C9.35985 19.0709 9.98773 19.2027 10.5593 19.4742C11.3523 19.8385 12.2176 20.0178 13.09 19.9986C13.9626 20.0178 14.8281 19.8385 15.6212 19.4742C16.1928 19.2027 16.8208 19.0709 17.4534 19.0896C18.0858 19.0709 18.7137 19.2027 19.2853 19.4742C20.0785 19.8386 20.9441 20.0179 21.8167 19.9986V18.1806C21.1843 18.1993 20.5564 18.0675 19.9849 17.7961C19.1917 17.4316 18.326 17.2523 17.4534 17.2715Z')
                                    |Бассейны
                            li.sidebar__nav-item
                                a(href="").sidebar__nav-link
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8.46141 0H0.769294C0.344374 0 0 0.344374 0 0.769294V8.46141C0 8.88633 0.344374 9.23071 0.769294 9.23071H8.46141C8.88633 9.23071 9.23071 8.88633 9.23071 8.46141V0.769294C9.23071 0.344374 8.88633 0 8.46141 0Z')
                                        path(d='M19.2307 0H11.5386C11.1137 0 10.7693 0.344374 10.7693 0.769294V8.46141C10.7693 8.88633 11.1137 9.23071 11.5386 9.23071H19.2307C19.6556 9.23071 20 8.88633 20 8.46141V0.769294C20 0.344374 19.6556 0 19.2307 0ZM18.4614 7.69212H12.3079V1.53859H18.4614V7.69212Z')
                                        path(d='M8.46141 10.7693H0.769294C0.344374 10.7693 0 11.1137 0 11.5386V19.2307C0 19.6556 0.344374 20 0.769294 20H8.46141C8.88633 20 9.23071 19.6556 9.23071 19.2307V11.5386C9.23071 11.1128 8.88633 10.7693 8.46141 10.7693ZM3.63278 18.4614C3.7651 18.2346 3.84647 17.974 3.84647 17.6921C3.84647 16.8423 3.15772 16.1535 2.30788 16.1535C2.02597 16.1535 1.76543 16.2349 1.53859 16.3672V14.4021C1.76543 14.5344 2.02597 14.6158 2.30788 14.6158C3.15772 14.6158 3.84647 13.927 3.84647 13.0772C3.84647 12.7953 3.7651 12.5347 3.63278 12.3079H5.59793C5.4656 12.5347 5.38424 12.7953 5.38424 13.0772C5.38424 13.927 6.07298 14.6158 6.92282 14.6158C7.20473 14.6158 7.46528 14.5344 7.69212 14.4021V16.3672C7.46528 16.2349 7.20473 16.1535 6.92282 16.1535C6.07298 16.1535 5.38424 16.8423 5.38424 17.6921C5.38424 17.974 5.4656 18.2346 5.59793 18.4614H3.63278Z')
                                        path(d='M19.2307 10.7693H11.5386C11.1137 10.7693 10.7693 11.1137 10.7693 11.5386V15.3842V19.2299C10.7693 19.6548 11.1137 19.9992 11.5386 19.9992H15.3842H19.2299C19.6548 19.9992 19.9992 19.6548 19.9992 19.2299V11.5378C20 11.1128 19.6556 10.7693 19.2307 10.7693ZM12.3079 15.7031L15.7031 12.3079H17.374L12.3079 17.374V15.7031ZM12.3079 12.3079H13.5276L12.3079 13.5276V12.3079ZM18.4614 13.3952V15.0653L15.0662 18.4614H13.3952L18.4614 13.3952ZM18.4614 18.4614H17.2409L18.4614 17.2409V18.4614Z')
                                        path(d='M4.61561 16.9228C5.46535 16.9228 6.1542 16.234 6.1542 15.3842C6.1542 14.5345 5.46535 13.8456 4.61561 13.8456C3.76588 13.8456 3.07703 14.5345 3.07703 15.3842C3.07703 16.234 3.76588 16.9228 4.61561 16.9228Z')
                                    | Павильоны
                            li.sidebar__nav-item
                                a(href="services").sidebar__nav-link
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M0.548771 16.8019C-0.182924 17.5336 -0.182924 18.7185 0.548771 19.4502C0.914619 19.8161 1.39408 19.9984 1.87358 19.9984C2.35308 19.9984 2.83254 19.8161 3.19838 19.4502L9.34789 13.2995L6.69827 10.6523L0.548771 16.8019Z')
                                        path(d='M15.9182 5.40438L18.5965 4.01961L19.9987 1.30883L18.6914 0.00152588L15.9818 1.40499L14.5946 4.08081L11.3369 7.34222L12.658 8.66579L15.9182 5.40438Z')
                                        path(d='M16.505 12.5128L16.2528 12.4879C15.7958 12.4879 15.3625 12.5815 14.958 12.7314L7.27013 5.04227C7.41997 4.63773 7.51362 4.20444 7.51362 3.74745L7.48864 3.49521C7.3563 1.54608 5.75055 0.00152588 3.76773 0.00152588C3.19085 0.00152588 2.65019 0.142616 2.16198 0.376122L4.6505 2.86464C4.78161 2.99575 4.87152 3.15056 4.93145 3.31416C5.095 3.75616 5.00637 4.27312 4.6505 4.63022C4.40701 4.8737 4.08737 4.99606 3.76773 4.99606C3.6204 4.99606 3.4743 4.96361 3.33444 4.91116C3.17088 4.84873 3.01603 4.76132 2.88493 4.62898L0.396447 2.1417C0.16294 2.6299 0.0218506 3.17056 0.0218506 3.74745C0.0218506 5.73026 1.5664 7.33602 3.51554 7.46836L3.76777 7.49333C4.22477 7.49333 4.65806 7.39968 5.0626 7.25112L12.7492 14.939C12.6018 15.3435 12.5082 15.7768 12.5082 16.2338L12.5344 16.486C12.6643 18.4364 14.2713 19.9797 16.2541 19.9797C16.831 19.9797 17.3729 19.8411 17.8598 19.6051L15.3713 17.1166C15.2414 16.9867 15.1503 16.8307 15.0879 16.6684C14.9243 16.2264 15.0129 15.7082 15.3713 15.3511C15.6123 15.1076 15.9344 14.9852 16.2541 14.9852C16.4014 14.9852 16.5462 15.0164 16.6886 15.0701C16.8522 15.1313 17.0082 15.2187 17.1368 15.3511L19.6254 17.8396C19.8601 17.3501 20 16.8107 20 16.2338C19.9987 14.2509 18.4542 12.6452 16.505 12.5128Z'                                       )
                                    | Услуги
                            li.sidebar__nav-item
                                a(href="").sidebar__nav-link
                                    svg(viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.8484 5.77495L8.51834 0.362438C8.38668 0.298768 8.22751 0.353805 8.16546 0.484923L5.69958 5.64599H7.04313L8.85288 1.85383L18.6759 6.546L15.6041 12.9751L13.8747 12.1495V15.5483L14.9382 16.0561C15.071 16.1203 15.228 16.0625 15.2911 15.9309L19.9736 6.12621C20.0373 5.99563 19.9811 5.83754 19.8484 5.77495Z')
                                        path(d='M12.8225 6.26923H0.265472C0.120326 6.26923 0 6.38739 0 6.53254V17.3991C0 17.5448 0.120326 17.664 0.265472 17.664H12.822C12.9682 17.664 13.0875 17.5448 13.0875 17.3991V6.53254C13.088 6.38739 12.9688 6.26923 12.8225 6.26923ZM12.0973 14.5971H11.3015C10.838 13.4084 10.2676 11.7443 9.40161 11.9666C8.38666 12.2256 7.88 14.5971 7.88 14.5971C7.88 14.5971 7.36038 11.9213 5.92834 10.4887C4.49576 9.05615 3.10797 14.5971 3.10797 14.5971H1.21189V7.47087H12.0973V14.5971Z')
                                        path(d='M2.96883 9.88817C3.45934 9.88817 3.85698 9.49053 3.85698 9.00002C3.85698 8.50951 3.45934 8.11188 2.96883 8.11188C2.47832 8.11188 2.08069 8.50951 2.08069 9.00002C2.08069 9.49053 2.47832 9.88817 2.96883 9.88817Z')
                                        path(d='M8.9273 9.62699C9.1264 9.62699 9.3131 9.60595 9.47929 9.57303C9.67299 9.65505 9.90933 9.70523 10.1635 9.70523C10.8191 9.70523 11.3489 9.38526 11.3489 8.99029C11.3489 8.5964 10.8191 8.27643 10.1635 8.27643C9.91796 8.27643 9.69026 8.32121 9.50141 8.39945C9.42317 8.32337 9.31903 8.27643 9.20302 8.27643H9.03144C8.81129 8.27643 8.63808 8.44316 8.61326 8.65521C8.0834 8.71079 7.68896 8.90288 7.68896 9.13166C7.68896 9.40523 8.24311 9.62699 8.9273 9.62699Z')
                                    | Проекты
                            li.sidebar__nav-item
                                a(href="").sidebar__nav-link
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.9712 12.8313C19.8927 12.5899 19.6677 12.4264 19.4139 12.4264H16.2438L15.2642 9.41162C15.1857 9.17007 14.9608 9.00665 14.7069 9.00665C14.4531 9.00665 14.2281 9.17007 14.1497 9.41162L13.17 12.4264H6.82988L5.85011 9.41162C5.77168 9.17007 5.54677 9.00665 5.29286 9.00665C5.03911 9.00665 4.81404 9.17007 4.73561 9.41162L3.756 12.4264H0.585842C0.332089 12.4264 0.107023 12.59 0.0285925 12.8313C-0.0498375 13.0728 0.0360693 13.3372 0.241452 13.4865L2.80614 15.3499L1.82653 18.3648C1.7481 18.6062 1.83401 18.8707 2.03939 19.0199C2.24477 19.1691 2.52294 19.1691 2.72817 19.0199L5.29286 17.1565L7.85755 19.0199C7.96024 19.0945 8.08109 19.1318 8.20194 19.1318C8.32279 19.1318 8.44364 19.0945 8.54633 19.0199C8.75172 18.8707 8.83762 18.6062 8.75919 18.3648L7.77958 15.3499L9.99988 13.7367L12.2202 15.3499L11.2406 18.3648C11.1621 18.6062 11.248 18.8707 11.4534 19.0199C11.6587 19.1691 11.9368 19.1691 12.1422 19.0199L14.7069 17.1565L17.2716 19.0199C17.3743 19.0945 17.495 19.1318 17.616 19.1318C17.7368 19.1318 17.8577 19.0945 17.9602 19.0199C18.1656 18.8707 18.2517 18.6062 18.1731 18.3648L17.1936 15.3499L19.7582 13.4865C19.9637 13.3372 20.0496 13.0728 19.9712 12.8313Z')
                                        path(d='M4.94848 5.37833L7.51318 7.24173L6.53357 10.2567C6.45514 10.4981 6.54104 10.7625 6.74643 10.9118C6.95181 11.061 7.22998 11.061 7.43521 10.9118L9.9999 9.04852L12.5646 10.9118C12.6673 10.9864 12.7881 11.0238 12.909 11.0238C13.0298 11.0238 13.1507 10.9864 13.2534 10.9118C13.4588 10.7627 13.5447 10.4981 13.4662 10.2567L12.4866 7.24173L15.0513 5.37833C15.2567 5.22909 15.3426 4.96466 15.2642 4.72327C15.1858 4.48187 14.9607 4.31845 14.7069 4.31845H11.5368L10.5572 1.30347C10.4787 1.06192 10.2537 0.898499 9.9999 0.898499C9.746 0.898499 9.52108 1.06192 9.44265 1.30347L8.46304 4.31845H5.29287C5.03912 4.31845 4.81405 4.48187 4.73562 4.72327C4.65719 4.96466 4.7431 5.22909 4.94848 5.37833Z')
                                    | Отзывы
                            li.sidebar__nav-item
                                a(href="").sidebar__nav-link
                                    svg(viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M2.54088 3.23596L7.16894 3.83094C7.33046 4.24105 8.14428 6.25972 8.29729 6.62095C8.29729 6.62095 8.29729 6.62095 8.29515 6.62095C6.95433 7.28393 5.6135 7.94477 4.27268 8.60775C4.73804 8.52275 5.20977 8.48025 5.68363 8.48025C6.3041 8.48025 6.91183 8.55462 7.49193 8.70124C8.66276 8.99873 9.72097 9.47469 10.7431 9.93582C11.6546 10.3459 12.5174 10.7348 13.3779 10.9579C13.4991 10.9898 13.6159 11.0174 13.7328 11.0408C12.7128 8.95198 9.96958 3.32308 9.42773 2.08426C9.17274 1.49991 8.82213 1.28316 8.32492 1.21942L2.88938 0.52032C2.13929 0.424699 1.45294 0.953803 1.35519 1.7039C1.26168 2.45399 1.79078 3.14034 2.54088 3.23596Z')
                                        path(d='M0.354317 12.9978C0.505186 13.1062 0.677305 13.1572 0.849423 13.1572C0.887671 13.1572 0.923795 13.155 0.959918 13.1487C1.18516 13.1189 1.39765 12.9999 1.54002 12.8023C2.09037 12.0352 2.94246 11.4318 3.9348 11.1002C4.50428 10.9112 5.09925 10.8155 5.6836 10.8155C7.80214 10.8155 9.61895 12.082 11.5314 12.8108C12.5556 13.2018 13.6244 13.4908 14.7867 13.4908C15.2755 13.4908 15.7812 13.4398 16.306 13.3229C17.5406 13.0509 18.5988 12.4645 19.3638 11.6421C19.5465 11.4445 19.7123 11.2362 19.8589 11.0131C20.1181 10.6221 20.0098 10.0952 19.6188 9.83593C19.4743 9.7403 19.3128 9.69568 19.1513 9.69568C18.8751 9.69568 18.6052 9.82955 18.4416 10.076C18.3757 10.1759 18.3035 10.2715 18.2248 10.365C17.6936 10.9983 16.8968 11.453 15.9405 11.6634C15.0587 11.8567 14.0855 11.7993 13.2164 11.5741C12.3027 11.3361 11.4187 10.9388 10.4795 10.5159C9.48081 10.0675 8.45022 9.60218 7.33254 9.31747C6.80131 9.18147 6.24458 9.1156 5.68148 9.1156C4.91438 9.1156 4.13454 9.24095 3.39295 9.48746C2.74485 9.7042 2.1435 10.0059 1.60377 10.3863C1.03429 10.7879 0.547685 11.266 0.1567 11.81C0.131201 11.8461 0.109952 11.8822 0.0908279 11.9205C-0.0940397 12.2881 0.00795627 12.7492 0.354317 12.9978Z')
                                        path(d='M15.743 9.05396C17.3989 9.05396 18.7413 7.7116 18.7413 6.0557C18.7413 4.3998 17.3989 3.05743 15.743 3.05743C14.0871 3.05743 12.7448 4.3998 12.7448 6.0557C12.7448 7.7116 14.0871 9.05396 15.743 9.05396Z')
                                    | Статьи
                            li.sidebar__nav-item
                                a(href="contact").sidebar__nav-link
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M2.41754 4.34233H0.866906V5.66101H2.41754V9.34066H0.659302V10.6593H2.41754V14.339H0.659302V15.6577H2.41754V20H5.49446V0H2.41754V4.34233Z')
                                        path(d='M6.81311 0V20H19.3406V0H6.81311ZM13.0768 5.97196C14.1484 5.97196 15.017 6.84057 15.017 7.91209C15.017 8.9836 14.1484 9.85222 13.0768 9.85222C12.0053 9.85222 11.1367 8.9836 11.1367 7.91209C11.1367 6.84057 12.0053 5.97196 13.0768 5.97196ZM9.56036 14.028C9.56036 12.0859 11.1347 10.5116 13.0768 10.5116C15.019 10.5116 16.5933 12.0859 16.5933 14.028H9.56036Z')
                                    | Контакты
                else if params.class != 'mobile-menu--index'
                    nav.sidebar__nav
                        ul.sidebar__nav-list.anchors
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Бассейны для дома
                            li.sidebar__nav-item.sidebar__nav-item--equipment
                                .sidebar__nav-link(href="" data-anchors='false')
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Оборудование
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Отделка бассейна
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Химия и препараты
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Накрытия и тенты
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Распродажа
                if params.class != 'mobile-menu--index'
                    nav.sidebar__nav-center
                        ul.sidebar__nav-list.anchors
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Производители
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Доставка и оплата
                            li.sidebar__nav-item
                                a.sidebar__nav-link(href="contact")
                                    svg(viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M1.19621 0.209796C0.9026 -0.00805849 0.485936 0.0161474 0.21967 0.282414C-0.0732233 0.575307 -0.0732233 1.05018 0.21967 1.34307L7.93934 9.06274L0.21967 16.7824L0.147052 16.8665C-0.0708026 17.1601 -0.0465966 17.5768 0.21967 17.8431C0.512563 18.136 0.987437 18.136 1.28033 17.8431L9.53033 9.59307L9.60295 9.50896C9.8208 9.21534 9.7966 8.79868 9.53033 8.53241L1.28033 0.282414L1.19621 0.209796Z')
                                    | Контакты
                .sidebar__bottom
                    if params.class == 'mobile-menu--catalog'
                        a(href="index.html").sidebar__bottom-shop #{params.title}
                    else if params.class != 'mobile-menu--catalog'
                        p.sidebar__bottom-shop #{params.title}
                    .sidebar__bottom-logo.anchors
                        a(href="index.html")
                            div
                                img(src="assets/images/logo1.png" alt="")