section.consultation(style='background-image: url(assets/images/consultation-bg.png)')
    .center-wrap
        h2.consultation__title Консультация инженера 
        h3.consultation__subtitle Помощь в расчете сметы, расходов и стоимости индивидуально для Вас
        .consultation__btn
            .btn.btn--empty(onclick='show_popup("call")') Получить консультацию
        p.consultation__text Ваши контактные данные в безопасности и не будут переданы 3-им лицам
            span * 