section.faq
    .center-wrap
        h2.simple-title.faq__title ТОП-8 ВОПРОСОВ 
        .faq__list
            .faq__left
                .faq__item.faq__item--active
                    h3.faq__item-title Можно ли самому нанести ппу?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Пенополиуретан горит?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Заведутся ли мыши и муравьи?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Безопасен ли материал?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
            .faq__right
                .faq__item
                    h3.faq__item-title Как правильно выбрать<br> марку/плотность?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Какой срок службы у ППУ?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Пенополиуретан боится воды?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
                .faq__item
                    h3.faq__item-title Минусы ппу?
                        span
                    p.faq__item-text
                        | Метод предполагает наличие профессионального оборудования высокого давления и знаний по напылению ППУ. Лучше пригласить профессионалов и сэкономить деньги и время.
        .faq__btn
            .btn.btn--empty.mobile--hide(onclick='show_popup("question")') Задать свой вопрос

