footer.footer
    .center-wrap
        .footer__wrap
            a(href="main-screen").footer__logo.single-anchors
                img(src='assets/images/logo.png' alt='')
            .footer__center
                p © 2020. Все права защищены.
                a(href="") Политика конфиденциальности
            .footer__btn
                .btn(onclick='show_popup("call")') Перезвоните мне
