section.guarantee#guarantee
    .center-wrap
        h2.simple-title.guarantee__title Гарантируем,что пенополиуретан прослужит дольше<br class='desktop--hide'> минеральной и эковаты
        h3.guarantee__subtitle Выберите тип работ и получите точный расчет цены по параметрам объекта

        .guarantee__list.mobile--hide
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img1.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Дом
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img2.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Баня
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img3.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Гараж
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img4.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Балкон
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img5.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Фундамент
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img6.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Крыша
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img7.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Пол
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        div
                            img(src="assets/images/guarantee-img8.png" alt="")
                    .guarantee__item-btn
                        .btn(onclick='show_popup("call")') Заказать
                a(href="").guarantee__item-title Фасад
            .guarantee__item.guarantee__item--hide
            .guarantee__item.guarantee__item--hide
        .guarantee-slider.desktop--hide
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .guarantee__item-img
                            div
                                img(src="assets/images/guarantee-img1.png" alt="")
                        a(href="").guarantee__item-title Дом
                        .guarantee__item-btn
                            .btn(onclick='show_popup("call")') Заказать
                    .swiper-slide
                        .guarantee__item-img
                            div
                                img(src="assets/images/guarantee-img2.png" alt="")
                        a(href="").guarantee__item-title Баня
                        .guarantee__item-btn
                            .btn(onclick='show_popup("call")') Заказать
                    .swiper-slide
                        .guarantee__item-img
                            div
                                img(src="assets/images/guarantee-img3.png" alt="")
                        a(href="").guarantee__item-title Гараж
                        .guarantee__item-btn
                            .btn(onclick='show_popup("call")') Заказать
                    .swiper-slide
                        .guarantee__item-img
                            div
                                img(src="assets/images/guarantee-img4.png" alt="")
                        a(href="").guarantee__item-title Балкон
                        .guarantee__item-btn
                            .btn(onclick='show_popup("call")') Заказать
            .swiper-button-wrap
                div
                    .swiper-button
                        .swiper-button-next
                            svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.1229 8.86946C14.5134 8.47894 14.5134 7.84577 14.1229 7.45525L7.75891 1.09129C7.36839 0.700762 6.73522 0.700762 6.3447 1.09129C5.95417 1.48181 5.95417 2.11498 6.3447 2.5055L12.0016 8.16235L6.3447 13.8192C5.95417 14.2097 5.95417 14.8429 6.3447 15.2334C6.73522 15.6239 7.36838 15.6239 7.75891 15.2334L14.1229 8.86946ZM0.584595 9.16235L13.4158 9.16235L13.4158 7.16235L0.584595 7.16235L0.584595 9.16235Z')
                        .swiper-button-prev
                            svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.877069 7.13054C0.486544 7.52106 0.486544 8.15423 0.877069 8.54475L7.24103 14.9087C7.63155 15.2992 8.26472 15.2992 8.65524 14.9087C9.04577 14.5182 9.04577 13.885 8.65524 13.4945L2.99839 7.83765L8.65524 2.18079C9.04577 1.79027 9.04577 1.1571 8.65524 0.766579C8.26472 0.376054 7.63155 0.376054 7.24103 0.766579L0.877069 7.13054ZM14.4153 6.83765L1.58418 6.83765V8.83765L14.4153 8.83765V6.83765Z')

        .guarantee__btn
            .btn.btn--empty(onclick='show_popup("call")') Заказать не типовой проект
