section.main-screen#main-screen
    .center-wrap
        .main-screen__wrap
            .main-screen__info
                h2.main-screen__title Утепление пенополиуретаном От производителя - 390р/м2<br> с гарантией 10 лет
                h3.main-screen__subtitle Работаем по Петербургу и Лен. обл. на собственном автотранспорте
                .main-screen__btn(onclick='show_popup("call")')
                    .btn.btn--empty Рассчитать стоимость
    img.main-screen__img.mobile--hide(src="assets/images/main-screen-img.png" alt="")
    img.main-screen__img.desktop--hide(src="assets/images/main-screen-img--mobile.png" alt="")
    a(href="guarantee").main-screen__scroll.single-anchors
        svg(viewBox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M26.6433 1.1117C27.184 1.68847 27.2256 2.59604 26.7681 3.22371L26.6433 3.37444L14.6433 16.1744C14.1026 16.7512 13.2517 16.7956 12.6633 16.3075L12.522 16.1744L0.521982 3.37444C-0.0638047 2.7496 -0.0638047 1.73653 0.521982 1.11169C1.06271 0.53492 1.91356 0.490553 2.50199 0.978592L2.6433 1.11169L13.5826 12.7803L24.522 1.1117C25.1078 0.486857 26.0575 0.486857 26.6433 1.1117Z' fill='#878787')
