.mobile-menu
  .mobile-menu__wrap
    .mobile-menu__header
      .mobile-menu__act.mobile-menu__act--close
        svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.79' fill-rule='evenodd' clip-rule='evenodd' d='M15 1.5L13.5 0L7.5 6L1.5 0L0 1.5L6 7.5L0 13.5L1.5 15L7.5 9L13.5 15L15 13.5L9 7.5L15 1.5Z' fill='#575757')
    nav.mobile-menu__nav.anchors
      ul.mobile-menu__nav-list
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='') Наши работы
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="") Технологии
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="materials") Материалы
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="guarantee") Гарантии
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="reviews") Отзывы
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="contacts") Контакты

    .mobile-menu__phones
      a.mobile-menu__phone(href='tel:79990636003') +7 999 063 60 03
    span.btn(onclick='show_popup("call")') Перезвоните мне
    .socials
      a.socials__link(href='' target='_blank')
        svg(width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(width='29' height='28' rx='6' fill='#4E76A2')
          path(d='M13.786 19.9552H14.9812C14.9812 19.9552 15.3418 19.916 15.5264 19.7245C15.6961 19.5488 15.6914 19.2185 15.6914 19.2185C15.6914 19.2185 15.668 17.6721 16.4118 17.4436C17.1455 17.2196 18.0888 18.938 19.0868 19.5993C19.8424 20.0992 20.4165 19.9899 20.4165 19.9899L23.0876 19.9544C23.0876 19.9544 24.4846 19.8715 23.8213 18.8114C23.7681 18.7254 23.4357 18.0287 21.8362 16.5961C20.1608 15.0979 20.386 15.3399 22.4032 12.7476C23.6313 11.1695 24.1225 10.2059 23.9692 9.79341C23.8229 9.40057 22.9195 9.50462 22.9195 9.50462L19.912 9.52196C19.912 9.52196 19.6891 9.49256 19.5241 9.58756C19.3622 9.68106 19.2581 9.89897 19.2581 9.89897C19.2581 9.89897 18.7826 11.1205 18.1474 12.1595C16.8084 14.3514 16.2726 14.4675 16.0536 14.331C15.5444 14.0128 15.6719 13.0568 15.6719 12.3766C15.6719 10.2518 16.0059 9.36664 15.0211 9.13742C14.6941 9.06126 14.4525 9.0115 13.6179 9.00245C12.544 8.99189 11.6359 9.00547 11.122 9.24901C10.7802 9.41112 10.5158 9.77079 10.6769 9.7919C10.8764 9.81753 11.3261 9.90877 11.5639 10.2217C11.8728 10.6258 11.8619 11.5337 11.8619 11.5337C11.8619 11.5337 12.0387 14.0347 11.4481 14.3454C11.043 14.5572 10.4868 14.1229 9.29324 12.1346C8.6808 11.1159 8.21932 9.98945 8.21932 9.98945C8.21932 9.98945 8.13015 9.77908 7.97137 9.66598C7.77896 9.5295 7.50989 9.48652 7.50989 9.48652L4.65183 9.50462C4.65183 9.50462 4.22241 9.51669 4.0652 9.69614C3.92519 9.85599 4.05425 10.1862 4.05425 10.1862C4.05425 10.1862 6.29126 15.2328 8.82472 17.7754C11.1478 20.1075 13.786 19.9552 13.786 19.9552Z' fill='white')

      a.socials__link(href='' target='_blank')
        svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M27.9158 8.22791C27.8477 6.73767 27.611 5.71997 27.2649 4.82959C26.9135 3.89542 26.3624 3.04926 25.6501 2.34985C24.951 1.63763 24.1046 1.08627 23.1704 0.73465C22.2798 0.388794 21.2623 0.152313 19.7721 0.0845947C18.2791 0.0162354 17.8021 0 14 0C10.1979 0 9.72092 0.0162354 8.22791 0.0841675C6.73767 0.152313 5.72018 0.389008 4.82959 0.735077C3.89542 1.08649 3.04926 1.63763 2.34985 2.34985C1.63763 3.04904 1.08627 3.8952 0.73465 4.82938C0.388794 5.71997 0.152313 6.73767 0.0845947 8.22769C0.0162354 9.72092 0 10.1977 0 13.9998C0 17.8021 0.0162354 18.2791 0.0845947 19.7721C0.152527 21.2621 0.389221 22.2798 0.73529 23.1704C1.0867 24.1044 1.63785 24.9507 2.35007 25.6499C3.04926 26.3622 3.89563 26.9133 4.8298 27.2647C5.72018 27.611 6.73788 27.8475 8.22812 27.9156C9.72134 27.9838 10.1982 27.9998 14.0002 27.9998C17.8023 27.9998 18.2793 27.9838 19.7723 27.9156C21.2625 27.8475 22.28 27.611 23.1706 27.2647C25.0511 26.5375 26.5378 25.0509 27.2649 23.1704C27.6112 22.2798 27.8477 21.2621 27.9158 19.7721C27.9838 18.2789 28 17.8021 28 14C28 10.1977 27.9838 9.72092 27.9158 8.22791ZM25.3957 19.6574C25.3336 21.0224 25.1054 21.7637 24.9138 22.257C24.4427 23.478 23.4778 24.443 22.2567 24.914C21.7635 25.1056 21.0222 25.3338 19.6572 25.3959C18.1812 25.4634 17.7384 25.4775 14 25.4775C10.2614 25.4775 9.81876 25.4634 8.34262 25.3959C6.97778 25.3338 6.23651 25.1056 5.74304 24.914C5.13507 24.6895 4.58499 24.3317 4.13339 23.8666C3.66833 23.415 3.31052 22.8651 3.086 22.257C2.89438 21.7637 2.66623 21.0224 2.60406 19.6574C2.53677 18.1812 2.52246 17.7384 2.52246 14.0002C2.52246 10.2618 2.53677 9.81918 2.60406 8.34283C2.66644 6.97778 2.89438 6.23651 3.086 5.74326C3.31052 5.13507 3.66855 4.58499 4.13339 4.13339C4.58499 3.66833 5.13507 3.31052 5.74326 3.08621C6.23651 2.89438 6.97778 2.66644 8.34283 2.60406C9.81897 2.53677 10.2618 2.52246 14 2.52246H13.9998C17.738 2.52246 18.1808 2.53677 19.6572 2.60428C21.0222 2.66644 21.7633 2.89459 22.2567 3.08621C22.8647 3.31073 23.4148 3.66855 23.8664 4.13339C24.3315 4.58499 24.6893 5.13507 24.9136 5.74326C25.1054 6.23651 25.3336 6.97778 25.3957 8.34283C25.463 9.81897 25.4773 10.2618 25.4773 14C25.4773 17.7384 25.4632 18.181 25.3957 19.6574Z' fill='url(#paint0_linear)')
          path(d='M13.9998 6.81055C10.0294 6.81055 6.81076 10.0294 6.81076 13.9998C6.81076 17.9702 10.0294 21.1889 13.9998 21.1889C17.9704 21.1889 21.1891 17.9702 21.1891 13.9998C21.1891 10.0294 17.9704 6.81055 13.9998 6.81055ZM13.9998 18.6664C11.4227 18.6662 9.33322 16.577 9.33344 13.9996C9.33344 11.4225 11.4227 9.33301 14 9.33301C16.5774 9.33322 18.6666 11.4225 18.6666 13.9996C18.6666 16.577 16.5772 18.6664 13.9998 18.6664Z' fill='url(#paint1_linear)')
          path(d='M23.1531 6.52682C23.1531 7.45459 22.4009 8.20676 21.4732 8.20676C20.5452 8.20676 19.793 7.45459 19.793 6.52682C19.793 5.59885 20.5452 4.84668 21.4732 4.84668C22.4009 4.84668 23.1531 5.59885 23.1531 6.52682Z' fill='url(#paint2_linear)')
          defs
            lineargradient#paint0_linear(x1='2.34971' y1='25.6501' x2='25.6503' y2='2.34949' gradientUnits='userSpaceOnUse')
              stop(stop-color='#FFD600')
              stop(offset='0.5' stop-color='#FF0100')
              stop(offset='1' stop-color='#D800B9')
            lineargradient#paint1_linear(x1='8.91644' y1='19.0832' x2='19.0834' y2='8.91623' gradientUnits='userSpaceOnUse')
              stop(stop-color='#FF6400')
              stop(offset='0.5' stop-color='#FF0100')
              stop(offset='1' stop-color='#FD0056')
            lineargradient#paint2_linear(x1='20.2852' y1='7.71464' x2='22.661' y2='5.33881' gradientUnits='userSpaceOnUse')
              stop(stop-color='#F30072')
              stop(offset='1' stop-color='#E50097')
      a.socials__link(href='' target='_blank')
        svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0)')
            path(d='M0.650499 28C0.493272 28 0.340318 27.9378 0.226884 27.8231C0.0773481 27.6719 0.0196699 27.4523 0.0758527 27.247L1.89613 20.5999C0.762864 18.5506 0.165361 16.2324 0.166215 13.8791C0.16942 6.22604 6.39739 0 14.0498 0C17.7615 0.00149536 21.2491 1.4473 23.8705 4.07059C26.4914 6.69409 27.9342 10.1815 27.9332 13.8902C27.9297 21.5435 21.7018 27.7699 14.0498 27.7699C14.0498 27.7699 14.044 27.7699 14.0438 27.7699C11.8087 27.7691 9.59276 27.2243 7.61974 26.1925L0.80153 27.9806C0.751542 27.9936 0.7007 28 0.650499 28Z' fill='#E5E5E5')
            path(d='M0.650482 27.4041L2.53549 20.5205C1.37274 18.5059 0.761139 16.2205 0.761993 13.8792C0.764984 6.55472 6.72549 0.595703 14.0498 0.595703C17.604 0.597198 20.9402 1.98062 23.449 4.49155C25.9576 7.00247 27.3386 10.3401 27.3373 13.8899C27.3341 21.2142 21.3728 27.174 14.0498 27.174C14.0493 27.174 14.05 27.174 14.0498 27.174H14.044C11.8202 27.1732 9.63525 26.6154 7.69449 25.5569L0.650482 27.4041ZM8.02069 23.1522L8.42422 23.3912C10.1195 24.3974 12.0633 24.9295 14.0455 24.9306H14.0498C20.1367 24.9306 25.0911 19.9771 25.0937 13.889C25.0947 10.9387 23.9471 8.16437 21.862 6.07748C19.7766 3.9906 17.004 2.84067 14.0538 2.83939C7.96194 2.83939 3.00781 7.79224 3.00546 13.8801C3.00461 15.9663 3.58823 17.9979 4.69394 19.756L4.9567 20.1738L3.84073 24.248L8.02069 23.1522Z' fill='white')
            path(d='M1.11255 26.9405L2.9324 20.2949C1.8096 18.3501 1.21936 16.1436 1.22 13.8836C1.22278 6.81271 6.97714 1.06006 14.0474 1.06006C17.4791 1.06155 20.6999 2.39713 23.1213 4.82111C25.5433 7.24509 26.8763 10.4672 26.8751 13.8937C26.8721 20.9648 21.1175 26.7181 14.0481 26.7181C14.0474 26.7181 14.0483 26.7181 14.0481 26.7181H14.0423C11.8956 26.7173 9.78607 26.1785 7.9126 25.1574L1.11255 26.9405Z' fill='#64B161')
            path(d='M0.650482 27.4041L2.53549 20.5205C1.37274 18.5059 0.761139 16.2205 0.761993 13.8792C0.764984 6.55472 6.72549 0.595703 14.0498 0.595703C17.604 0.597198 20.9402 1.98062 23.449 4.49155C25.9576 7.00247 27.3386 10.3401 27.3373 13.8899C27.3341 21.2142 21.3728 27.174 14.0498 27.174C14.0493 27.174 14.05 27.174 14.0498 27.174H14.044C11.8202 27.1732 9.63525 26.6154 7.69449 25.5569L0.650482 27.4041ZM8.02069 23.1522L8.42422 23.3912C10.1195 24.3974 12.0633 24.9295 14.0455 24.9306H14.0498C20.1367 24.9306 25.0911 19.9771 25.0937 13.889C25.0947 10.9387 23.9471 8.16437 21.862 6.07748C19.7766 3.9906 17.004 2.84067 14.0538 2.83939C7.96194 2.83939 3.00781 7.79224 3.00546 13.8801C3.00461 15.9663 3.58823 17.9979 4.69394 19.756L4.9567 20.1738L3.84073 24.248L8.02069 23.1522Z' fill='white')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M10.7288 8.32563C10.4801 7.77277 10.2182 7.76166 9.98153 7.75205C9.78799 7.74372 9.56646 7.74414 9.34537 7.74414C9.12405 7.74414 8.76431 7.82746 8.46011 8.15964C8.1557 8.49182 7.29779 9.29505 7.29779 10.9286C7.29779 12.5624 8.48767 14.1409 8.65365 14.3626C8.81964 14.5841 10.9505 18.0436 14.3251 19.3744C17.1298 20.4806 17.7004 20.2605 18.3092 20.2052C18.918 20.1499 20.2735 19.402 20.5501 18.6267C20.827 17.8515 20.827 17.1871 20.7439 17.0481C20.6608 16.9099 20.4394 16.8268 20.1075 16.6608C19.7755 16.4948 18.1432 15.6913 17.8388 15.5807C17.5344 15.4698 17.3131 15.4147 17.0918 15.7471C16.8702 16.0791 16.2345 16.8268 16.0407 17.0481C15.847 17.27 15.6532 17.2978 15.3212 17.1316C14.9893 16.9652 13.9199 16.6148 12.6514 15.4837C11.6645 14.6038 10.998 13.5169 10.8042 13.1845C10.6107 12.8525 10.801 12.6884 10.9501 12.5071C11.2186 12.1805 11.6692 11.5932 11.7798 11.3719C11.8905 11.1502 11.8351 10.9564 11.7523 10.7902C11.6692 10.6242 11.0238 8.9823 10.7288 8.32563Z' fill='white')
          defs
            clippath#clip0
              rect(width='28' height='28' fill='white')

      a.socials__link(href='' target='_blank')
        svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip1)')
            path(d='M31.3407 8.31834C30.9718 6.9475 29.891 5.86694 28.5204 5.4978C26.0162 4.8125 15.9997 4.8125 15.9997 4.8125C15.9997 4.8125 5.98337 4.8125 3.47923 5.47168C2.135 5.84057 1.02783 6.94775 0.658933 8.31834C0 10.8222 0 16.0151 0 16.0151C0 16.0151 0 21.2341 0.658933 23.7118C1.02807 25.0824 2.10863 26.1632 3.47948 26.5324C6.00974 27.2177 15.9999 27.2177 15.9999 27.2177C15.9999 27.2177 26.0162 27.2177 28.5204 26.5585C29.8912 26.1896 30.9718 25.1088 31.3409 23.7382C31.9999 21.2341 31.9999 16.0415 31.9999 16.0415C31.9999 16.0415 32.0262 10.8222 31.3407 8.31834Z' fill='#FF0000')
            path(d='M12.8106 20.8125L21.14 16.0151L12.8106 11.2178V20.8125Z' fill='white')
          defs
            clippath#clip1
              rect(width='32' height='32' fill='white')