section.robots#robots
    .robots__wrap
        .simple-title.robots__title Утеплили пенополиуретаном более <span>4950</span> зданий за <span>11 лет</span>
        .robots-slider.robots-slider--1(data-slider='1')
            .robots__item-top
                .robots__item-title Овцеферма, 130м2
                .robots__item-subtitle Ленинградская область, городской округ Шаховская, село Воютино
                .robots__item-close
                    svg(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.209704 0.387101L0.292893 0.292893C0.653377 -0.0675905 1.22061 -0.0953204 1.6129 0.209704L1.70711 0.292893L8 6.585L14.2929 0.292893C14.6834 -0.0976309 15.3166 -0.0976309 15.7071 0.292893C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.415 8L15.7071 14.2929C16.0676 14.6534 16.0953 15.2206 15.7903 15.6129L15.7071 15.7071C15.3466 16.0676 14.7794 16.0953 14.3871 15.7903L14.2929 15.7071L8 9.415L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292893 15.7071C-0.0976309 15.3166 -0.0976309 14.6834 0.292893 14.2929L6.585 8L0.292893 1.70711C-0.0675905 1.34662 -0.0953204 0.779392 0.209704 0.387101L0.292893 0.292893L0.209704 0.387101Z')
            .robots-slider__wrap
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img3.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                .swiper-pagination.mobile--hide
                .swiper-button.desktop--hide
                    .swiper-button-next
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M14.1229 8.86946C14.5134 8.47894 14.5134 7.84577 14.1229 7.45525L7.75891 1.09129C7.36839 0.700762 6.73522 0.700762 6.3447 1.09129C5.95417 1.48181 5.95417 2.11498 6.3447 2.5055L12.0016 8.16235L6.3447 13.8192C5.95417 14.2097 5.95417 14.8429 6.3447 15.2334C6.73522 15.6239 7.36838 15.6239 7.75891 15.2334L14.1229 8.86946ZM0.584595 9.16235L13.4158 9.16235L13.4158 7.16235L0.584595 7.16235L0.584595 9.16235Z')
                    .swiper-button-prev
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.877069 7.13054C0.486544 7.52106 0.486544 8.15423 0.877069 8.54475L7.24103 14.9087C7.63155 15.2992 8.26472 15.2992 8.65524 14.9087C9.04577 14.5182 9.04577 13.885 8.65524 13.4945L2.99839 7.83765L8.65524 2.18079C9.04577 1.79027 9.04577 1.1571 8.65524 0.766579C8.26472 0.376054 7.63155 0.376054 7.24103 0.766579L0.877069 7.13054ZM14.4153 6.83765L1.58418 6.83765V8.83765L14.4153 8.83765V6.83765Z')
            .robots__item-bottom
                p.robots__item-info Площадь утепления:
                    span 120м2
                p.robots__item-info Срок выполнения:
                    span 6 часов
                p.robots__item-info Применяемый материал:
                    span Экотермикс 600
                p.robots__item-info Толщина утепления:
                    span 150мм
        .robots-slider.robots-slider--2(data-slider='2')
            .robots__item-top
                .robots__item-title Купольный дом, 281<span>м<sup>2</sup></span>
                .robots__item-subtitle Ленинградская область, Пушкинский район, д. Нагорное
                .robots__item-close
                    svg(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.209704 0.387101L0.292893 0.292893C0.653377 -0.0675905 1.22061 -0.0953204 1.6129 0.209704L1.70711 0.292893L8 6.585L14.2929 0.292893C14.6834 -0.0976309 15.3166 -0.0976309 15.7071 0.292893C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.415 8L15.7071 14.2929C16.0676 14.6534 16.0953 15.2206 15.7903 15.6129L15.7071 15.7071C15.3466 16.0676 14.7794 16.0953 14.3871 15.7903L14.2929 15.7071L8 9.415L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292893 15.7071C-0.0976309 15.3166 -0.0976309 14.6834 0.292893 14.2929L6.585 8L0.292893 1.70711C-0.0675905 1.34662 -0.0953204 0.779392 0.209704 0.387101L0.292893 0.292893L0.209704 0.387101Z')
            .robots-slider__wrap
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img3.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                .swiper-pagination.mobile--hide
                .swiper-button.desktop--hide
                    .swiper-button-next
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M14.1229 8.86946C14.5134 8.47894 14.5134 7.84577 14.1229 7.45525L7.75891 1.09129C7.36839 0.700762 6.73522 0.700762 6.3447 1.09129C5.95417 1.48181 5.95417 2.11498 6.3447 2.5055L12.0016 8.16235L6.3447 13.8192C5.95417 14.2097 5.95417 14.8429 6.3447 15.2334C6.73522 15.6239 7.36838 15.6239 7.75891 15.2334L14.1229 8.86946ZM0.584595 9.16235L13.4158 9.16235L13.4158 7.16235L0.584595 7.16235L0.584595 9.16235Z')
                    .swiper-button-prev
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.877069 7.13054C0.486544 7.52106 0.486544 8.15423 0.877069 8.54475L7.24103 14.9087C7.63155 15.2992 8.26472 15.2992 8.65524 14.9087C9.04577 14.5182 9.04577 13.885 8.65524 13.4945L2.99839 7.83765L8.65524 2.18079C9.04577 1.79027 9.04577 1.1571 8.65524 0.766579C8.26472 0.376054 7.63155 0.376054 7.24103 0.766579L0.877069 7.13054ZM14.4153 6.83765L1.58418 6.83765V8.83765L14.4153 8.83765V6.83765Z')
            .robots__item-bottom
                p.robots__item-info Площадь утепления:
                    span 281м2
                p.robots__item-info Срок выполнения:
                    span 10 часов
                p.robots__item-info Применяемый материал:
                    span Экотермикс 600
                p.robots__item-info Толщина утепления:
                    span 150мм
        .robots-slider.robots-slider--3.robots-slider--active(data-slider='3')
            .robots__item-top
                .robots__item-title Кровля загородного дома
                .robots__item-subtitle Ленинградская область, Чеховский р-он,<br class='desktop--hide'> деревня Перхурово.
                .robots__item-close
                    svg(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.209704 0.387101L0.292893 0.292893C0.653377 -0.0675905 1.22061 -0.0953204 1.6129 0.209704L1.70711 0.292893L8 6.585L14.2929 0.292893C14.6834 -0.0976309 15.3166 -0.0976309 15.7071 0.292893C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.415 8L15.7071 14.2929C16.0676 14.6534 16.0953 15.2206 15.7903 15.6129L15.7071 15.7071C15.3466 16.0676 14.7794 16.0953 14.3871 15.7903L14.2929 15.7071L8 9.415L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292893 15.7071C-0.0976309 15.3166 -0.0976309 14.6834 0.292893 14.2929L6.585 8L0.292893 1.70711C-0.0675905 1.34662 -0.0953204 0.779392 0.209704 0.387101L0.292893 0.292893L0.209704 0.387101Z')
            .robots-slider__wrap
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img3.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img1.png" alt="")
                        .swiper-slide
                            .robots-slider__img
                                div
                                    img(src="assets/images/robots-slider__img2.png" alt="")
                .swiper-pagination.mobile--hide
                .swiper-button.desktop--hide
                    .swiper-button-next
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M14.1229 8.86946C14.5134 8.47894 14.5134 7.84577 14.1229 7.45525L7.75891 1.09129C7.36839 0.700762 6.73522 0.700762 6.3447 1.09129C5.95417 1.48181 5.95417 2.11498 6.3447 2.5055L12.0016 8.16235L6.3447 13.8192C5.95417 14.2097 5.95417 14.8429 6.3447 15.2334C6.73522 15.6239 7.36838 15.6239 7.75891 15.2334L14.1229 8.86946ZM0.584595 9.16235L13.4158 9.16235L13.4158 7.16235L0.584595 7.16235L0.584595 9.16235Z')
                    .swiper-button-prev
                        svg(viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.877069 7.13054C0.486544 7.52106 0.486544 8.15423 0.877069 8.54475L7.24103 14.9087C7.63155 15.2992 8.26472 15.2992 8.65524 14.9087C9.04577 14.5182 9.04577 13.885 8.65524 13.4945L2.99839 7.83765L8.65524 2.18079C9.04577 1.79027 9.04577 1.1571 8.65524 0.766579C8.26472 0.376054 7.63155 0.376054 7.24103 0.766579L0.877069 7.13054ZM14.4153 6.83765L1.58418 6.83765V8.83765L14.4153 8.83765V6.83765Z')
            .robots__item-bottom
                p.robots__item-info Площадь утепления:
                    span 130м2
                p.robots__item-info Срок выполнения:
                    span 8 часов
                p.robots__item-info Применяемый материал:
                    span Экотермикс 600
                p.robots__item-info Толщина утепления:
                    span 150мм
        .robots__list
            .robots__item
                .robots__item-img
                    div
                        img(src="assets/images/robots__item-img1.png" alt="")
                .robots__item-box
                    .robots__item-title Овцеферма, 130<span>м<sup>2</sup></span>
                    .robots__item-subtitle Ленинградская область, городской округ Шаховская, село Воютино
                .robots__item-btn(data-slider='1')
                    .btn Подробнее
            .robots__item
                .robots__item-img
                    div
                        img(src="assets/images/robots__item-img2.png" alt="")
                .robots__item-box
                    .robots__item-title Купольный дом, 281<span>м<sup>2</sup></span>
                    .robots__item-subtitle Ленинградская область, Пушкинский район, д. Нагорное
                .robots__item-btn(data-slider='2')
                    .btn Подробнее
            .robots__item.robots__item--hidden
                .robots__item-img
                    div
                        img(src="assets/images/robots-slider__img2.png" alt="")
                .robots__item-box
                    .robots__item-title КРОВЛЯ ЗАГОРОДНОГО ДОМА
                    .robots__item-subtitle Ленинградская область, Чеховский р-он, деревня Перхурово.
                .robots__item-btn(data-slider='3')
                    .btn Подробнее

