extends ../layout/main

block variables
    - var title = 'УтепДом';
    - var pageClass = 'index-page';

block content

    include ../includes/main-screen
    include ../includes/guarantee
    include ../includes/robots
    include ../includes/consultation
    include ../includes/materials
    include ../includes/reviews
    include ../includes/reviews-video
    include ../includes/faq
    include ../includes/contacts
    include ../includes/questions


    //- include ../includes/mobile-menu
    //- include ../includes/popup

//- block script
