extends ../layout/main

block variables
    - var title = 'Malva Dreams';
    - var pageClass = 'index-page';

block content

    include ../includes/main-screen
    include ../includes/production
    include ../includes/advantage
    include ../includes/catalog
    include ../includes/reviews
    include ../includes/stock
    include ../includes/guarantee
    include ../includes/delivery
    include ../includes/consultation
    include ../includes/contacts
    include ../includes/mobile-menu
    include ../includes/popup
//- block script
