article.articles
    .center-wrap
        .simple-title.articles__title Статьи
        .articles__wrap.mobile--hide
            a(href="").articles__img
                div
                    img(src="assets/images/article__img.png", alt="")
            .articles__content
                p.articles__content-descr
                    | Про оборудование — 05.09.2020
                .articles__content-title Фильтры для бассейна: виды, советы по выбору и использованию
                p.articles__content-text Для того чтобы вода в бассейне была чистой и свежей, тем самым доставляла удовольствие купающимся, необходима система фильтрации. При отсутствии фильтров в искусственном водоеме вода будет мутной, иногда зеленой или с белым налетом.
        .articles-slider.desktop--hide
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                         .articles__wrap
                            a(href="").articles__img
                                div
                                    img(src="assets/images/article__img.png", alt="")
                            .articles__content
                                p.articles__content-descr
                                    | Про оборудование — 05.09.2020
                                .articles__content-title Фильтры для бассейна: виды, советы по выбору и использованию
                                p.articles__content-text Для того чтобы вода в бассейне была чистой и свежей, тем самым доставляла удовольствие купающимся, необходима система фильтрации. При отсутствии фильтров в искусственном водоеме вода будет мутной, иногда зеленой или с белым налетом.
                    .swiper-slide
                         .articles__wrap
                            a(href="").articles__img
                                div
                                    img(src="assets/images/article__img.png", alt="")
                            .articles__content
                                p.articles__content-descr
                                    | Про оборудование — 05.09.2020
                                .articles__content-title Фильтры для бассейна: виды, советы по выбору и использованию
                                p.articles__content-text Для того чтобы вода в бассейне была чистой и свежей, тем самым доставляла удовольствие купающимся, необходима система фильтрации. При отсутствии фильтров в искусственном водоеме вода будет мутной, иногда зеленой или с белым налетом.
                    .swiper-slide
                         .articles__wrap
                            a(href="").articles__img
                                div
                                    img(src="assets/images/article__img.png", alt="")
                            .articles__content
                                p.articles__content-descr
                                    | Про оборудование — 05.09.2020
                                .articles__content-title Фильтры для бассейна: виды, советы по выбору и использованию
                                p.articles__content-text Для того чтобы вода в бассейне была чистой и свежей, тем самым доставляла удовольствие купающимся, необходима система фильтрации. При отсутствии фильтров в искусственном водоеме вода будет мутной, иногда зеленой или с белым налетом.
                    .swiper-slide
                         .articles__wrap
                            a(href="").articles__img
                                div
                                    img(src="assets/images/article__img.png", alt="")
                            .articles__content
                                p.articles__content-descr
                                    | Про оборудование — 05.09.2020
                                .articles__content-title Фильтры для бассейна: виды, советы по выбору и использованию
                                p.articles__content-text Для того чтобы вода в бассейне была чистой и свежей, тем самым доставляла удовольствие купающимся, необходима система фильтрации. При отсутствии фильтров в искусственном водоеме вода будет мутной, иногда зеленой или с белым налетом.  
                // Add Pagination
            .swiper-pagination
