section.building-pools#building-pools
    .building-slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="assets/images/main-screen__img.png" alt="").building-pools__img
                    .center-wrap
                        img(src="assets/images/main-screen__img.png" alt="").building-slider__img.mobile--hide
                        img(src="assets/images/main-screen__img.png" alt="").building-slider__img.desktop--hide
                        .building-slider__content
                            .building-slider__title Строительство бассейнов
                            .building-slider__subtitle Спроектируем в 3D и построим ваш бассейн в любом регионе России
                            .btn Подробнее
                .swiper-slide
                    img(src="assets/images/building-slider__img1.png" alt="").building-pools__img
                    .center-wrap
                        img(src="assets/images/building-slider__img1.png" alt="").building-slider__img.mobile--hide
                        img(src="assets/images/building-slider__img1--mobile.png" alt="").building-slider__img.desktop--hide
                        .building-slider__content
                            .building-slider__title Строительство бассейнов
                            .building-slider__subtitle Спроектируем в 3D и построим ваш бассейн в любом регионе России
                            .btn Подробнее
                .swiper-slide
                    img(src="assets/images/main-screen__img.png" alt="").building-pools__img
                    .center-wrap
                        img(src="assets/images/main-screen__img.png" alt="").building-slider__img.mobile--hide
                        img(src="assets/images/main-screen__img.png" alt="").building-slider__img.desktop--hide
                        .building-slider__content
                            .building-slider__title Строительство бассейнов
                            .building-slider__subtitle Спроектируем в 3D и построим ваш бассейн в любом регионе России
                            .btn Подробнее

                .swiper-slide
                    img(src="assets/images/building-slider__img1.png" alt="").building-pools__img
                    .center-wrap
                        img(src="assets/images/building-slider__img1.png" alt="").building-slider__img.mobile--hide
                        img(src="assets/images/building-slider__img1--mobile.png" alt="").building-slider__img.desktop--hide
                        .building-slider__content
                            .building-slider__title Строительство бассейнов
                            .building-slider__subtitle Спроектируем в 3D и построим ваш бассейн в любом регионе России
                            .btn Подробнее
                .swiper-slide
                    img(src="assets/images/building-slider__img1.png" alt="").building-pools__img
                    .center-wrap
                        img(src="assets/images/building-slider__img1.png" alt="").building-slider__img.mobile--hide
                        img(src="assets/images/building-slider__img1--mobile.png" alt="").building-slider__img.desktop--hide
                        .building-slider__content
                            .building-slider__title Строительство бассейнов
                            .building-slider__subtitle Спроектируем в 3D и построим ваш бассейн в любом регионе России
                            .btn Подробнее
        .center-wrap
            .swiper-pagination
