footer.footer
    .center-wrap
        .footer__wrap
            .footer__address
                span.footer__address-city.mobile--hide
                    | Санкт-Петербург,
                | ул.Бассейная,д.73,корпус 1
            .footer__center
                .footer__contract.mobile--hide(onclick='show_popup("contract")')
                    | Договор оферты
                .footer__privacy.mobile--hide(onclick='show_popup("privacy")')
                    | Политика конфиденциальности
            p.footer__copyright
                | © tvoybasseyn.ru, 2013 - 2020 год
