section.information
    .center-wrap
        .information__list
            .information__item
                a(href="").information__img
                    div
                        img(src="assets/images/information__img1.png" alt="")
                .information__subtitle
                    p Проект
                a(href="").information__title Эквадор с павильоном
                .information__link
                    a(href="") Все проекты
            .information__item
                a(href="https://www.youtube.com/embed/YRTrS7CJ3uM" data-fancybox-type="iframe").information__img.information__img--video.fancybox
                    div
                        img(src="assets/images/information__img2.png" alt="")
                .information__subtitle
                    p Видео
                a(href="").information__title Крытый бассейн
                .information__link
                    a(href="") Все видео
            .information__item
                a(href="").information__img
                    div
                        img(src="assets/images/information__img3.png" alt="")
                .information__subtitle
                    p Статья
                a(href="").information__title Как правильно хранить бассейн зимой
                .information__link
                    a(href="") Все статьи
            .information__item.information__item--hide
