section.kit.toogles__wrap
    .center-wrap
        .kit__title
            .kit__title-item.toogles__item-title.toogles__item-title--active(data-toogles="1") В комплекте дешевле
            .kit__title-item.toogles__item-title(data-toogles="2") С этим товаром покупают
        .toogles__item.toogles__item--active(data-toogles="1")
            .toogles__item-content(style='display: block;')
                div
                    .kit__tab.mobile--hide
                        .kit__tab-item
                            +card({price:'25 000 ₽',price_old:'27 790',title:'Фильтровальная установка Kripsol Granada + песок',src:"assets/images/kit__img1.png",plus:false,price_discont:true,discont:'-10%',article:false})
                        .kit__tab-item
                            +card({price:'29 000 ₽',price_old:'31 790',title:'Фильтровальная установка Kripsol Granada + стеклянные наполнитель',src:"assets/images/kit__img2.png",plus:false,price_discont:true,discont:'-15%',article:false})
                        .kit__tab-item.kit__tab-item--hide
                        .kit__tab-item.kit__tab-item--hide 
                        .kit__tab-item.kit__tab-item--hide
                    .kit-slider.desktop--hide
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    +card({price:'1 100 ₽',price_old:'27 790 ₽',src:"assets/images/kit__img1.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false,card_discont:true})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
        .toogles__item(data-toogles="2")
            .toogles__item-content
                div
                    .kit__tab.mobile--hide
                        .kit__tab-item
                            +card({price:'1 100 ₽',title:'Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)',src:"assets/images/kit__img3.png",plus:false})
                        .kit__tab-item
                            +card({price:'3 413 ₽',title:'Стеклянный фильтрующий наполнитель для песчаных фильтров Nature Works',src:"assets/images/kit__img4.png",plus:false})
                        .kit__tab-item.kit__tab-item--hide
                        .kit__tab-item.kit__tab-item--hide
                        .kit__tab-item.kit__tab-item--hide
                    .kit-slider.desktop--hide
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    +card({price:'1 100 ₽',price_old:'37 790 ₽',src:"assets/images/kit__img1.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false,card_discont:true})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})
                                .swiper-slide
                                    +card({price:'1 100 ₽',src:"assets/images/product__slider-img2.png",title:"Песок кварцевый фракция 0,5-1,0 мм (мешок 25 кг)",hit:false,delivery:false,bottom:false})