section.main-screen#main-screen
    .center-wrap
        h2.main-screen__title
            | Эксперты в области бассейной индустрии
        h3.main-screen__subtitle
            | Работаем с лучшими производителями и предоставляем большой спектр услуг.
    .main-screen__img.mobile--hide
        img(src="assets/images/main-screen__img.png", alt="")
    .main-screen__img.main-screen__img--mobile.desktop--hide
        img(src="assets/images/main-screen__img--mobile.png", alt="")