section.popular-categories
    .center-wrap
        .simple-title.popular-categories__title Популярные категории
        .popular-categories__wrap.mobile--hide       
            .popular-categories__list
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома
                a(href="").categorie
                    .categorie__img
                        div
                            img(src="assets/images/popular-categories__img1.png" alt="")
                    .categorie__title Бассейны для дома            
                a(href="").categorie.categorie--hide
                a(href="").categorie.categorie--hide
                
            .popular-categories__banner
                .banner
                    div
                        img(src="assets/images/banner.png" alt="")
    .categories-slider.desktop--hide
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .categorie
                        .categorie__img
                            div
                                img(src="assets/images/popular-categories__img1.png" alt="")
                        .categorie__title Бассейны для дома

                .swiper-slide
                    .categorie
                        .categorie__img
                            div
                                img(src="assets/images/popular-categories__img1.png" alt="")
                        .categorie__title Бассейны для дома

                .swiper-slide
                    .categorie
                        .categorie__img
                            div
                                img(src="assets/images/popular-categories__img1.png" alt="")
                        .categorie__title Бассейны для дома

                .swiper-slide
                    .categorie
                        .categorie__img
                            div
                                img(src="assets/images/popular-categories__img1.png" alt="")
                        .categorie__title Бассейны для дома

                .swiper-slide
                    .categorie
                        .categorie__img
                            div
                                img(src="assets/images/popular-categories__img1.png" alt="")
                        .categorie__title Бассейны для дома
