#privacy.popup-wrap
    .popup
        .popup__close(onclick="close_popup('privacy')")
            div
            div
        .popup-form
            h2.popup-form__title
                | Политика конфендициальности
            .popup-form__text
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, magni iure sit? Saepe dolor,
                    | cumque recusandae laboriosam obcaecati voluptatibus explicabo! Dicta iste consequuntur
                    | voluptatem quis minima tempora. Voluptates, commodi, dolore.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, magni iure sit? Saepe dolor,
                    | cumque recusandae laboriosam obcaecati voluptatibus explicabo! Dicta iste consequuntur
                    | voluptatem quis minima tempora. Voluptates, commodi, dolore.contract
#contract.popup-wrap
    .popup
        .popup__close(onclick="close_popup('contract')")
            div
            div
        .popup-form
            h2.popup-form__title
                | Договор оферты
            .popup-form__text
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, magni iure sit? Saepe dolor,
                    | cumque recusandae laboriosam obcaecati voluptatibus explicabo! Dicta iste consequuntur
                    | voluptatem quis minima tempora. Voluptates, commodi, dolore.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, magni iure sit? Saepe dolor,
                    | cumque recusandae laboriosam obcaecati voluptatibus explicabo! Dicta iste consequuntur
                    | voluptatem quis minima tempora. Voluptates, commodi, dolore.
#basket.popup-wrap
    .popup.popup--300
        .popup__close(onclick="close_popup('basket')")
            div
            div
        .popup-form
            h2.popup-form__title
                | Ваша корзина пуста
            .popup-form__text
                | Обнакомьтесь с нашим ассортиментом
            .popup-form__btn
                a(href="").btn.btn--blue Каталог оборудования
            .popup-form__img
                img(src="assets/images/popap-img.png", alt="")
            