section.product
    .product__top
        .center-wrap
            .product__title ФИЛЬТРОВАЛЬНАЯ УСТАНОВКА 6,0 М3/Ч KRIPSOL GRANADA (GTN406-33)
            .product__inner
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="index.html") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="") Каталог
                        li.breadcrumbs__item
                            .breadcrumbs__link Фильтры
                                svg(viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.86243 4L0.643236 0.25L5.08162 0.25L2.86243 4Z')
                                ul.breadcrumbs__selects
                                    li.breadcrumbs__selects-item
                                        a(href="").breadcrumbs__selects-link Фильтры
                                    li.breadcrumbs__selects-item
                                        a(href="").breadcrumbs__selects-link Фильтры
                        li.breadcrumbs__item
                            span KRIPSOL GRANADA (GTN406-33)
                
                .product__inner-right.mobile--hide
                    .product__inner-postpone.comparisons.comparisons--bg.comparisons--heart
                        svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.61741 2.30257L7 2.75726L7.38259 2.30257C8.05457 1.50392 9.08565 1 10.15 1C12.0242 1 13.5 2.48491 13.5 4.39646C13.5 5.57313 12.9816 6.67886 11.9705 7.92993C10.9535 9.18832 9.48939 10.5331 7.67692 12.1965L7.67621 12.1971L6.99871 12.8213L6.32347 12.2039L6.32263 12.2031C4.51044 10.5365 3.04657 9.19014 2.02961 7.93094C1.01841 6.67889 0.5 5.57314 0.5 4.39646C0.5 2.48491 1.97578 1 3.85 1C4.91435 1 5.94543 1.50392 6.61741 2.30257Z')

                        | Отложить
                    .product__inner-comparison.comparisons.comparisons--bg
                        svg(viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.125 2.25004V0.833374H12.875V2.25004H0.125ZM0.125 7.20837V5.79171H12.875V7.20837H0.125ZM0.125 12.1667V10.75H5.79167V12.1667H0.125ZM12.875 10.75V12.1667H11.1042V13.9375H9.6875V12.1667H7.91667V10.75H9.6875V8.97921H11.1042V10.75H12.875Z')
                        | Сравнить
    .center-wrap
        .product__wrap.toogles__wrap
            .product__slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .product__slider-img.toogles__item-title(data-toogles="1")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide
                        .swiper-slide 
                            .product__slider-img.toogles__item-title.toogles__item-title--active(data-toogles="2")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide
                        .swiper-slide 
                            .product__slider-img.toogles__item-title(data-toogles="3")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide
                        .swiper-slide
                            .product__slider-img.toogles__item-title(data-toogles="4")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide
                        .swiper-slide
                            .product__slider-img.toogles__item-title(data-toogles="5")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide

                        .swiper-slide
                            .product__slider-img.toogles__item-title(data-toogles="6")
                                div
                                    img(src="assets/images/product__slider-img1.png" alt="").mobile--hide
                                    img(src="assets/images/product__slider-mobile.png" alt="").desktop--hide
                .swiper-pagination
            .product__inner-right.desktop--hide
                    .product__inner-postpone.comparisons.comparisons--bg.comparisons--heart
                        svg(viewBox='0 0 15 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.11941 1.92959L7.50008 2.37662L7.88076 1.92959C8.56104 1.13072 9.60647 0.625 10.6876 0.625C12.5931 0.625 14.0834 2.11531 14.0834 4.02083C14.0834 5.19534 13.5597 6.30011 12.5362 7.55141C11.507 8.80972 10.0253 10.1544 8.19129 11.8175L8.19058 11.8182L7.4988 12.4479L6.80926 11.825L6.80834 11.8241C4.97463 10.1578 3.4932 8.81153 2.46404 7.55242C1.44045 6.30014 0.916748 5.19535 0.916748 4.02083C0.916748 2.11531 2.40706 0.625 4.31258 0.625C5.39369 0.625 6.43912 1.13072 7.11941 1.92959Z')
                        | Отложить
                    .product__inner-comparison.comparisons.comparisons--bg
                        svg(viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.125 2.25004V0.833374H12.875V2.25004H0.125ZM0.125 7.20837V5.79171H12.875V7.20837H0.125ZM0.125 12.1667V10.75H5.79167V12.1667H0.125ZM12.875 10.75V12.1667H11.1042V13.9375H9.6875V12.1667H7.91667V10.75H9.6875V8.97921H11.1042V10.75H12.875Z')
                        | Сравнить
            .toogles__item.mobile--hide(data-toogles="1")
                .toogles__item-content
                    div
                        .product__img
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .toogles__item.toogles__item--active.mobile--hide(data-toogles="2")
                .toogles__item-content(style='display: block;')
                    div
                        .product__img 
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .toogles__item.mobile--hide(data-toogles="3")
                .toogles__item-content
                    div
                        .product__img
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .toogles__item.mobile--hide(data-toogles="4")
                .toogles__item-content
                    div
                        .product__img
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .toogles__item.mobile--hide(data-toogles="5")
                .toogles__item-content
                    div
                        .product__img
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .toogles__item.mobile--hide(data-toogles="6")
                .toogles__item-content
                    div                    
                        .product__img
                            div
                                img(src="assets/images/product__img1.png", alt="")
            .product__column
                .product__power
                    .product__column-title Мощность
                    .product__power-list
                        .product__power-item 123 квт
                        .product__power-item.product__power-item--active 252 квт
                        .product__power-item 463 квт
                .product__specifications
                    .product__column-title Характеристики
                    p.product__specifications-item Артикул  — 
                        span 283323
                    p.product__specifications-item Производитель  — 
                        span Kristol
                    p.product__specifications-item Страна  — 
                        span Испания
                    p.product__specifications-item Тип и диаметр подключения  — 
                        span 1 1/2"
                a(href="").product__specifications-link Подробнее
            .product__column
                .product__price
                    .price 
                        p 25 790 ₽/шт
                        .price__deshevle
                            svg(viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M12 13H2C1.46957 13 0.960888 12.7892 0.585815 12.4142C0.210743 12.0391 0 11.5304 0 11V4.99999V2.49999C0 1.83695 0.263337 1.20107 0.732178 0.732228C1.20102 0.263387 1.83696 -1.04383e-05 2.5 -1.04383e-05H10C10.2631 -0.0103659 10.5255 0.0346681 10.7701 0.132192C11.0148 0.229715 11.2362 0.377567 11.42 0.566121C11.6039 0.754676 11.746 0.979724 11.8373 1.22674C11.9286 1.47375 11.967 1.7372 11.95 1.99999H2V2.99999H12C12.5304 2.99999 13.0391 3.2107 13.4142 3.58577C13.7893 3.96085 14 4.46956 14 4.99999V11C14 11.5304 13.7893 12.0391 13.4142 12.4142C13.0391 12.7892 12.5304 13 12 13ZM12 4.99999H2V11H12V4.99999ZM9 6.99999H10C10.2652 6.99999 10.5196 7.10536 10.7072 7.2929C10.8947 7.48043 11 7.73477 11 7.99999C11 8.26521 10.8947 8.51955 10.7072 8.70708C10.5196 8.89462 10.2652 8.99999 10 8.99999H9C8.73478 8.99999 8.48038 8.89462 8.29285 8.70708C8.10531 8.51955 8 8.26521 8 7.99999C8 7.73477 8.10531 7.48043 8.29285 7.2929C8.48038 7.10536 8.73478 6.99999 9 6.99999Z' )
                            a(href="") Нашли дешевле?
                    .btn.btn--border.desktop--hide Купить в 1 клик
                .product__row
                    .product__quantity
                        .quantity
                            span.quantity__down
                                svg(width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M0.503418 1.33307H11.498C11.7742 1.33307 11.998 1.10921 11.998 0.833069C11.998 0.556927 11.7742 0.333069 11.498 0.333069H0.503418C0.227276 0.333069 0.00341797 0.556927 0.00341797 0.833069C0.00341797 1.10921 0.227276 1.33307 0.503418 1.33307Z' )
                            input(type="text" value='1')
                            span.quantity__up
                                svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.83323 2C8.08636 2 8.29559 2.18801 8.32875 2.43205L8.33333 2.4999L8.33413 7.33333H13.1695C13.4457 7.33333 13.6695 7.55719 13.6695 7.83333C13.6695 8.08646 13.4814 8.29566 13.2374 8.32877L13.1695 8.33333H8.33413L8.33549 13.1661C8.33555 13.4422 8.11174 13.6662 7.8356 13.6662C7.58247 13.6662 7.37323 13.4782 7.34007 13.2341L7.33549 13.1663L7.33413 8.33333H2.50146C2.22532 8.33333 2.00146 8.10948 2.00146 7.83333C2.00146 7.5802 2.18957 7.37101 2.43362 7.3379L2.50146 7.33333H7.33413L7.33333 2.5001C7.33327 2.22396 7.55708 2 7.83323 2Z')
                    .product__row-basket
                        .basket.basket--blue
                            svg(viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M6.76598 13.5765L6.76934 13.5763H17.9238C18.1984 13.5763 18.4399 13.3941 18.5154 13.1301L20.9763 4.51681C21.0293 4.33112 20.9922 4.13148 20.876 3.97736C20.7597 3.82323 20.5778 3.73254 20.3848 3.73254H5.34709L4.9073 1.75338C4.84465 1.47188 4.59503 1.27161 4.30664 1.27161H0.615234C0.275414 1.27161 0 1.54702 0 1.88684C0 2.22666 0.275414 2.50208 0.615234 2.50208H3.81317L6.03442 12.498C6.21923 13.2621 6.36006 13.5636 6.76598 13.5765ZM17.4597 12.3458L19.5691 4.96301H5.62042L7.26105 12.3458H17.4597Z')
                                path(d='M6 17C6 18.1028 6.89722 19 8 19C9.10278 19 10 18.1028 10 17C10 15.8972 9.10278 15 8 15C6.89722 15 6 15.8972 6 17ZM8 16.3333C8.36753 16.3333 8.66667 16.6325 8.66667 17C8.66667 17.3675 8.36753 17.6667 8 17.6667C7.63247 17.6667 7.33333 17.3675 7.33333 17C7.33333 16.6325 7.63247 16.3333 8 16.3333Z')
                                path(d='M15 17C15 18.1028 15.8972 19 17 19C18.1028 19 19 18.1028 19 17C19 15.8972 18.1028 15 17 15C15.8972 15 15 15.8972 15 17ZM17 16.3333C17.3675 16.3333 17.6667 16.6325 17.6667 17C17.6667 17.3675 17.3675 17.6667 17 17.6667C16.6325 17.6667 16.3333 17.3675 16.3333 17C16.3333 16.6325 16.6325 16.3333 17 16.3333Z')
                            span В корзину
                .btn.btn--border.mobile--hide Купить в 1 клик
                .product__discount.mobile--hide
                    .discount
                        svg(viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M8.64144 7.36614L12.1263 0.525577C12.4833 -0.175192 13.5167 -0.175192 13.8737 0.525577L17.3586 7.36614L25.1643 8.4567C25.9637 8.56839 26.2832 9.51814 25.7047 10.0631L20.059 15.3818L21.3918 22.8971C21.5283 23.6667 20.6925 24.2533 19.978 23.8894L13 20.3357L6.02205 23.8894C5.3072 24.2534 4.47114 23.6661 4.60835 22.8963L5.94771 15.3818L0.295738 10.0635C-0.283268 9.51868 0.0360775 8.56842 0.835721 8.4567L8.64144 7.36614Z')
                        a.discount__link.mobile--hide(href="") Получите скидку 3% от суммы заказа
    .product__info-wrap
        .center-wrap
            .product__info
                .product__tabs.toogles__wrap
                    .product__tabs-row.mobile--hide
                        .product__tabs-item.toogles__item-title(data-toogles="1") Описание
                        .product__tabs-item.toogles__item-title.toogles__item-title--active(data-toogles="2") Характеристики
                        .product__tabs-item.toogles__item-title(data-toogles="3") Отзывы
                        .product__tabs-item.toogles__item-title(data-toogles="4") Доставка и оплата
                    .product__tabs-slider.desktop--hide
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product__tabs-item.toogles__item-title(data-toogles="1") Описание
                                .swiper-slide
                                    .product__tabs-item.toogles__item-title.toogles__item-title--active(data-toogles="2") Характеристики
                                .swiper-slide
                                    .product__tabs-item.toogles__item-title(data-toogles="3") Отзывы
                                .swiper-slide
                                    .product__tabs-item.toogles__item-title(data-toogles="4") Доставка и оплата
                    .toogles__item(data-toogles="1")
                        .toogles__item-content
                            div
                                .product__tabs-tab
                                    p Описание
                    .toogles__item.toogles__item--active(data-toogles="2")
                        .toogles__item-content(style='display: block;')
                            div
                                .product__tabs-tab
                                    p.product__tabs-text Фильтровальная установка Kripsol Granada GTN406-33 применяется для очистки воды от механических примесей. Идеально подходит для бассейнов объемом до 30 м3.
                                    .product__tabs-list
                                        .product__tabs-box Характеристики:
                                            p Фильтрующий материал – кварцевый песок, фракция 0,5-1 мм.
                                            p Тонкость очистки - 20-30 микрон.
                                            p Промывка обратным током воды осуществляется переключением режима работы вентиля.
                                        .product__tabs-spoiler
                                            .product__tabs-box Комплектация:
                                                p Бочка фильтра (400 мм) (верхнее подсоед. вентиля) Kripsol Granada GT 406
                                                p Вентиль шестипозиционный (верхний 1 1/2'') Granada GT Kripsol VK6T-43.B
                                                p Манометр
                                                p Насос с префильтром Kripsol Ninfa NK-33
                                            .product__tabs-box Внимание! Песочная засыпка не входит в комплект и приобретаются отдельно. Установка не комплектуется установочной платформой. Шланг для соединения фильтра с насосом в комплект поставки не входит.
                                        .product__tabs-toggle.desktop--hide Раскрыть полностью
                    .toogles__item(data-toogles="3")
                        .toogles__item-content
                            div
                                .product__tabs-tab
                                    p Отзывы
                    .toogles__item(data-toogles="4")
                        .toogles__item-content
                            div
                                .product__tabs-tab
                                    p Доставка и оплата
                .product__manufacturer.mobile--hide
                    .manufacturer
                        a.manufacturer__logo(href="")
                            div
                                img(src="assets/images/manufacturer__logo.png" alt="")
                        p.manufacturer__text Получите скидку 3% от суммы заказа
                        a.manufacturer__link(href="") Все товары категории<br>
                        a.manufacturer__link(href="") Все характеристики