.contact {
    padding: 6.8rem 0;
    background-color: $white;

    @media screen and (max-width:$large_tablet) {
        padding: 4.5rem 0 6rem;
    }

    .simple-title {
        font-size: 2.8rem;
        text-align: left;

        @media screen and (max-width:$large_tablet) {
            text-align: center;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 4.6rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 1.9rem;
        }
    }

    &__info {
        margin-top: 5rem;
        max-width: 42rem;
        margin-right: 3rem;
        width: 100%;

        @media screen and (max-width:$large_tablet) {
            margin: 0 auto;
        }
    }

    &__row {
        font-family: $fontP;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 138.9%;
        color: #5C5C5C;
        margin-bottom: 2rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
            // margin-bo ttom: 1rem;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        a {
            position: relative;
            font-family: $fontP;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 2px;
                width: 0%;
                height: 1px;
                background: #5C5C5C;
                opacity: 0;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 100%;
                opacity: 1;
            }

        }
    }

    &__map {
        max-width: 85.2rem;
        width: 100%;
        position: relative;

        &-img {
            width: 100%;

            >div {
                position: relative;
                padding-bottom: 69.13%;

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .map-marker {
            left: 45.3rem;
            top: 19.2rem;
            padding: 1.5rem 2rem 0 2rem;

            &__text {
                font-size: 1.6rem;
                max-width: 13rem;

            }

            svg {
                width: 2rem;
            }

            &::before {
                width: 3.4rem;
                height: 3.4rem;
                top: calc(100% - 2.3rem);
                left: 1.3rem;
            }
        }
    }

    &__btn {
        margin-top: 4.6rem;

        @media screen and (max-width:$large_tablet) {
            text-align: center;
        }
    }
}