section.catalog#catalog
    .center-wrap
        .simple-title.catalog__title Каталог
        .catalog__list
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card
                .card__img
                    div
                        img(src="assets/images/card-img.png" alt="")
                .card__sale -60%
                .card__title ЗЕМФИРА
                .card__text.mobile--hide несколько размеров
                .card__text.desktop--hide 2-хспальный комплект
                p.card__price 
                    span.card__price-new 365 грн
                    span.card__price-old 600 грн
                .btn.btn--empty(onclick='show_popup("card")') Подробнее
                    span
            .card.card--hide
        .btn Смотреть больше
            span
