section.consultation
    .center-wrap
        .consultation__wrap
            img(src="assets/images/consultation-bg.png" alt="").consultation__bg
            .consultation__fluff
                img(src="assets/images/consultation-fluff.png" alt="")
            .consultation__img
                img(src="assets/images/consultation-img.png" alt="")
            .consultation__info
                .consultation__title Нужна консультация?
                .consultation__text Остались вопросы? Задайте их нашему специалисту.
                .btn(onclick='show_popup("question")') Задать вопрос
                    span


