section.contacts#contacts
    .center-wrap
        .simple-title.contacts__title Контакты
        .contacts__questions
            .contacts__questions-img.mobile--hide
                img(src="assets/images/contact-img.png" alt="")
            .contacts__questions-wrap 
                .contacts__questions-title Остались вопросы?
                .contacts__questions-text Пишите, звоните нам или оформите обратный звонок

                .contacts__questions-name Телефоны
                .contacts__questions-box
                    a(href="tel:+380676757718").contacts__questions-info +38 (067) 675 77 18
                    a(href="tel:+380931707596").contacts__questions-info +38 (093) 170 75 96

                .contacts__questions-name Почта
                p.contacts__questions-info vippostelnoe@gmail.ua

                .contacts__questions-name Адрес
                p.contacts__questions-info Украина, Хмельницкая область,<br> г. Хмельницкий, улица Курчатова, 20
