section.delivery#delivery
    .center-wrap
        .simple-title.delivery__title Доставка и оплата   
        .delivery__list
            .delivery__item
                .delivery__item-img
                    img(src="assets/images/delivery-img1.png" alt="")
                .delivery__item-box
                    .delivery__item-title Шаг
                    span.delivery__item-number 1
                .delivery__item-text Вы делаете заказ на сайте
            .delivery__item
                .delivery__item-img
                    img(src="assets/images/delivery-img2.png" alt="")
                .delivery__item-box
                    .delivery__item-title Шаг
                    span.delivery__item-number 2
                .delivery__item-text Наш менеджер перезванивает,  уточняет детали и подтверждает заказ
            .delivery__item
                .delivery__item-img
                    img(src="assets/images/delivery-img3.png" alt="")
                .delivery__item-box
                    .delivery__item-title Шаг
                    span.delivery__item-number 3
                .delivery__item-text Доставляем заказ на отделение "Новой почты" или курьером Вам домой в течении 1-4 дней.
            .delivery__item
                .delivery__item-img
                    img(src="assets/images/delivery-img4.png" alt="")
                .delivery__item-box
                    .delivery__item-title Шаг
                    span.delivery__item-number 4
                .delivery__item-text Вы получаете*  и оплачиваете заказ. 
        p.delivery__text *Для получения отправления предъявите номер экспресс-накладной, оригинал паспорта гражданина Украины/загранпаспорта или<br class='desktop--hide'> телефон с номером, указанным в ЄН. 

