section.guarantee
    .guarantee__img
        img(src="assets/images/guarantee_img.png" alt="")
    .center-wrap
        .simple-title.guarantee__title Наши гарантии
        .guarantee__wrap

            .guarantee__item.guarantee__item--left
                .guarantee__item-wrap
                    .guarantee__item-img
                        img(src="assets/images/guarantee__item-img1.png" alt="")
                    .guarantee__item-title гарантии на товар
                    .guarantee__item-text Перед отправкой товары проходят 100% проверку. Мы вернем Вам деньги, если что-то окажеться<br class='desktop--hide'> не так с Вашим заказом.
            .guarantee__item
                .guarantee__item-wrap
                    .guarantee__item-img
                        img(src="assets/images/guarantee__item-img2.png" alt="")
                    .guarantee__item-title ОПЛАТА ПРИ ПОЛУЧЕНИИ
                    .guarantee__item-text Мы не берем с Вас предоплату. Оплата заказа осуществляется<br class='desktop--hide'> при получении в отделении<br class='desktop--hide'> "Новой почты".


