header.header
  .center-wrap
    .header__wrap.anchors
      a(href="main-screen").header__logo
        img(src='assets/images/logo.svg' alt='')
      nav.header__nav.mobile--hide
        ul.header__nav-list
          li.header__nav-item
            a.header__nav-link(href='production') Производство
          li.header__nav-item
            a.header__nav-link(href="advantage") Преимущество
          li.header__nav-item
            a.header__nav-link(href="reviews") Отзывы
          li.header__nav-item
            a.header__nav-link(href="delivery") Доставка и оплата
          li.header__nav-item
            a.header__nav-link(href="contacts") Контакты
      .header__right.mobile--hide
        a(href="tel: +380676757718" data-anchors='false').header__phone
          svg(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M16.0838 12.4698L14.4329 10.819C14.1341 10.5203 13.7599 10.3084 13.3501 10.2058C12.9404 10.1031 12.5104 10.1137 12.1062 10.2362C11.7019 10.3587 11.3385 10.5887 11.0547 10.9016C10.7708 11.2144 10.5773 11.5985 10.4946 12.0127C7.77221 11.5037 5.12446 8.86679 4.95965 6.50993C5.42247 6.42479 5.8484 6.20079 6.18082 5.86771C6.6185 5.42997 6.86438 4.8363 6.86438 4.21729C6.86438 3.59828 6.6185 3.00461 6.18082 2.56687L4.5304 0.915984C4.09267 0.478303 3.499 0.232422 2.87999 0.232422C2.26097 0.232422 1.66731 0.478303 1.22957 0.915984C-3.72215 5.86771 11.1321 20.7219 16.0838 15.7702C16.5212 15.3324 16.7669 14.7389 16.7669 14.12C16.7669 13.5012 16.5212 12.9076 16.0838 12.4698Z' fill='white')
        .header__tel
          a(href="tel: +380676757718" data-anchors='false') +38 067 675 77 18
          .header__call(onclick='show_popup("call")') Заказать звонок
      .header__burger.desktop--hide
        div 
        div
        div