section.main-screen#main-screen
    .center-wrap
        .main-screen__wrap
            .main-screen__info
                h3.main-screen__subtitle Качество и красота в деталях
                h2.main-screen__title Комплекты<br> постельного белья
                p.main-screen__text Закажи от 3-х комплектов, и мы бесплатно<br class='mobile--hide'> доставим постельное белье до двери.
            .main-screen__img
                img(src="assets/images/main-screen__img.png" alt="")
            .main-screen__btn.anchors
                a(href="catalog").btn Посмотреть каталог
                    span

