section.reviews#reviews
    .center-wrap
        .simple-title.reviews__title Отзывы
        .reviews-slider
            .reviews-slider__logo
                img(src="assets/images/reviews-slider__logo.svg" alt="")
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .reviews-slider__img
                            img(src="assets/images/reviews-slider__img1.png" alt="")
                        .reviews-slider__wrap
                            .reviews-slider__item
                                .reviews-slider__item-top
                                    .reviews-slider__item-photo
                                        div
                                            img(src="assets/images/reviews-slider__item-photo1.png" alt="")
                                    .reviews-slider__item-box
                                        p.reviews-slider__item-name Евтухова Виктория
                                        p.reviews-slider__item-social Профиль в
                                        a(href="" target='_blank') Facebook
                                p.reviews-slider__item-text Я довольна. Комплект после стирки не линяет. Покупала себе, а теперь беру еще и в подарок. Реально подарить не стыдно. Комплект как на фото, все размеры и дизайн сходятся.

                    .swiper-slide
                        .reviews-slider__img
                            img(src="assets/images/reviews-slider__img2.png" alt="")
                        .reviews-slider__wrap
                            .reviews-slider__item
                                .reviews-slider__item-top
                                    .reviews-slider__item-photo
                                        div
                                            img(src="assets/images/reviews-slider__item-photo2.png" alt="")
                                    .reviews-slider__item-box
                                        p.reviews-slider__item-name Ольга Петровна
                                        p.reviews-slider__item-social Профиль в
                                        a(href="" target='_blank') Facebook
                                p.reviews-slider__item-text Качество постели замечательное. Все цвета как на картинке, можно заказывать и подбирать под интерьер.
                    .swiper-slide
                        .reviews-slider__img
                            img(src="assets/images/reviews-slider__img3.png" alt="")
                        .reviews-slider__wrap
                            .reviews-slider__item
                                .reviews-slider__item-top
                                    .reviews-slider__item-photo
                                        div
                                            img(src="assets/images/reviews-slider__item-photo3.png" alt="")
                                    .reviews-slider__item-box
                                        p.reviews-slider__item-name Ксения Маринова
                                        p.reviews-slider__item-social Профиль в
                                        a(href="" target='_blank') Facebook
                                p.reviews-slider__item-text Шикарное постельное белье в красивой упаковке. Брали в подарок, подруга в восторге.
                    .swiper-slide
                        .reviews-slider__img
                            img(src="assets/images/reviews-slider__img4.png" alt="")
                        .reviews-slider__wrap
                            .reviews-slider__item
                                .reviews-slider__item-top
                                    .reviews-slider__item-photo
                                        div
                                            img(src="assets/images/reviews-slider__item-photo4.png" alt="")
                                    .reviews-slider__item-box
                                        p.reviews-slider__item-name Ольга Тимощук
                                        p.reviews-slider__item-social Профиль в
                                        a(href="" target='_blank') Facebook
                                p.reviews-slider__item-text Уже второй раз покупаю белье, все устраивает. Работаю быстро, менеджеры приятные. Купила комплект из ткани ранфорс, ткань приятная, яркая, лучше, чем на картинке.
                .swiper-pagination
            .swiper-button
                .swiper-button-prev
                    svg( viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1.96701e-07 4.5L6.75 8.39711L6.75 0.602885L1.96701e-07 4.5Z' fill='white')
                .swiper-button-next
                    svg( viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7 4.5L0.25 8.39711L0.25 0.602885L7 4.5Z' fill='white')
