section.stock
    .center-wrap
        .stock__wrap
            img(src="assets/images/stock-bg.png" alt="").stock__bg
            .stock__img
                img(src="assets/images/stock-img.png" alt="")
            .stock__info
                .stock__title Акция
                .stock__text При заказе от 3 комплектов постельного белья мы дарим бесплатную доставку
                .btn(onclick='show_popup("manager")') Связаться с менеджером
                    span