.catalog {
    padding: 8rem 0;
    text-align: center;
    background: #ffffff;
    position: relative;
    z-index: 2;

    @media screen and (max-width:$large_tablet) {
        padding: 7rem 0 0;
    }

    .btn {
        padding: 0 5.4rem;
        margin-top: 8.7rem;

        @media screen and (max-width:$large_tablet) {
            margin-top: 0;
            padding: 0 3.5rem;

        }

        &--empty {
            @media screen and (max-width:$large_tablet) {
                padding: 0 6.1rem;
                line-height: 4.7rem;
                font-size: 1.4rem;
            }
        }

    }

    &__title {
        margin-bottom: 5.2rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -6.8rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
        }
    }
}