.header {
	padding-top: 4rem;
	position: absolute;
	top: 0px;
	width: 100%;
	opacity: 0;
	z-index: 2;
	animation: header-opacity 1s;
	animation-fill-mode: forwards !important;

	@media screen and (max-width:$large_tablet) {
		padding-top: 3rem;
	}

	&__wrap {
		display: flex;
		align-items: center;
		position: relative;

		@media screen and (max-width:$large_tablet) {
			justify-content: space-between;
		}
	}

	&--fixed {
		position: fixed;
		opacity: 1;
		width: 100%;
		top: 0px;
		left: 0px;
		background: #FFF;
		box-shadow: 25px 16px 73px rgba(232, 190, 191, 0.2);
		overflow: hidden;
		height: 0px;
		animation: header-height 0.5s !important;
		animation-fill-mode: forwards !important;
		padding: 0px;
		z-index: 98;
		display: flex;
		align-items: center;

		.header__logo {
			img {
				max-height: 4.5rem;
			}
		}
	}

	&--height0 {
		height: 72px;
		animation: header-height0 0.5s !important;

		@media screen and (max-width: 1100px) {
			height: 60px;
		}
	}


	@keyframes header-height {
		100% {
			height: 72px;
		}
	}

	@media screen and (max-width: 1100px) {
		@keyframes header-height {
			100% {
				height: 60px;
			}
		}
	}


	@keyframes header-height0 {
		100% {
			height: 0px;
		}
	}


	@keyframes header-opacity {
		100% {
			opacity: 1;
		}
	}

	&__nav {
		margin-left: 10rem;

		&-list {
			display: flex;
			align-items: center;
		}

		&-item {
			margin-right: 4rem;

			&:last-child {
				margin-right: 0px;
			}
		}

		&-link {
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.7rem;
			color: #303030;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0px;
				bottom: -1px;
				width: 0%;
				height: 1px;
				background: #303030;
				opacity: 0;
				transition: all 0.5s;
			}

			&:hover::before {
				width: 100%;
				opacity: 1;
			}

		}
	}

	&__right {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	&__phone {
		width: 4.4rem;
		height: 4.4rem;
		background: linear-gradient(104.08deg, #D97C7D 30.82%, #E9BFC0 70.92%);
		border-radius: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1.7rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(104.08deg, #D97C7D 30.82%, #E9BFC0 70.92%);
			filter: blur(12px);
			border-radius: 4.05rem;
			z-index: -1;
		}

		.header--fixed & {
			width: 3.4rem;
			height: 3.4rem;
		}

		svg {
			position: relative;
			z-index: 1;
		}
	}

	&__tel {
		a {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2.2rem;
			color: #4F4F4F;
			position: relative;
			display: block;
			margin-bottom: 0.5rem;

			&::before {
				content: "";
				position: absolute;
				left: 0px;
				bottom: -1px;
				width: 0%;
				height: 1px;
				background: #4F4F4F;
				opacity: 0;
				transition: all 0.5s;
			}

			&:hover::before {
				width: 100%;
				opacity: 1;
			}
		}



	}

	&__call {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #D16162;
		cursor: pointer;
		position: relative;
		display: inline-block;

		&::before {
			content: "";
			position: absolute;
			left: 0px;
			bottom: -1px;
			width: 100%;
			height: 1px;
			background: #D16162;
			opacity: 1;
			transition: all 0.5s;
		}

		&:hover::before {
			width: 0%;
			opacity: 0;
		}

	}

	&__burger {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 35px;
		cursor: pointer;

		div {
			margin-bottom: 6px;
			width: 100%;
			height: 2px;
			background: #D16162;
			border-radius: 2px;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}