.hero {
    position: relative;
    padding-top: 255px;

    @media screen and (max-width:1200px) {
        padding-top: 130px;
    }

    &__info {
        max-width: 510px;
        width: 100%;
    }

    &__title {
        max-width: 510px;
        width: 100%;
        font-weight: bold;
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        font-family: 'Merriweather', serif;
        margin-bottom: 35px;
        position: relative;

        @media screen and (max-width:1200px) {
            font-size: 45px;
        }

        @media screen and (max-width:450px) {
            font-size: 34px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
        color: #909090;
        max-width: 369px;
        width: 100%;
        margin-bottom: 55px;

        @media screen and (max-width:1200px) {
            margin-bottom: 35px;
        }
    }

    &__img {
        width: 100%;
        max-width: 1265px;
        position: absolute;
        top: 0;
        right: 90px;
        z-index: 1;

        @media screen and (max-width:1650px) {
            right: 0;
        }

        @media screen and (max-width:1450px) {
            max-width: 1000px;
        }
        @media screen and (max-width:1300px) {
            max-width: 950px;
        }

        @media screen and (max-width:1200px) {
            display: none;
        }

        .hero__img-g {
            padding-bottom: 56.20%;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                object-fit: cover;
            }
        }
    }
}

.leaflet {
    position: absolute;
    width: 150px;
    right: calc(100% - 55px);
    bottom: 100%;

    @media screen and (max-width:1200px) {
        width: 100px;
        height: 54px;
        right: calc(100% - 34px);
        bottom: calc(100% - 34px);
    }
}

.rounds {
    &__round {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: calc(50% + 150px);
        left: calc(50% + 150px);
        transform: translate(-50%, -50%) scale(0.1);
        background: #623024;
        animation: round 40s infinite;

        @for $i from 1 through 9 {
            &#{$i} {
                width: 1500px;
                height: 1500px;
                z-index: ((100 - $i) *(-1));
                animation-delay: ((((40 / 9) * $i) - (40 / 9))+s);
            }
        }

    }
}

@keyframes round {
    0% {
        opacity: 1;

    }

    7% {
        opacity: 0.9;
    }

    10% {
        opacity: 0.30;
    }

    25% {
        opacity: 0.08;
    }


    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }

}