@font-face {
	font-family: "Geometria";
	src: url('~fonts/Geometria.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Circe";
	src: url('~fonts/Circe-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Circe";
	src: url('~fonts/Circe-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}


@font-face {
	font-family: "Geometria";
	src: url('~fonts/Geometria-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}