* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%;

	@media screen and (max-width:$large_desktop) {
		font-size: 100vw / (1500/10);
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 68.5%;
	}

	@media screen and (max-width:$large_mobile) {
		font-size: 100vw / (375/10);
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1.3;
}

main {
	flex-grow: 1;
}

.center-wrap {
	max-width: 1230px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;

	@media screen and (max-width:$large_tablet) {
		//1024
		max-width: $large_mobile;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	font-weight: normal;
	font-size: 3rem;
	line-height: 113.5%;
	color: #000000;

	#product-page & {
		font-weight: bold;
		font-size: 2.2rem;
		line-height: 120.4%;
		color: #484848;

		@media screen and (max-width:$large_tablet) {
			font-size: 2rem;
			color:#000;
		}
	}

	#filter-page & {
		font-weight: bold;
		font-size: 2.2rem;
		line-height: 120.4%;

		@media screen and (max-width:$large_tablet) {
			font-size: 2rem;
		}
	}

	@media screen and (max-width:$large_tablet) {
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
	}
}

.desktop--hide {
	@media screen and (min-width:1025px) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width:$large_tablet) {
		display: none !important;
	}
}

.content {
	width: calc(100% - 28rem);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 7.2rem;

	@media screen and (max-width:$large_tablet) {
		width: 100%;
	}
}

.wrap-section {
	display: flex;
	flex-direction: column;

	@media screen and (max-width:$large_tablet) {
		flex-direction: column-reverse;
	}
}

.body__wrapper {
	display: flex;
}