.card {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E6F0;
    border-radius: 4px;
    padding: 2rem 1.6rem 1rem;
    position: relative;
    text-align: left;
    cursor: pointer;
    display: block;
    &:hover {
        .basket {
            width: 100%;
            background-color: #4081FF;

            span {
                opacity: 1;
            }

            svg {
                fill: #fff;
            }
        }
    }

    &--hide {
        margin-bottom: 0px !important;
        padding: 0px !important;
        opacity: 0 !important;
        height: 0px !important;
    }

    &__img {
        max-width: 15rem;
        width: 100%;
        margin: 0 auto 1rem;
        >div {
            position: relative;
            padding-bottom: 100%;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__price {
        color: #000000;
        font-weight: bold;
        font-size: 1.8rem;
        font-family: Geometria;
        line-height: 23/18*1;
        position: relative;
        text-align: left;
        display: inline-block;
        margin-bottom: 0.5rem;

        &-old {
            color: #A4A4A4;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 17/14*1;
            text-decoration-line: line-through;
            position: absolute;
            left: 0;
            bottom: calc(100% - 0.5rem);
            font-family: 'Montserrat', sans-serif;
        }

        &-discount {
            position: absolute;
            left: calc(100% + 1rem);
            background: #FFF8DB;
            border: 1px solid #FFD83A;
            border-radius: 1px;
            color: #2D2D2D;
            font-size: 1.2rem;
            line-height: 142.3%;
            padding: 0 0.7rem;

            .kit-slider & {
                top: 0;
                right: 0;
                left: auto;
            }
        }
    }

    &__title {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 142.3%;
        margin-bottom: 1rem;
        text-decoration-line: underline;
        display: block;
        text-align: left;
        min-height: 5.1rem;
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    &__plus {
        margin-right: 0.7rem;
        cursor: pointer;

        svg {
            fill: #C5CCDD;
            transition: all 0.5s;

            &:hover {
                fill: #000;
            }
        }

        &:hover {
            svg {
                fill: #000;
            }
        }
    }

    &__heart {
        cursor: pointer;

        svg {
            stroke: #C5CCDD;
            transition: all 0.5s;

            &:hover {
                stroke: #000;
            }
        }

        &:hover {
            svg {
                stroke: #000;
            }
        }
    }

    &__article {
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 142.3%;
        color: #8F8F8F;
        font-family: Geometria;
        text-align: left;

        span {
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }

    &__filter {
        font-family: Geometria;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        background: #9152E1;
        border-radius: 6px;
        display: inline-block;
        padding: 0.5rem 0.6rem;
        position: absolute;
        left: 1.6rem;
        top: 1.4rem;
        z-index: 1;

        &--bg {
            background: #5282E1;
            left: 5.4rem;
        }
    }
}