.toogles {
    &__item {
        &-content {
            display: inherit;
            flex-direction: inherit;
            justify-content: inherit;

            &[style*="display: block"] {
                display: inherit !important;
            }

            display: none;

            >div {
                display: inherit;
                flex-direction: inherit;
                flex-wrap: inherit;
                justify-content: inherit;
                align-items: inherit;
                width: 100%;
            }
        }
        &-title:not([data-toogles]):not(.checkout__step-header) {
            pointer-events: none;
        }
    }

}