@font-face {
	font-family: "Gilroy";
	src: url('~fonts/Gilroy-Light.ttf');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url('~fonts/Gilroy-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url('~fonts/Gilroy-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url('~fonts/Gilroy-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url('~fonts/Gilroy-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Beermoney";
	src: url('~fonts/beermoney.ttf');
	font-weight: 400;
	font-display: swap;
}
