extends ../layout/main

block variables
    - var title = 'Kubachi-корзина';
    - var pageClass = 'basket-page';

block content
    include ../includes/basket
    include ../includes/information

//- block script
