extends ../layout/main

block variables
    - var title = 'Kubachi - контакты';
    - var pageClass = 'contacts-page';

block content
    include ../includes/contacts
    include ../includes/shops

//- block script
