extends ../layout/main

block variables
    - var title = 'Kubachi - доставка и оплата';
    - var pageClass = 'delivery-page';

block content
    +main-screen({class:'main-screen--delivery'})      
    include ../includes/delivery

//- block script
