extends ../layout/main

block variables
    - var title = 'Kubachi - отзывы';
    - var pageClass = 'reviews-page';

block content
    +reviews-video({class:'reviews-video--reviews'})
    include ../includes/reviews

//- block script
