.breads {
	font-weight: 400;
	font-size: 16px;
	
	@media screen and ( max-width: 1200px ) {
		font-size: 14px;
	}

	&__content {
		padding: 28px 15px;
		position: relative;
		@media screen and ( max-width: 1200px ) {
			padding: 22px 15px;
		}
		&::before {
			content: "";
			position: absolute;
			height: 1px;
			width: calc( 100% - 30px );
			left: 15px;
			top: 0px;
			background: $line;
			.breads--bb & {
				top: auto;
				bottom: 0px;
			}
		}
	}

	&__back {
		font-weight: 500;
		font-size: 14px;
		opacity: 0.5;
		margin-top: 35px;
		display: block;
		text-transform: uppercase;
		background: url('~img/breads-arrow.svg') no-repeat;
		background-position: left center;
		padding-left: 24px;
		background-size: contain;
		transition: all 0.3s;
		@media screen and ( max-width: 1200px ) {
			margin-top: 22px;
			font-size: 12px;
		}
		&:hover {
			opacity: 1;
		}
	}

	&__link {
		color: #777;
		transition: all 0.3s;
		&--active {
			color: #000;
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
		}
	}
	&__sep {
		opacity: 0.5;
	}
}