.grid {
	display: flex;
	justify-content: space-between;
	margin: 90px 0px;
	+ .doctors {
		margin-top: 160px;
		@media screen and (max-width:1200px) {
		margin-top: 60px;
		}
	}
	@media screen and ( max-width: 1200px ) {
		margin: 50px 0px;
	}
	@media screen and ( max-width: 768px ) {
		flex-direction: column;
	}
	&__part {
		width: calc( 50% - 3px );
		display: flex;
		@media screen and ( max-width: 768px ) {
			width: 100%;
		}
		&--left {
			flex-direction: column;
			@media screen and ( max-width: 768px ) {
				margin-bottom: 6px;
			}
		}

		&--right {
			justify-content: space-between;
		}
	}
	&__top {
		width: 100%;
		margin-bottom: 6px;
		.grid__item {
			> a {
				padding-bottom: 50%;
			}
		}
	}

	&__bottom {
		justify-content: space-between;
		.grid__item {
			width: calc( 50% - 3px );
		}
		display: flex;
	}

	&__right {
		width: calc( 50% - 3px );
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.grid__item {
			flex-grow: 1;
			&:nth-child(1) {
				margin-bottom: 6px;
			}
		}
	}

	&__left {
		width: calc( 50% - 3px );
		display: flex;
		.grid__item {
			flex-grow: 1;
			display: flex;
			a {
				flex-grow: 1;
			}
		}
	}

	&__item {
		background: #ccc;
		position: relative;


		&::after {
			content: "";
			color: rgba(0,0,0,0.1);
			width: 64%;
			left: 18%;
			bottom: 0px;
			position: absolute;
			box-shadow: 0px 0px 25px 10px;
			z-index: -1;
			transition: all 0.2s;
			opacity: 0.7;
		}

	&:hover {
		img.animated {
			transform: scale(1.08) !important;
		}
	}
		> a {
			overflow: hidden;
			display: block;
			padding-bottom: 100%;
			position: relative;
			
			img {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;
				&.animated {
					animation-fill-mode: initial !important;
					transform: scale(1);
				}
			}

		}
	}
}