.numbers {
	display: flex;
	justify-content: space-between;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 60px;
		&:last-child {
			margin-right: 50px;
		}

		&:nth-child(2) {
			margin-right: 40px;
		}
		span {
			font-family: Geometria;
			font-weight: 800;
			font-size: 52px;
			line-height: 54px;
			margin-bottom: 5px;
			background: linear-gradient(90deg, #00E676 0%, rgba(21, 238, 114, 0.61) 98.25%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		}

		p {
			font-family: Exo 2.0;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #444;
		}
	}
}