 .btn {
 	cursor: pointer;
 	text-decoration: none;
 	display: inline-block;
 	white-space: nowrap;
 	text-align: center;
 	border-radius: 100px;
 	padding: 0 41px;
 	font-weight: 600;
 	transition: all 0.5s;
 	color: #F6F6F6;
 	position: relative;
 	z-index: 1;
	font-size: 22px;
	line-height: 69px;
 	#mother &,
 	#instr & {
 		color: #29292F;
 	}
 	&::before {
 		position: absolute;
 		content: '';
 		top: 0;
 		left: 0;
 		width: 100%;
 		height: 100%;
 		transition: opacity 0.5s ease-out;
 		z-index: -1;
 		opacity: 0;
 		border-radius: 100px;
 	}

 	&:hover:before {
 		opacity: 1;
 	}
 	#mother & {
 		background: linear-gradient(180deg, #FFACF7 0%, #FF86F3 100%);

 		&:hover {
 			box-shadow: 0px 0px 50px rgba(255, 134, 243, 0.3);
 		}
 		&.btn.mother--visible {
 			display: inline-block;
 		}
 	}

 	#student & {
 		background: linear-gradient(180deg, #AE7DFF 0%, #8941FF 100%);

 		&:hover {
 			box-shadow: 0px 0px 50px rgba(150, 86, 255, 0.3);
 		}
 		&.btn.student--visible {
 			display: inline-block;
 		}
 	}

 	#instr & {
 		display: inline-block;
 		background: linear-gradient(180deg, #FFCE94 0%, #FFA841 100%);
 	
 		&:hover {
 			box-shadow: 0px 0px 50px rgba(255, 168, 65, 0.3);
 		}

 		&.btn.instr--visible {
 			display: inline-block;
 		}
 	}

 	&--border {
 		#student & {
 			border: 1px solid rgba(137, 65, 255, 1);
 			background: #29292F;
 			
 		}

 		#mother & {
 			border: 1px solid #FF86F3;
			 background: #29292F;
			 color: #F6F6F6;
			 &:hover{
				 color: #29292F;
			 }
 		}

 		&:hover {
 			#student & {
				 &::before {
					background: linear-gradient(180deg, rgba(174, 125, 255, 1) 0%, rgba(137, 65, 255, 1) 100%);
				}
   
				&:hover:before {
					background: linear-gradient(180deg, rgba(174, 125, 255, 1) 0%, rgba(137, 65, 255, 1) 100%);
					filter: drop-shadow(0px 0px 50px rgba(150, 86, 255, 0.3));
				}
 			}

 			#mother & {
 				background: linear-gradient(180deg, #FFACF7 0%, #FF86F3 100%);
 			}
 		}
 	}
 	@media screen and (max-width:1100px) {
 		line-height: 45px;
 		font-size: 12px;
 	}
 }