.licenses {
    padding: 100px 0;

    @media screen and (max-width:1100px) {
        padding: 50px 0 25px;
    }

    &__title {
        text-align: center;
        margin-bottom: 100px;

        @media screen and (max-width:1100px) {
            margin-bottom: 45px;
        }

        @media screen and (max-width:450px) {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: calc((100% - 80px * 2) / 3);
        border-radius: 40px;
        overflow: hidden;

        &:hover {
            cursor: url('~img/cursor.png');
        }

        @media screen and (max-width:1100px) {
            border-radius: 10px;
        }

        &-img {
            position: relative;
            transition: all 5s;
            overflow: hidden;
            width: 100%;
            border-radius: 40px;

            @media screen and (max-width:1100px) {
                border-radius: 10px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                transition: all 0.5s;

                #mother & {
                    background: linear-gradient(0deg, rgba(255, 134, 243, 0.7), rgba(255, 134, 243, 0.7));
                }

                #student & {
                    background: linear-gradient(0deg, rgba(144, 77, 255, 0.7), rgba(144, 77, 255, 0.7));
                }

                #instr & {
                    background: linear-gradient(0deg, rgba(255, 168, 65, 0.7), rgba(255, 168, 65, 0.7));
                }
            }

            &:hover:before {
                opacity: 1;
            }

            >div {
                position: relative;
                padding-bottom: 119.42%;

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &:hover {
                cursor: url('~img/cursor.png'), pointer;
            }
        }

    }

    &__slider {
        position: relative;
        max-width: 292px;
        width: 100%;
        margin: 0 auto;
        padding: 0 35px;

        .swiper-button {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-50%);
            width: calc(100%);
            height: 27px;
            z-index: 10;
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-repeat: no-repeat;
            background-size: contain;
            width: 13px;
            height: 100%;
            margin: 0;
            top: 0;

            &:after {
                display: none;
            }
        }

        .swiper-button-next {
            background-image: url('~img/arrow-next.svg');
            right: 0;
        }

        .swiper-button-prev {
            background-image: url('~img/arrow-prev.svg');
            left: 0;
        }

    }
}