.categories-slider {
    position: relative;
    margin-bottom: 144px;
    padding-left: 90px;
    width: calc(100% + 100px);
    &__item {
        padding: 10px 10px 40px;
        border-radius: 5px;
        background-color: #fff;
        transition: all 0.5s;

        &:hover {
            background-color: $primary;

            .categories-slider__descr {
                color: #fff;
            }
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 5px;

        >div {
            position: relative;
            padding-bottom: 62.5%;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-button {
        position: absolute;
        top: calc( 100% + 14px);
        width: 100%;
        height: 30px;
        &-prev,
        &-next{
            top:0;
            display: flex;
            align-items: center;
            width: 79px;
            height: 100%;
            margin-top: 0;
            transition: all 0.5s;
            padding: 0 10px;
            &:hover{
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                svg{
                    fill:#000;
                }
            }
            svg{
                fill:#797979;
                width: 100%;
                height: 8px;
                transition: all .5s;
            }
            &:after{
                content: "";
            }
        }
        &-prev {
            right: 380px;
            left: auto;
        }

        &-next {
            right: 290px;
        }
    }
}