.form {
	position: relative;
	height: 100%;
	width: 100%;
	&__input {
		height: 100%;
		background: #F3F3F3;
		border-radius: 5px;
		border: none;
		width: 100%;
		padding: 0 96px 0 10px;

		&::placeholder {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #5F5F5F;
		}
	}

	&__submit {
		position: absolute;
		right: 5px;
		top: 0;
		border: none;
		background-color: $primary;
		border-radius: 5px;
		font-size: 0;
		width: 60px;
		height: calc(100% - 10px);
		top: 50%;
		transform: translateY(-50%);
		background-image: url("~img/arrow-left.svg");
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		transition: all 0.5s;

		&:active {
			background-color: #2A33C7;
		}
	}
}