.popup-wrap {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
	z-index: 999;
	display: none;

	&--active {
		display: flex;
	}

	opacity: 0;
	transition: opacity 0.5s;

	&--menu {
		touch-action: none;

	}

	&--opacity1 {
		opacity: 1;
	}

	.popup {
		background: #FFFFFF;
		// background-image: url('~img/body-bg.png');
		box-sizing: border-box;
		max-width: calc(100% - 30px);
		width: 360px;
		position: relative;
		padding: 75px 100px 50px 40px;
		justify-content: space-between;
		max-height: 95%;
		overflow: auto;
		opacity: 0;
		top: -15%;
		display: flex;
		flex-direction: column;
		// align-items: center;
		transition: opacity 0.6s, top 0.6s;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
		box-sizing: border-box;

		@media screen and (max-width: 1200px) {
			padding: 20px;
			padding-bottom: 40px;
			padding-top: 40px;
		}


		&--500 {
			width: 500px;
			padding: 190px 50px 50px;

			@media screen and (max-width:1200px) {
				width: 400px;
				padding: 150px 20px 20px;
			}

			@media screen and (max-width:450px) {
				width: 320px;
			}
		}

		&--1200 {
			width: 1200px;
		}

		&--menu {
			box-shadow: none;
			background: transparent;
			padding: 0px;
			flex-grow: 1;
			height: 100%;
			width: 100%;
			max-height: 100%;
			display: flex;
		}

		&--opacity1 {
			opacity: 1;
			top: 0px;
		}

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 100px;
			background: #5F6061;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 100px;

		}

		&::-webkit-scrollbar-thumb:hover {
			background: orange;
		}

		&__close {
			position: absolute;
			top: 20px;
			left: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 111px;
			height: 20px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover{
				span{
					color:#000;
				}
				.popup__close-cross>div{
					background-color: #000;
				}
			}
			span {
				font-size: 14px;
				line-height: 17px;
				display: block;
				margin-left: auto;
				color: #B7B7B7;
				transition: all 0.3s;
			}
			&-cross {
				position: absolute;
				width: 20px;
				left: 0;
				top: 50%;

				div {
					transition: background 0.2s;
					width: 100%;
					height: 3px;
					border-radius: 25%;
					position: absolute;
					background: #B7B7B7;

					&:nth-child(1) {
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						transform: rotate(-45deg);
					}
				}
			}

		}
	}
}