.cursor-follower {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  //overflow: hidden;
  transform: scale(1);
  
  &--hover {
    transform: scale(3);
  }

  &--hide{
    opacity: 0;
  }

  &--dark {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
}


.cursor {
  &-hover {
    cursor: pointer;
  }
}