.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 7.5rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	border-radius: 2px;
	font-weight: 400;
	color: $color-primary;
	padding: 0 7.5rem;
	transition: all 0.5s;
	font-size: 2rem;
	border: 1.5px solid $color-primary;

	&:hover {
		background-color: $color-primary;
		color: #ffffff;
	}

	@media screen and (max-width:$large_tablet) {
		line-height: 5.6rem;
		padding: 0 4.5rem;
	}

	&--filled {
		background-color: $color-primary;
		color: #FFFFFF;

		&:hover {
			background: #FFFFFF;
			color: $color-primary;

		}
	}
}