.mobile-basket {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 102;
    overflow: hidden;
    background: rgba(111, 111, 111, 0.75);
    display: none;
    transition: all 0.5s;
    opacity: 0;
    touch-action: none;

    &--active {
        display: flex;
    }

    &--opacity0 {
        opacity: 0;
    }

    &--opacity1 {
        opacity: 1;
    }

    &__wrap {
        background: #fff;
        width: 550px;
        height: 100%;
        position: absolute;
        right: -550px;
        transition: right 0.5s;
        display: flex;
        flex-direction: column;
        padding-bottom: 9rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: $color-secondary;
        }

        @media screen and (max-width:$large_tablet) {
            right: -300px;
            width: 300px;
            padding-bottom: 3rem;
        }

        &--right0 {
            right: 0px;
        }
    }

    .price {
        font-size: 3.6rem;
        text-align: right;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 2rem;
        }

    }

    &__act {
        display: flex;
        justify-content: flex-end;

        svg {
            width: 30px;
            height: 30px;
            fill: $color-secondary;
            cursor: pointer;
        }
    }

    &__title {
        margin-bottom: 7rem;

        &::before {
            width: 0;
            height: 0;
        }

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
            font-size: 2.6rem;
        }
    }

    &__quantity {
        font-family: $font-secondary;
        color: $color-secondary;
        margin-top: auto;
        margin-bottom: 25px;
        text-align: center;
        font-style: italic;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1;
        text-transform: lowercase;

        @media screen and (max-width:$large_tablet) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    &__btn {
        text-align: center;
        width: calc( 100% - 40px );
        margin-left: auto;
        margin-right: auto;
        .btn {
            line-height: 6rem;
            padding: 0 3.5rem;
            font-size: 1.8rem;

            @media screen and (max-width:$large_tablet) {
                line-height: 45px;
                padding: 0 10px;
                font-size: 15px;
                width: 100%;
                text-align: center;
            }
        }
    }
}