.novelty-slider {
    max-width: 93rem;
    width: 100%;
    position: relative;

    &__img {
        width: 100%;
        position: relative;

        >div {
            position: relative;
            padding-bottom: 147.29%;

            figure {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    transition: all 0.5s;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }

    }

    .swiper-slide-active + .swiper-slide {
        .novelty-slider__img {
            figure::before {
                 background-color: rgba(255, 255, 255, 0.5);
                 cursor: pointer;
            }
        }

        &:hover {
        .novelty-slider__img {
            figure::before {
                 background-color: rgba(255, 255, 255, 0.2);
            }
        }
        }
    }

    .swiper-button {
        &-next {
            right: 12rem;
            position: absolute;
            bottom: 5rem;
            width: 6.6rem;
            height: 2.5rem;
            top: auto;
            margin-top: 0;
            pointer-events: none;

            &::after {
                content: "";
            }

            svg {
                width: 100%;
                fill: #181818;
                transition: all 0.5s;
            }

        }
    }
}

.novelty-slider {

    .swiper-slide {
        backface-visibility: hidden;
        overflow: hidden;
    }
    .slide-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    img {
        display: none;
    }

}