.payment {
    &__title {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 117%;
        color: #AFAFAF;
        padding-left: 3.65rem;
        position: relative;
        margin-bottom: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 2.85rem;
            height: 0.5rem;
            background-image: url('~img/payment-lines.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 2.5rem;

        &:last-child {
            margin-right: 0px;
        }
    }
}