.price {
    font-family: $font-secondary;
    font-style: italic;
    font-weight: 600;
    font-size: 6.2rem;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (max-width:$large_tablet) {
        font-size: 5.4rem;
    }


}