.product-item {
    position: relative;
    display: flex;
    justify-content: center;

    &--hide {
        margin-bottom: 0px !important;
        padding: 0px !important;
        opacity: 0 !important;
        height: 0px !important;
    }

    &__img {
        position: relative;
        overflow: hidden;
        width: 100%;

        >div {
            position: relative;

            @media screen and (max-width:$large_tablet) {
                padding-bottom: 77.77%;
            }

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s;
                .product-item:hover & {
                    transform: scale(1.03);
                }
            }
        }


        &--bg {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                z-index: 1;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(359.72deg, #FFFFFF 0.2%, rgba(255, 255, 255, 0) 64.89%);
                pointer-events: none;
            }
        }
    }

    &__info {
        bottom: 3.5rem;
        position: absolute;
        z-index: 2;

        @media screen and (max-width:$large_tablet) {
            bottom: 1.3rem;
        }

    }

    &__title {
        text-align: center;
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 4.2rem;
        line-height: 114%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        white-space: nowrap;
        font-feature-settings: 'tnum'on, 'lnum'on;

        @media screen and (max-width:$large_tablet) {
            font-size: 2.4rem;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.2;
        color: $color-primary;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.4rem;
        }

        svg {
            width: 4.7rem;
            margin-left: 2.5rem;
            opacity: 0.5;
            fill: $color-primary;
            transition: margin-left 0.2s;

            @media screen and (max-width:$large_tablet) {
                width: 3rem;
                margin-left: 1rem;
            }
        }

        &:hover {
            svg {
                margin-left: 2rem;
            }
        }
    }

    &--100 {
        width: 100%;
        justify-content: left;
        box-shadow: 0px 24px 32px rgba(175, 175, 175, 0.1), 0px 16px 24px rgba(175, 175, 175, 0.04), 0px 4px 8px rgba(175, 175, 175, 0.04), 0px 0px 1px rgba(175, 175, 175, 0.04);
        z-index: 2;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
        }

        .product-item__img {
            >div {
                padding-bottom: 35.2%;

                @media screen and (max-width:$large_tablet) {
                    padding-bottom: 70%;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(359.01deg, #FFFFFF 13.4%, rgba(255, 255, 255, 0) 99.12%);
                z-index: 1;
                pointer-events: none;
            }
        }

        .product-item__info {
            padding-left: calc(((100% - 1300px) / 2) - 20px);
            bottom: 10rem;
            left: 0;
            transform: translateX(0);

            @media screen and (max-width:$large_tablet) {
                bottom: 3rem;
            }
        }

        .product-item__title {
            text-align: left;
            padding-left: 20px;
            margin-bottom: 4.5rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1rem;
            }

        }

        .product-item__link {
            justify-content: flex-start;
            padding-left: 20px;
        }
    }

    &--45 {
        width: 44.6%;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
        }

        .product-item__info {
            bottom: 8.5rem;

            @media screen and (max-width:$large_tablet) {
                bottom: 1.3rem;

            }
        }

        .product-item__img {
            >div {
                padding-bottom: 78.97%;
            }
        }

    }

    &--55 {
        width: 55.4%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        z-index: 2;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
        }



        .product-item__info {
            bottom: 5rem;

            @media screen and (max-width:$large_tablet) {
                bottom: 5rem;
                font-size: 3.4rem;
            }
        }

        .product-item__title {
            margin-bottom: 2.5rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1rem;
            }
        }

        .product-item__img {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                z-index: 1;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(255,255,255,0.2) linear-gradient(0deg, rgba(255, 255, 255, 0.8) 30%, rgba(0, 0, 0, 0) 60%);
            }

            >div {
                padding-bottom: 63.53%;
            }
        }

    }

    &--33 {
        width: calc(100% / 3);

        .product-item__img {
            >div {
                padding-bottom: 100%;

            }
        }

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin: 0 auto 2rem;

            &:last-child {
                margin: 0 auto;
            }
        }

        @media screen and (max-width:$large_mobile) {
            max-width: 100%;
            padding: 0;
        }
    }

    &--indent {
        width: calc((100% - 2px * 2) / 3);

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-bottom: 2px;



        }

        .product-item__img {
            >div {
                padding-bottom: 100%;

                @media screen and (max-width:$large_tablet) {
                    padding-bottom: 88.88%;
                }
            }
        }
    }
}