.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 95;

    &:hover {
        .video {
            &__video {
                display: block;
            }

            &__play {
                width: 17rem;
                height: 17rem;

                @media screen and (max-width:$large_tablet) {
                    width: 10rem;
                    height: 10rem;
                }

                svg {
                    display: none;
                }
            }
        }
    }

    &__play {
        cursor: pointer;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        flex-shrink: 0;
        position: relative;
        transition: all 0.5s;
        overflow: hidden;
        z-index: 999;
        background: rgba(77, 77, 77, 0.15);
        backdrop-filter: blur(20px);

        @media screen and (max-width:$large_tablet) {
            width: 7.4rem;
            height: 7.4rem;
        }

        &-img {
            max-width: 3.6rem;
            width: 100%;
            position: absolute;
            pointer-events: none;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);

            @media screen and (max-width:$large_tablet) {
                width: 2.2rem;
            }

            img {
                display: block !important;
            }
        }

    }

    &__video {
        width: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        pointer-events: none;

        @media screen and (max-width:$large_tablet) {
            width: 200px;
            height: 200px;
        }
    }

    &__rings {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 90;
    }

    &__ring {
        width: calc(12rem + (4.5rem * 2));
        height: calc(12rem + (4.5rem * 2));
        background: rgba(255, 255, 255, 0.02);
        border-radius: 50%;
        position: absolute;
        transform: scale(0.1, 0.1);
        opacity: 0;
        border: 50px solid rgba(77, 77, 77, 0.15);


        @media screen and (max-width:$large_tablet) {
            width: calc(7.4rem + (4.5rem * 2));
            height: calc(7.4rem + (4.5rem * 2));
        }

        &:nth-of-type(2) {
            animation-delay: 400ms;
        }

        &:nth-of-type(3) {
            animation-delay: 800ms;
        }
    }
}

@keyframes ring-1 {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}