@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Colors for my Website */

/*COMMON*/

body,
html {
  background-color: #ffffff;
  max-width: 1366px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.fob {
  color: red;
  font-size: 1.875rem;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-size: 2.75rem;
  font-family: 'Open Sans', sans-serif, sans-serif;
}

.line {
  width: 100px;
  height: 3px;
  background-color: #fcac45;
  display: inline-block;
}

/*HEADER*/

.header {
  width: 100%;
  background-color: #111;
  padding-bottom: 20px;
}

.header a {
  color: #fff;
}

.header_manu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.header_logo {
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header_nav {
  max-width: 521px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header_nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: bold;
}

.header_nav ul li {
  margin-left: 10px;
}

.header_nav ul li a {
  padding-bottom: 13px;
  position: relative;
}

.header_nav ul li a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.header_nav ul li a:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fcac45;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

/*MAIN*/

.main {
  background-color: #111111;
  text-align: center;
  padding: 175px 0 380px;
}

.main_title {
  font-size: 2.75rem;
  color: #999999;
  text-transform: uppercase;
}

.main_title span {
  color: #fcac45;
  font-weight: bold;
}

.main_text {
  font-size: 1.25rem;
  color: #fff;
  line-height: 20px;
}

.main_text span {
  font-weight: bold;
}

/*ABOUT*/

.about_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.125rem;
  padding: 95px 0 77px;
}

.about .main_left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.about .main_right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 572px;
  margin-left: 100px;
}

.about .main_right h1 {
  font-size: 2.125rem;
  line-height: 34px;
  padding: 24px 0 12px;
  color: #222222;
  display: inline-block;
  border-bottom: 3px solid #fcac45;
}

.about .main_right h1 span {
  font-weight: bold;
}

.about .main_right p {
  max-width: 434px;
  margin: 20px 0 20px;
  font-size: 1.125rem;
  color: #6c6c6c;
}

.about .main_right li {
  background: url(../img/mark_about.png) 0px no-repeat;
  padding-left: 20px;
  font-size: 1.125rem;
  color: #5a5a5a;
}

.about .main_right li span {
  font-size: 1rem;
  font-style: italic;
}

/*TEAM*/

.team {
  background-color: #070707;
  color: #ffffff;
  text-align: center;
  padding: 100px 0 165px 0;
}

.team h1 {
  padding-bottom: 30px;
}

.team .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 70px -20px 0 -20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team .items .item {
  margin: 35px 20px 0 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.team .items .item .photo {
  width: 125px;
  height: 125px;
  background: #d7d7d7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 22px auto;
}

.team .items .item h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.team .items .item .about_position {
  font-size: 0.875rem;
  margin-top: 41px;
}

/*SERVICES*/

.services {
  padding: 100px 0;
  text-align: center;
}

.services .line {
  margin: 30px auto 56px auto;
}

.services p {
  font-style: italic;
  color: #6c6c6c;
  font-size: 1rem;
}

.services_cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}

.services_card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin-top: 36px;
}

.services_card h4 {
  text-transform: uppercase;
  font-size: 1.5625rem;
  color: #222222;
  margin: 20px 0 15px 0;
}

.services_card p {
  font-style: normal;
  color: #222222;
}

.services_card img {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #fcac45;
  padding: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

/*CLIENTS*/

.clients {
  background-color: #0b0b0b;
  padding: 100px 0 200px 0;
  text-align: center;
}

.clients h1 {
  color: #ffffff;
  font-family: OpenSans-Light, sans-serif;
}

.clients h1 span {
  font-family: OpenSans-SemiBold, sans-serif;
}

.clients .logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 110px;
}

/*PORTFOLIO*/

.portfolio {
  padding: 100px 0;
  text-align: center;
}

.portfolio h1 {
  font-family: OpenSans-Light, sans-serif;
  color: #222222;
}

.portfolio h1 span {
  font-family: OpenSans-SemiBold, sans-serif;
}

.portfolio p {
  font-size: 1rem;
  font-style: italic;
  margin: 58px 0 100px 0;
}

.portfolio .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.portfolio .items .item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  margin-top: 40px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.portfolio .items .item img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .items .item img:hover {
  cursor: pointer;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}

/*TESTIMONIALS*/

.testimonials {
  background: #000000;
  text-align: center;
  padding: 100px 0 175px 0;
}

.testimonials h1 {
  font-family: OpenSans-SemiBold, sans-serif;
  color: #fff;
}

.testimonials h1 span {
  font-family: OpenSans-Light, sans-serif;
}

.testimonials .description {
  color: #e7e7e7;
  font-size: 1.125rem;
  font-family: OpenSans-SemiBold, sans-serif;
  text-transform: uppercase;
  margin: 110px 0 50px 0;
}

.testimonials .name {
  color: #b2b2b2;
  font-family: OpenSans-SemiBold, sans-serif;
}

.testimonials .name span {
  font-family: OpenSans-Light, sans-serif;
}

/*CONTACT*/

.contact {
  padding: 100px 0;
  text-align: center;
}

.contact h1 {
  color: #222222;
  font-family: OpenSans-SemiBold, sans-serif;
}

.contact p.text {
  color: #6c6c6c;
  font-size: 1rem;
  font-style: italic;
  margin: 55px 0 100px 0;
}

.contact form {
  max-width: 753px;
  margin: 0 auto;
  color: #636363;
  text-align: left;
}

.contact form .form_inputs {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact form .form_inputs input {
  width: 360px;
  height: 40px;
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.contact form .form_inputs input:first-of-type {
  margin-right: 28px;
}

.contact form input,
.contact form textarea {
  border: 1px solid #999999;
  padding-left: 10px;
}

.contact form textarea {
  width: 100%;
  height: 163px;
}

.contact form .red {
  color: red;
}

.contact form .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contact form .button input[type=submit] {
  width: 165px;
  height: 40px;
  background: #fcac45;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-right: -10px;
  margin-top: 20px;
  cursor: pointer;
}

/*FOOTER*/

footer {
  padding: 30px 0;
  background: #222222;
}

footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer ul li {
  margin-right: 13px;
}

@media screen and (max-width: 960px) {
  body,
  html {
    font-size: 14px;
  }

  .team .items .item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .services_card {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  body,
  html {
    font-size: 12px;
  }

  .about .main_right {
    margin: 0 auto;
  }

  .team .items .item {
    max-width: 260px;
    margin: 0 auto;
  }

  .team .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .services_card {
    max-width: 260px;
    margin: 0 auto;
  }

  .services_card {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .portfolio .items .item {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }
}

@media screen and (max-width: 360px) {
  body,
  html {
    font-size: 10px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header_logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .main {
    padding: 100px 0 280px;
  }

  .portfolio .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}