html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
  {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E5E5E5;
  font-size: 18px;
  line-height: 25px;
  // overflow-x: hidden;
  color: #000000;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  // font-family: 'Merriweather', serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.button {
  font-weight: 400;
  color: #ffffff;
  padding: 18px 19px;
  background-color: #005FA3;
  cursor: pointer;
  border: none;
}


// arrow
.client__slider-arrow,
.reviews__slider-arrow {
  position: absolute;
  bottom: -140px;
  right: 15px;
  z-index: 2;
  width: 120px;
  display: flex;
}

.client__slider-arrow .slick-arrow,
.reviews__slider-arrow .slick-arrow {
  background-color: #005FA3;
  opacity: 0.2;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  padding: 19px 0;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background-color: #005FA3;
    opacity: 1;
  }
}

.client__slider-arrow .prev-arrow,
.client-slider__arrow .prev-arrow {
  position: absolute !important;
  right: 60px !important;
}

// dots
.sliderClient .slick-dots,
.sliderReviews .slick-dots {
  position: relative;
  top: 140px;

  li {
    display: inline-block;
    margin-right: 40px;
  }

  button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #005FA3;
    opacity: 0.4;
    border-radius: 50%;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.sliderClient .slick-dots li.slick-active button,
.sliderReviews .slick-dots li.slick-active button {
  background-color: #005FA3;
  opacity: 1;
}

.subtitle {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
  margin-bottom: 40px;
}

.title {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}