section.advantage
    .center-wrap
        .advantage__logo.mobile--hide
            img(src="assets/images/about-logo.png" alt="")
        .advantage__list    
            .advantage__item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='0')
                h3.advantage__item-title традиции
                .advantage__item-text Возрождаем кубачинские традиции, возвращая к жизни ценности, бережно хранимые в тысячелетних орнаментах и ​​символах нашей земли
            .advantage__item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='300')
                h3.advantage__item-title Уникальность
                .advantage__item-text Объединяем глубинные смыслы с индивидуальным подходом, создавая совершенные драгоценности, которые передаются из поколения в поколение.
            .advantage__item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='600')
                h3.advantage__item-title Качество
                .advantage__item-text Создаем украшения по мировым ювелирными стандартам, дополняя безупречное мастерство ценными материалами высокого качества