section.best-deals
    h2.simple-title.best-deals__title(data-animation-type='bottom' data-animation-duration='2000') лучшие предложения
        span.simple-sub-title(data-animation-type='bottom' data-animation-duration='2000') Лидеры Kubachi Jewel
    .best-deals__list
        a(href="/product.html").product-item.product-item--indent.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='000')
            .product-item__img
                div
                    img(src="assets/images/best-deals-img1.png")
        a(href="/product.html").product-item.product-item--indent.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='300')
            .product-item__img
                div
                    img(src="assets/images/best-deals-img2.png")
        a(href="/product.html").product-item.product-item--indent.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='600')
            .product-item__img.product-item__img--bg
                div
                    img.mobile--hide(src="assets/images/best-deals-img3.png")
                    img.desktop--hide(src="assets/images/best-deals-img1.png")
            .product-item__info
                p.product-item__title.mobile--hide КОЛЬЦО<br> “ НАСЛЕДИЕ ”
        a(href="/product.html").product-item.product-item--indent.product-item--hide