section.catalog
    .center-wrap
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="index.html") Главная
                li.breadcrumbs__item
                    span Магазин
        ul.catalog__menu.mobile--hide
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='0')
                a(href="/catalog1.html").catalog__menu-link все изделия
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='100')
                a(href="/catalog1.html").catalog__menu-link Коллекции
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='200')
                a(href="/catalog1.html").catalog__menu-link кольца
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='300')
                a(href="/catalog1.html").catalog__menu-link серьги
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='400')
                a(href="/catalog1.html").catalog__menu-link подвески
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='500')
                a(href="/catalog1.html").catalog__menu-link gift card
            li.catalog__menu-item(data-animation-type='bottom' data-animation-duration='1500' data-animation-delay='600')
                a(href="/catalog1.html").catalog__menu-link new
        .catalog__list.catalog__list--all
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='0')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img1.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ АУЛ ”
                .catalog__item-price 25 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='250')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img2.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ ПОЛУМЕСЯЦ ”
                .catalog__item-price 32 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='500')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img3.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ наследие ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='0')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img4.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title СЕРЕЖКИ  “ КИНЖАЛ ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='250')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img5.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ АУЛ ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='500')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img6.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КУЛОН  “ ГОРЯНКА ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='0')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img1.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ АУЛ ”
                .catalog__item-price 25 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='250')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img4.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ ПОЛУМЕСЯЦ ”
                .catalog__item-price 32 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='500')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img3.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ наследие ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='0')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img4.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title СЕРЕЖКИ  “ КИНЖАЛ ”
                .catalog__item-price 16 000 руб.

            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='250')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img6.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КУЛОН  “ ГОРЯНКА ”
                .catalog__item-price 16 000 руб.
            a(href="/product.html").catalog__item(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='500')
                .catalog__item-img
                    div
                        img(src="assets/images/catalog__item-img5.png" data-animation-type='img' data-animation-duration='5000')
                .catalog__item-title КОЛЬЦО  “ АУЛ ”
                .catalog__item-price 16 000 руб.
            a(href="#").catalog__item.catalog__item--hide
            a(href="#").catalog__item.catalog__item--hide