section.composition
    .center-wrap
        h2.simple-title.composition__title Что входит?
        .composition__info
            .composition__info-title В данный набор входит:
            ul.composition__list
                li.composition__item Поздравительная открытка и брошюра;
                li.composition__item Фирменный пакет нашей ювелирной марки;
                li.composition__item Подарочный деревянный футляр к каждому экземпляру украшения.
            .composition__info-text * Комбинация дополнительных предметов к основному набору может меняться в зависимости от типа заказа и наличия тех или иных предметов у нас в ювелирном доме Кубачи.  