section.contacts
    .center-wrap
        .contacts__wrap
            .contacts__info
                h3.contacts__title наши контакты
                .contacts__text Мы всегда открыты к новым предложениям, сотрудничеству и конструктивной критике. Не стесняйтесь и пишите нам, мы очень дорожим обратной связью от клиентов.
                .contacts__box-wrap
                    .contacts__box
                        .contacts__box-title EMAIL
                        a(href="mailto:KubachiJewel@com.ru").contacts__box-text KubachiJewel@com.ru
                    .contacts__box
                        .contacts__box-title адресс
                        .contacts__box-text Петровский проулок, 24/1 Москва
            .contacts__form
                h3.contacts__title напишите нам
                form.inputs(action='' autocomplete = "off")
                    input.inputs__field--hidden(name='fake_email' type='text')
                    input.inputs__field--hidden(name='fake_password' type='password')
                    .inputs__field-wrap.inputs__field-wrap--300
                        input.inputs__field#pass(type='text' name='text' required='' minlength='2' autocomplete="someRandomString")
                        label.inputs__label(for='text')
                            span.inputs__content
                                | Имя*
                    .inputs__field-wrap.inputs__field-wrap--300
                        input.inputs__field(type='text' name='email' autocomplete = "someRandomString" required='')
                        label.inputs__label(for='email')
                            span.inputs__content.inputs__content--required
                                | E-mail*
                    .inputs__field-wrap
                        textarea.inputs__field.inputs__field--textarea(name='textarea' placeholder='Сообщение')
                    .inputs__btn
                        button.btn.btn--filled Отправить