section.delivery
    .center-wrap
        h2.simple-title.delivery__title доставка
        .delivery__info
            .delivery__info-title Доставка по Москве
            ul.delivery__list
                li.delivery__item Курьерская доставка.
                li.delivery__item Стоимость доставки 400 рублей.
                li.delivery__item Бесплатная доставка при заказе на сумму от 10 000 рублей.
                li.delivery__item Доставка возможна на следующий день после заказа на сайте, если изделие есть в наличии.
                li.delivery__item Курьер предварительно свяжется с вами по телефону, чтобы уточнить удобное для вас время доставки. 
                li.delivery__item Оплата заказа возможна наличными курьеру при получении.
            .delivery__info-title Доставка по России
            ul.delivery__list
                li.delivery__item Стоимость доставки Почтой России 250 рублей.
                li.delivery__item Курьерская служба СДЭК 550 рублей.
                li.delivery__item При заказе от 10 000 руб. доставка будет для вас бесплатной.
                li.delivery__item Сроки доставки около 2-10 рабочих дней после оплаты заказа.  Сроки доставки рассчитываются<br> индивидуально в зависимости от Вашего места расположения.
            .delivery__info-title Доставка по Москве
            ul.delivery__list
                li.delivery__item Стоимость доставки - 1200 руб.
                li.delivery__item Осуществляется курьерской службой EMS. Сроки доставки около 7-20 рабочих дней.
        h2.simple-title.delivery__title оплата
        .delivery__info.delivery__info--payment
            .delivery__info-title Способы оплаты:
            ul.delivery__list.delivery__list--payment
                li.delivery__item Наличными или Банковской картой при оплате в нашем магазине в Москве
                li.delivery__item Наличными при получении заказа, если Вы находитесь в Москве.
                li.delivery__item Перевод на банковскую карту
                li.delivery__item Оплата с помощью PayPal.
            .delivery__text Если вы не обнаружили удобного для Вас способа доставки или оплаты, пожалуйста, свяжитесь с нами, написав на почту kubachi@mail.com или заполнив форму, приведенную ниже.
        h2.simple-title.delivery__title обратная связь
        .delivery__form
            form.inputs(action='' autocomplete="off")
                input.inputs__field--hidden(name='fake_email' type='text')
                input.inputs__field--hidden(name='fake_password' type='password')
                .inputs__field-wrap
                    input.inputs__field(type='text' name='text' required='' minlength='2' autocomplete="someRandomString")
                    label.inputs__label(for='text')
                        span.inputs__content
                            | Введите Ваше имя*
                .inputs__field-wrap
                    input.inputs__field(type='tel' name='phone' required='' autocomplete="someRandomString")
                    label.inputs__label(for='phone')
                        span.inputs__content.inputs__content--required
                            | Введите Ваше телефон*
                .inputs__field-wrap
                    input.inputs__field(type='text' name='email' required='' autocomplete="someRandomString")
                    label.inputs__label(for='email')
                        span.inputs__content.inputs__content--required
                            | Введите Ваше e-mail*
                .inputs__field-wrap
                    textarea.inputs__field.inputs__field--textarea(name='textarea' placeholder='Введите Ваше сообщение*')
                .inputs__btn
                    button.btn.btn--filled Отправить 