footer.footer
    .center-wrap
        .footer__wrap
            .footer__column
                a(href="index.html").footer__logo
                    img(src="assets/images/footer-logo.svg" alt="")
                .socials
                    a.socials__link(href='https://web.telegram.org' target='_blank')
                        svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.82799 12.5252L7.49798 17.83C7.97013 17.83 8.17462 17.5982 8.41984 17.3198L10.6334 14.9021L15.2203 18.741C16.0615 19.2768 16.6542 18.9947 16.8811 17.8566L19.8919 1.73326L19.8927 1.73231C20.1595 0.311113 19.443 -0.244634 18.6234 0.104014L0.926156 7.84742C-0.281644 8.38322 -0.263357 9.15272 0.720838 9.50137L5.24531 11.1097L15.7547 3.5943C16.2493 3.22 16.699 3.4271 16.3291 3.8014L7.82799 12.5252Z')
                    a.socials__link(href='https://www.instagram.com' target='_blank')
                        svg(viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M15.5354 0.50293H6.36304C3.37781 0.50293 0.949219 2.93152 0.949219 5.91675V15.0893C0.949219 18.0743 3.37781 20.5029 6.36304 20.5029H15.5356C18.5206 20.5029 20.9492 18.0743 20.9492 15.0893V5.91675C20.9492 2.93152 18.5206 0.50293 15.5354 0.50293V0.50293ZM10.9492 15.9715C7.93378 15.9715 5.48062 13.5184 5.48062 10.5029C5.48062 7.48749 7.93378 5.03433 10.9492 5.03433C13.9647 5.03433 16.4178 7.48749 16.4178 10.5029C16.4178 13.5184 13.9647 15.9715 10.9492 15.9715ZM16.5486 6.32401C15.6575 6.32401 14.9327 5.59921 14.9327 4.7081C14.9327 3.81699 15.6575 3.09204 16.5486 3.09204C17.4397 3.09204 18.1646 3.81699 18.1646 4.7081C18.1646 5.59921 17.4397 6.32401 16.5486 6.32401Z')
                            path(d='M10.9494 6.20654C8.58066 6.20654 6.65332 8.13373 6.65332 10.5027C6.65332 12.8714 8.58066 14.7988 10.9494 14.7988C13.3184 14.7988 15.2455 12.8714 15.2455 10.5027C15.2455 8.13373 13.3184 6.20654 10.9494 6.20654Z')
                            path(d='M16.5489 4.26465C16.3044 4.26465 16.1055 4.46362 16.1055 4.70807C16.1055 4.95251 16.3044 5.15149 16.5489 5.15149C16.7935 5.15149 16.9925 4.95267 16.9925 4.70807C16.9925 4.46347 16.7935 4.26465 16.5489 4.26465Z')
                .footer__payment.mobile--hide
                    .payment
                        .payment__title Способы оплаты
                        .payment__list
                            .payment__item
                                img(src="assets/images/payment-img1.svg" alt="")
                            .payment__item
                                img(src="assets/images/payment-img2.svg" alt="")

            .footer__column
                .footer__column-title Покупателям
                ul.footer__column-list
                    li.footer__column-item
                        a(href="/delivery.html").footer__column-link Оплата и доставка
                    li.footer__column-item
                        a(href="/delivery.html").footer__column-link Возврат
                    li.footer__column-item
                        a(href="/contacts.html ").footer__column-link Наши магазины
                    li.footer__column-item
                        a(href="/delivery.html").footer__column-link Гарантия
            .footer__column
                .footer__column-title Продукция
                ul.footer__column-list
                    li.footer__column-item
                        a(href="/catalog1.html").footer__column-link Столовое серебро
                    li.footer__column-item
                        a(href="/catalog1.html").footer__column-link Украшения
                    li.footer__column-item
                        a(href="/catalog1.html").footer__column-link Сувениры
                    li.footer__column-item
                        a(href="/catalog1.html").footer__column-link Аксессуары
            .footer__column
                .footer__column-title Контакты
                .footer__column-tel
                    a(href="tel:0800777008") 0 800 777 008
                a(href="mailto:kubachijewel@mail.ru").footer__column-email kubachijewel@mail.ru
        .footer__bottom
            p.footer__copyright © 2020 Все права защищены
            .footer__bottom-box 
                .footer__agreement
                    a(href="") Пользовательское соглашение
                span
                .footer__personal
                    a(href="") Политика обработки персональных данных