header.header
  .center-wrap
    .header__wrap
      nav.header__nav.mobile--hide.anchors
        ul.header__nav-list
          .header__nav-search
            .search
              input(type='text' placeholder=' ')
              div
                svg
                  use(xlink:href='#path')
              svg(xmlns='http://www.w3.org/2000/svg' style='display: none;')
                symbol#path(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 28')
                  path(d='M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562' transform='translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)')
          li.header__nav-item
            a.header__nav-link(href="/catalog.html" data-anchors='false') каталог
          li.header__nav-item
            a.header__nav-link(href="/catalog1.html" data-anchors='false') Lookbook 
          a.header__nav-logo(href="/index.html" data-anchors)
            img(src="assets/images/logo.png" alt="")
          li.header__nav-item
            a.header__nav-link(href="/about.html" data-anchors='false') Инфо
          li.header__nav-item
            a.header__nav-link(href="/contacts.html" data-anchors='false') Контакты
          .header__basket
            span.header__basket-quantity 1
            svg(viewBox='0 0 27 33' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.81811 9.36559V6.43814C8.81811 4.21732 10.7439 2.09745 13.1765 2.09745C15.609 2.09745 17.5349 4.21732 17.5349 6.43814V9.36559H8.81811ZM1.52036 31.1701V10.7788H7.39907V14.4129C7.39907 14.8167 7.70315 15.1195 8.10859 15.1195C8.51402 15.1195 8.81811 14.8167 8.81811 14.4129V10.7788H17.5349V14.4129C17.5349 14.8167 17.8389 15.1195 18.2443 15.1195C18.6498 15.1195 18.9538 14.8167 18.9538 14.4129V10.7788H24.8326V31.1701H1.52036ZM0.101333 31.8767C0.101333 32.3813 0.304059 32.5833 0.810845 32.5833H25.6433C26.1502 32.5833 26.3529 32.3813 26.3529 31.8767V10.0722C26.3529 9.56748 26.1502 9.36559 25.6433 9.36559H19.0552V6.43814C19.0552 3.20786 16.5212 0.583252 13.1765 0.583252C9.83166 0.583252 7.29773 3.20786 7.29773 6.43814V9.36559H0.709514C0.202727 9.36559 0 9.56748 0 10.0722V31.8767H0.101333Z')
      a(href="index.html").header__logo.desktop--hide
        img(src="assets/images/logo.png" alt="")
      .header__nav-search.desktop--hide
        .search
          input(type='text' placeholder=' ')
          div
            svg
              use(xlink:href='#path')
          svg(xmlns='http://www.w3.org/2000/svg' style='display: none;')
            symbol#path(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 28')
              path(d='M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562' transform='translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)')
      .header__basket.desktop--hide
        span.header__basket-quantity 1
        svg(viewBox='0 0 27 33' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M8.81811 9.36559V6.43814C8.81811 4.21732 10.7439 2.09745 13.1765 2.09745C15.609 2.09745 17.5349 4.21732 17.5349 6.43814V9.36559H8.81811ZM1.52036 31.1701V10.7788H7.39907V14.4129C7.39907 14.8167 7.70315 15.1195 8.10859 15.1195C8.51402 15.1195 8.81811 14.8167 8.81811 14.4129V10.7788H17.5349V14.4129C17.5349 14.8167 17.8389 15.1195 18.2443 15.1195C18.6498 15.1195 18.9538 14.8167 18.9538 14.4129V10.7788H24.8326V31.1701H1.52036ZM0.101333 31.8767C0.101333 32.3813 0.304059 32.5833 0.810845 32.5833H25.6433C26.1502 32.5833 26.3529 32.3813 26.3529 31.8767V10.0722C26.3529 9.56748 26.1502 9.36559 25.6433 9.36559H19.0552V6.43814C19.0552 3.20786 16.5212 0.583252 13.1765 0.583252C9.83166 0.583252 7.29773 3.20786 7.29773 6.43814V9.36559H0.709514C0.202727 9.36559 0 9.56748 0 10.0722V31.8767H0.101333Z')
      .header__burger.desktop--hide
        div
        div
        div