section.hit
    h2.simple-title.hit__title(data-animation-type='bottom' data-animation-duration='1500') Хиты продаж
        span.simple-sub-title(data-animation-type='bottom' data-animation-duration='1500') Лидеры Kubachi Jewel
    .hit__list
        a(href="/catalog1.html").product-item.product-item--45
            .product-item__img
                div
                    img(src="assets/images/hit-img1.png" alt="")
            .product-item__info
                p.product-item__title Браслеты
        .product-item.product-item--55
            .product-item__img
                div
                    img(src="assets/images/hit-img2.png" alt="")
            .product-item__info
                p.product-item__title Собери<br class='desktop--hide'> свой браслет
                p.product-item__link
                    a(href="/catalog1.html") Собрать сейчас
                    svg(viewBox='0 0 47 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M46.0277 7.18193L35.0236 0.828731C34.5718 0.567938 33.9942 0.722751 33.7333 1.17444C33.4725 1.62622 33.6274 2.20382 34.0791 2.46471L42.0335 7.05715H1.44456C0.922879 7.05715 0.5 7.48012 0.5 8.00171C0.5 8.5232 0.922879 8.94627 1.44456 8.94627H42.0271L34.0791 13.5352C33.6273 13.7961 33.4725 14.3737 33.7333 14.8255C33.9084 15.1285 34.2257 15.2979 34.5522 15.2979C34.7124 15.2979 34.8748 15.257 35.0236 15.1712L46.0277 8.8179C46.32 8.6492 46.5 8.33731 46.5 7.99991C46.5 7.66252 46.32 7.35062 46.0277 7.18193Z')
        a(href="/product.html").product-item.product-item--33.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='000')
            .product-item__img
                div
                    img(src="assets/images/hit-img3.png" alt="")
            .product-item__info
                p.product-item__title кулон
        a(href="/product.html").product-item.product-item--33.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='300')
            .product-item__img
                div
                    img(src="assets/images/hit-img4.png" alt="")
            .product-item__info
                p.product-item__title кинжал
        a(href="/product.html").product-item.product-item--33.center-wrap(data-animation-type='bottom' data-animation-duration='1200' data-animation-delay='600')
            .product-item__img
                div
                    img(src="assets/images/hit-img5.png" alt="")
            .product-item__info
                p.product-item__title кольцо
