section.instagram
    .center-wrap
        .instagram__info
            h2.simple-title.instagram__title(data-animation-type='bottom' data-animation-duration='2000') мы в instagram
                span.simple-sub-title(data-animation-type='bottom' data-animation-duration='2000') Лидеры Kubachi Jewel
            .instagram__text(data-animation-type='bottom' data-animation-duration='2000') Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel. Уникальные изделия удовлетворят даже самых требовательных покупателей.
                | Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.
            .instagram__link(data-animation-type='bottom' data-animation-duration='2000')
                a(href="https://www.instagram.com/" target='_blank') Перейти в Instagram
                svg(viewBox='0 0 47 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M46.0277 7.18193L35.0236 0.828731C34.5718 0.567938 33.9942 0.722751 33.7333 1.17444C33.4725 1.62622 33.6274 2.20382 34.0791 2.46471L42.0335 7.05715H1.44456C0.922879 7.05715 0.5 7.48012 0.5 8.00171C0.5 8.5232 0.922879 8.94627 1.44456 8.94627H42.0271L34.0791 13.5352C33.6273 13.7961 33.4725 14.3737 33.7333 14.8255C33.9084 15.1285 34.2257 15.2979 34.5522 15.2979C34.7124 15.2979 34.8748 15.257 35.0236 15.1712L46.0277 8.8179C46.32 8.6492 46.5 8.33731 46.5 7.99991C46.5 7.66252 46.32 7.35062 46.0277 7.18193Z')
    .instagram__img
        img(src="assets/images/instagram-img.png" alt="")

