.mobile-basket
    .mobile-basket__wrap
        .mobile-basket__top
            .mobile-basket__act.mobile-basket__act--close
                svg(viewBox='0 0 27 28' xmlns='http://www.w3.org/2000/svg')
                    rect(width='18.9893' height='1.58244' transform='matrix(0.688726 -0.725022 0.688726 0.725022 5.99414 20.3097)')
                    rect(width='18.9893' height='1.58244' transform='matrix(-0.688726 -0.725022 0.688726 -0.725022 19.0723 21.4572)')
        h2.mobile-basket__title.simple-title корзина
        .basket__payment-body
            .basket__payment-wrap
                a(href="catalog.html").basket__payment-img
                    div
                        img(src="assets/images/basket__payment-img.png" alt="")
                .basket__payment-info
                    .basket__payment-top
                        a(href="catalog.html").basket__payment-title Кольцо<br class="mobile--hide"> “ Традиция ”
                        .basket__payment-delete
                            div
                            div
                    .basket__payment-item
                        .basket__payment-descr Количество
                        .amount
                            span.amount__minus
                                svg(viewBox='0 0 13 2' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='0.458336' width='13' height='1.08333')
                            input.amount__input(type='text' value='2')  
                            span.amount__plus
                                svg(viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='5.49961' width='12' height='1')
                                    rect(x='5.5' y='12' width='12' height='1' transform='rotate(-90 5.5 12)')
                    .price 22 500 ₽
        p.mobile-basket__quantity 1 ПРЕДМЕТ В КОРЗИНЕ
        .mobile-basket__btn
            a(href="/basket.html").btn.btn--filled Перейти к оформлению