.mobile-menu
  .mobile-menu__wrap
    .mobile-menu__header
      .mobile-menu__act.mobile-menu__act--close
        svg(width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.79' fill-rule='evenodd' clip-rule='evenodd' d='M15 1.5L13.5 0L7.5 6L1.5 0L0 1.5L6 7.5L0 13.5L1.5 15L7.5 9L13.5 15L15 13.5L9 7.5L15 1.5Z' fill='#575757')
    nav.mobile-menu__nav.anchors
      ul.mobile-menu__nav-list
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="/catalog.html" data-anchors='false') каталог
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href='services') Lookbook
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="/about.html" data-anchors='false') Инфо
        li.mobile-menu__nav-item
          a.mobile-menu__nav-link(href="/contacts.html" data-anchors='false') контакты
    .mobile-menu__phones
      a.mobile-menu__phone(href='tel:79999999999') +79999999999