section.packaging
    .center-wrap
        h2.simple-title.packaging__title(data-animation-type='bottom' data-animation-duration='2000')  фирменная упаковка 
        .packaging__wrap
            .packaging__info
                .packaging__info-wrap
                    .packaging__info-text(data-animation-type='bottom' data-animation-duration='2000')
                        p Все наши изделия мы с бережностью и заботой, сохраняя лучшие традиции нашего края - <span>помещаем в коробочку с дерева.</span> Чтобы Вам и Вашим близким было приятно каждый раз открывать наши изделия.
                        p Наши подарочные коробочки - как отдельный вид исскусства. Вы так же можете убедиться в этом самостоятельно. Чему мы будем очень рады.
                    .packaging__info-master(data-animation-type='bottom' data-animation-duration='2000') С любовью.и заботой о Вас, мастера Кубачи.
                .packaging__info-img(data-animation-type='bottom' data-animation-duration='2000')
                    div.packaging__info-img-ratio
                        img(src="assets/images/packaging-img2.png" alt="")(data-animation-type='img' data-animation-duration='5000')
            .packaging__right(data-animation-type='bottom' data-animation-duration='2000')
                img(src="assets/images/packaging-img1.png" alt="")(data-animation-type='img' data-animation-duration='5000')

