script.
  document.addEventListener('DOMContentLoaded', function(){
  setTimeout(function(){
  hideLoader();
  },4000); //4000
  });
  function hideLoader() {
  scrollbar.scrollTo(0, 0, 0);
  window.initScrollApp();
  document.querySelector('.preloader').classList.add('preloader--opacity0');
  document.querySelector('.preloader').addEventListener('transitionend', function(){
  console.log(document.querySelector('.preloader'));
      document.querySelector('.preloader').classList.add('preloader--none');
  });
  }
.preloader
 .preloader__wrap
  .text-circle
      svg(viewBox='0 0 100 100')
          path#circle(d='M 50, 50 m -50, 0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0')
          text
              textpath(xlink:href='#circle')
                  | kubachi jewel
  img.preloader__logo(src='assets/images/logo.svg' alt='')

//- script.
//-   document.addEventListener('DOMContentLoaded', function(){
//-   setTimeout(function(){

//-     window.initScrollApp();
//-   },1200);
//-   });

