section.product#product
    .center-wrap
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/index.html") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/catalog.html") Магазин
                li.breadcrumbs__item
                    span Кольцо
        .product__wrap
            .product__left
                .product-slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .product-slider__img
                                    div
                                        img(src="assets/images/product-slider__img.png" alt="")
                            .swiper-slide
                                .product-slider__img
                                    div
                                        img(src="assets/images/product-slider__img.png" alt="")
                            .swiper-slide
                                .product-slider__img
                                    div
                                        img(src="assets/images/product-slider__img.png" alt="")
                    .swiper-pagination
            .product__info
                .product__code арт. 1025186-01-31.32
                h2.simple-title.product__title Кольцо<br> “ Традиция ”
                .product__price
                    span есть в наличии
                    .price 22 500 ₽
                .product__info-box
                    p Материал:
                        span Серебро 925, покрыто радием
                    p Размер:
                        span Диаметр круга 3 см, длина 50 см
                .product__input
                    form.inputs(action='' autocomplete='off')
                        .inputs__field-wrap
                            input.inputs__field(type='text' name='text' required='' minlength='2' autocomplete='off')
                            label.inputs__label(for='text') 
                                span.inputs__content
                                    | Добавить гравировку
                                svg(viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='0.5' y='7.33269' width='16' height='1.33333' fill='black')
                                    rect(x='7.83337' y='16' width='16' height='1.33333' transform='rotate(-90 7.83337 16)' fill='black')
                .product__input-descr Гравировка будет добавлена по Вашему пожеланию в то место, где это допустимо.
                .product__btn
                    a(href="/basket.html").btn Купить в 1 клик
                    .btn.btn--filled  Добавить в корзину
                .product__bottom
                    .product__guarantee
                        a(href="") Гарантия и возврат
                    p Поделиться:
                    .socials
                        a.socials__link.socials__link--facebook(href='https://www.facebook.com' target='_blank')
                            svg(viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.62343 0.00353713L7.22488 0C4.5302 0 2.78878 1.64211 2.78878 4.18372V6.1127H0.377148C0.168755 6.1127 0 6.26798 0 6.45951V9.25438C0 9.44592 0.168947 9.60102 0.377148 9.60102H2.78878V16.6534C2.78878 16.8449 2.95753 17 3.16593 17H6.31242C6.52081 17 6.68957 16.8447 6.68957 16.6534V9.60102H9.50932C9.71772 9.60102 9.88647 9.44592 9.88647 9.25438L9.88763 6.45951C9.88763 6.36755 9.84779 6.27948 9.77718 6.21439C9.70656 6.14931 9.61034 6.1127 9.51029 6.1127H6.68957V4.47748C6.68957 3.69153 6.89334 3.29254 8.00727 3.29254L9.62304 3.29201C9.83125 3.29201 10 3.13673 10 2.94537V0.350176C10 0.158994 9.83144 0.00389085 9.62343 0.00353713Z')
                        a.socials__link(href='https://twitter.com' target='_blank')
                            svg(viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7.08827 15C6.26665 15 5.42097 14.9358 4.57022 14.8072C3.07179 14.5804 1.55496 13.8243 1.12574 13.5979L0 13.0042L1.2188 12.6176C2.55111 12.1951 3.36156 11.9329 4.36481 11.5223C3.36026 11.0531 2.58604 10.2089 2.21335 9.11773L1.92982 8.28743L2.16233 8.32169C1.94185 8.10733 1.76776 7.88976 1.6328 7.6919C1.15285 6.98871 0.898736 6.12947 0.952805 5.39314L1.00615 4.66841L1.45595 4.83648C1.2662 4.49083 1.12907 4.12168 1.04848 3.73478C0.85206 2.79122 1.01644 1.7888 1.51147 0.912215L1.90329 0.21839L2.42731 0.825522C4.08461 2.74592 6.18374 3.88509 8.67512 4.21858C8.57336 3.54196 8.64961 2.88896 8.90198 2.30364C9.19581 1.62212 9.71852 1.04421 10.4132 0.63228C11.1846 0.174904 12.1202 -0.0467232 13.0475 0.00822915C14.0313 0.0665373 14.9245 0.422119 15.6339 1.03722C15.9804 0.950388 16.2357 0.857683 16.5807 0.732397C16.7882 0.65703 17.0237 0.571455 17.3182 0.473576L18.4036 0.11282L17.6958 2.06286C17.7425 2.05908 17.7906 2.05587 17.8409 2.05377L19 2.00315L18.3149 2.9063C18.2756 2.95803 18.2656 2.97272 18.2517 2.99299C18.1965 3.07325 18.1278 3.17309 17.1875 4.38428C16.952 4.68756 16.8345 5.08258 16.8564 5.49675C16.9397 7.07065 16.7395 8.49465 16.261 9.72905C15.8085 10.8969 15.1072 11.8989 14.1768 12.7072C13.0256 13.7073 11.5576 14.392 9.81347 14.7422C8.95793 14.9139 8.03919 15 7.08827 15Z')
                        a.socials__link.socials__link--instag(href='https://www.instagram.com' target='_blank')
                            svg(viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M15.5354 0.50293H6.36304C3.37781 0.50293 0.949219 2.93152 0.949219 5.91675V15.0893C0.949219 18.0743 3.37781 20.5029 6.36304 20.5029H15.5356C18.5206 20.5029 20.9492 18.0743 20.9492 15.0893V5.91675C20.9492 2.93152 18.5206 0.50293 15.5354 0.50293V0.50293ZM10.9492 15.9715C7.93378 15.9715 5.48062 13.5184 5.48062 10.5029C5.48062 7.48749 7.93378 5.03433 10.9492 5.03433C13.9647 5.03433 16.4178 7.48749 16.4178 10.5029C16.4178 13.5184 13.9647 15.9715 10.9492 15.9715ZM16.5486 6.32401C15.6575 6.32401 14.9327 5.59921 14.9327 4.7081C14.9327 3.81699 15.6575 3.09204 16.5486 3.09204C17.4397 3.09204 18.1646 3.81699 18.1646 4.7081C18.1646 5.59921 17.4397 6.32401 16.5486 6.32401Z')
                                path(d='M10.9494 6.20654C8.58066 6.20654 6.65332 8.13373 6.65332 10.5027C6.65332 12.8714 8.58066 14.7988 10.9494 14.7988C13.3184 14.7988 15.2455 12.8714 15.2455 10.5027C15.2455 8.13373 13.3184 6.20654 10.9494 6.20654Z')
                                path(d='M16.5489 4.26465C16.3044 4.26465 16.1055 4.46362 16.1055 4.70807C16.1055 4.95251 16.3044 5.15149 16.5489 5.15149C16.7935 5.15149 16.9925 4.95267 16.9925 4.70807C16.9925 4.46347 16.7935 4.26465 16.5489 4.26465Z')