section.reviews
    .center-wrap
        .reviews__wrap
            .reviews__item
                .reviews__item-img
                    div
                        img(src="assets/images/reviews__item-img1.png" alt="")
                .reviews__item-info
                    .reviews__item-title Кольцо “ Традиция “
                    .reviews__item-box
                        .reviews__item-name Мария - г. Сочи
                        .reviews__item-date 27 Октября, 2020
                    .reviews__item-text «Добрый день! Только с почты - и сразу пишу отзыв, потому что я просто в восторге! Это замечательное изделие, которое подчеркивает статус, изысканность и вкус его обладателя. Я безумно рада, что решилась заказать себе такой чудесный подарок. Спасибо большое команде за оперативную доставку!!!
            .reviews__item
                .reviews__item-img
                    div
                        img(src="assets/images/reviews__item-img1.png" alt="")
                .reviews__item-info
                    .reviews__item-title Кольцо “ Традиция “
                    .reviews__item-box
                        .reviews__item-name Мария - г. Сочи
                        .reviews__item-date 27 Октября, 2020
                    .reviews__item-text «Добрый день! Только с почты - и сразу пишу отзыв, потому что я просто в восторге! Это замечательное изделие, которое подчеркивает статус, изысканность и вкус его обладателя. Я безумно рада, что решилась заказать себе такой чудесный подарок. Спасибо большое команде за оперативную доставку!!!
            .reviews__item
                .reviews__item-img
                    div
                        img(src="assets/images/reviews__item-img1.png" alt="")
                .reviews__item-info
                    .reviews__item-title Кольцо “ Традиция “
                    .reviews__item-box
                        .reviews__item-name Мария - г. Сочи
                        .reviews__item-date 27 Октября, 2020
                    .reviews__item-text «Добрый день! Только с почты - и сразу пишу отзыв, потому что я просто в восторге! Это замечательное изделие, которое подчеркивает статус, изысканность и вкус его обладателя. Я безумно рада, что решилась заказать себе такой чудесный подарок. Спасибо большое команде за оперативную доставку!!!
        .reviews__pagination.mobile--hide
            .pagination
                ul.pagination__list
                    li.pagination__item
                        a.pagination__link.pagination__link--prev(href="")
                            svg(width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7.5 1.69727L1.5 7.69727L7.5 13.6973' stroke='#696969' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    li.pagination__item
                        a.pagination__link(href="") 1
                    li.pagination__item
                        a.pagination__link.pagination__link--active(href="") 2
                    li.pagination__item
                        a.pagination__link(href="") 3
                    li.pagination__item
                        a.pagination__link(href="") 4
                    li.pagination__item
                        span ...
                    li.pagination__item
                        a.pagination__link(href="") 21
                    li.pagination__item
                        a.pagination__link.pagination__link--next(href="")
                            svg(width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1.5 13.6973L7.5 7.69727L1.5 1.69727' stroke='#696969' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')