section.uniqueness
    img.uniqueness__bg.mobile--hide(src='assets/images/uniqueness-img.png' data-animation-type='img' data-animation-duration='5000')
    .uniqueness__text(data-animation-type='bottom' data-animation-duration='2000')
        | Тонкий вкус, индивидуальный стиль, чувство прекрасного и статус - это то, что отличает ценителей бренда Kubachi Jewel.<br>
        | Уникальные изделия удовлетворят даже самых требовательных покупателей.
        | Kubachi Jewel - это тот случай, когда в каждом заказе видно руку мастера.