// @font-face {
// 	font-family: "Montserrat";
// 	src: url('~fonts/montserratlight.ttf');
// 	font-weight: 300;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: "Montserrat";
// 	src: url('~fonts/montserrat.ttf');
// 	font-weight: 400;
// 	font-display: swap;
// }



// @font-face {
// 	font-family: "Montserrat";
// 	src: url('~fonts/montserratbold.ttf');
// 	font-weight: 700;
// 	font-display: swap;
// }
@font-face {
    font-family: 'TT Norms';
    src: url('~fonts/norms/TTNorms-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('~fonts/norms/TTNorms-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('~fonts/norms/TTNorms-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

