@font-face {
	font-family: "Montserrat";
	src: url('~fonts/montserratlight.ttf');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url('~fonts/montserrat.ttf');
	font-weight: 400;
	font-display: swap;
}



@font-face {
	font-family: "Montserrat";
	src: url('~fonts/montserratbold.ttf');
	font-weight: 700;
	font-display: swap;
}


// @font-face {
// 	font-family: "Geometria";
// 	src: url('~fonts/Geometria.ttf');
// 	font-weight: 400;
// 	font-display: swap;
// }


// @font-face {
// 	font-family: "Geometria";
// 	src: url('~fonts/Geometria-Medium.ttf');
// 	font-weight: 500;
// 	font-display: swap;
// }



// @font-face {
// 	font-family: "Geometria";
// 	src: url('~fonts/Geometria-Bold.ttf');
// 	font-weight: 700;
// 	font-display: swap;
// }



@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-ExtraBold.ttf');
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-Light.ttf');
	font-weight: 300;
	font-display: swap;
}



@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}


@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}


@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}



@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}



@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-ExtraBold.ttf');
	font-weight: 800;
	font-display: swap;
}


@font-face {
	font-family: "Geometria";
	src: url('~fonts/Gilroy-Black.ttf');
	font-weight: 900;
	font-display: swap;
}