.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 7rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	background: linear-gradient(104.08deg, #D97C7D 30.82%, #E9BFC0 70.92%);
	border-radius: 4rem;
	font-weight: bold;
	color: #ffffff;
	padding: 0 4.3rem;
	transition: all 0.5s;
	font-size: 1.8rem;
	position: relative;
	box-shadow: 0px 0px 20px 7px rgba(232, 190, 191, 0.5);
	overflow: hidden;
	z-index: 1;


	span {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: #fff;
		transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	&:hover {
		color: #D97C7D;

		span {
			width: 225%;
			height: 562px;
		}
	}

	@media screen and (max-width:$large_mobile) {
		padding: 0 2.5rem;
		font-size: 1.6rem;
	}

	.inputs & {
		color: #fff;

		&:hover {
			color: #D97C7D;
		}
	}

	&--empty {
		line-height: 6rem;
		border: 1px solid #D97C7D;
		background: inherit;
		font-weight: bold;
		font-size: 1.6rem;
		padding: 0 5.2rem;
		color: #D97C7D;
		transition: all 0.4s;
		box-shadow: none;

		span {
			background: linear-gradient(104.08deg, #D97C7D 30.82%, #E9BFC0 70.92%);
		}

		&:hover {
			color: white;
			border: 1px solid rgba(217, 124, 125, 0);
		}

	}
}