@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto/Roboto-Light.eot');
  src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/Raleway/Raleway-Medium.eot');
  src: url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'), url('../fonts/Raleway/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'icon';
  src: url('../fonts/icon/icon.eot?42386682');
  src: url('../fonts/icon/icon.eot?42386682#iefix') format('embedded-opentype'), url('../fonts/icon/icon.woff2?42386682') format('woff2'), url('../fonts/icon/icon.woff?42386682') format('woff'), url('../fonts/icon/icon.ttf?42386682') format('truetype'), url('../fonts/icon.svg?42386682#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?42386682#icon') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\e800';
}

/* '' */

.icon-facebook:before {
  content: '\e801';
}

/* '' */

.icon-twitter:before {
  content: '\f099';
}

/* '' */

.icon-gplus:before {
  content: '\f30f';
}

/* '' */

.icon-instagram:before {
  content: '\f31e';
}

/* '' */

/* Colors for my Website */

/*COMMON*/

* {
  font-family: 'RobotoLight', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  height: 100%;
  overflow: hidden;
  max-width: 1900px;
  margin: 0 auto;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1656px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 15%;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 3.6rem;
  color: #383a3f;
}

.orang {
  color: #ff8410;
  font-family: RobotoBold, sans-serif;
}

.bold {
  font-family: RobotoBold, sans-serif;
}

.border {
  width: 200px;
  height: 1px;
}

.fab {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  background: #8f8f8f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.fab:hover {
  background: #ff8410;
}

.fp-section.fp-table,
.fp-slide.fp-table {
  display: block;
  margin: 0 auto;
}

.fp-tableCell {
  display: block;
}

#fp-nav.fp-right {
  right: 44px;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
#fp-nav ul li a span:hover,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  width: 16px;
  height: 16px;
  background: #ff8410;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  margin: 36px 0 0 0;
  width: 0px;
  height: 0px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 16px;
  height: 16px;
  background: #424242;
  margin: -5px 0 0 -5px;
}

.slick-social {
  position: fixed;
  top: 50%;
  left: 44px;
  margin-top: -90px;
  font-size: 0.8rem;
  z-index: 999;
}

.slick-social li {
  margin-top: 15px;
}

.slick-social li a {
  width: 40px;
  height: 40px;
  display: block;
}

/*HEADER*/

header .header_manu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}

header .header_manu nav {
  -webkit-flex-basis: 560px;
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  font-family: RalewayMedium, sans-serif;
}

header .header_manu nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8rem;
}

header .header_manu nav ul a {
  text-transform: uppercase;
  color: #9da2a5;
  position: relative;
}

header .header_manu nav ul a:hover {
  color: #ff8410;
}

header .header_manu nav ul a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

header .header_manu nav ul a:before {
  content: '';
  bottom: -9px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ff8410;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

/*MAIN*/

main #fullpage .bl1 {
  text-align: center;
}

main #fullpage .bl1 h2 {
  margin: 12% 0 0 0;
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl1_border {
  width: 200px;
  height: 1px;
  background: #cccccc;
  margin: 35px auto;
}

main #fullpage .bl1_text {
  margin: 0 auto;
  line-height: 36px;
}

main #fullpage .bl1_text p {
  font-size: 1.2rem;
  color: #8f8f8f;
  margin-bottom: 20px;
}

main #fullpage .bl1_img {
  height: -webkit-calc(-200%);
  height: calc(-200%);
  /*margin-top:130px;
				.lg(margin,0);
				.md(margin-top,180px);
				.sm(margin,0);*/
}

main #fullpage .bl2 {
  background: #f1f8fb;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main #fullpage .bl2_img {
  width: 54%;
  height: 100%;
  margin-right: 6.4%;
  position: absolute;
  right: 0;
  background: #faca5d url(../img/bl2-img.png) no-repeat center right;
  -webkit-background-size: cover;
  background-size: cover;
}

main #fullpage .bl2_description {
  width: 52.3%;
  background: #def2fb;
  position: absolute;
  padding: 15px 20px 20px 22%;
  top: 29%;
}

main #fullpage .bl2_description__container {
  max-width: 540px;
  margin-right: 25px;
}

main #fullpage .bl2_description__tiile {
  line-height: 1.2;
}

main #fullpage .bl2_description__tiile span:last-child {
  font-family: RobotoRegular, sans-serif;
  color: #383a3f;
}

main #fullpage .bl2_description__border {
  width: 200px;
  height: 1px;
  background: #87b5ca;
  margin: 6.5% 0;
}

main #fullpage .bl2_description__text {
  font-size: 1rem;
  color: #8f8f8f;
}

main #fullpage .bl2_description__text span {
  color: #383a3f;
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl3 .container {
  height: 100%;
}

main #fullpage .bl3_description {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 558px;
  -ms-flex: 1 1 558px;
  flex: 1 1 558px;
  font-size: 1rem;
  color: #8f8f8f;
}

main #fullpage .bl3_description h2 {
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl3_description__border {
  width: 200px;
  height: 1px;
  margin: 43px 0;
  background: #cccccc;
}

main #fullpage .bl3_description__text span {
  color: #383a3f;
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl3_description p:nth-child(4) {
  margin: 10px 0;
}

main #fullpage .bl3_description a {
  font-family: RobotoRegular, sans-serif;
  color: #ff8410;
  text-decoration: underline;
}

main #fullpage .bl3_img {
  background: url(../img/bl3_img.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 510px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 794px;
  -ms-flex: 1 1 794px;
  flex: 1 1 794px;
}

main #fullpage .bl4 {
  background: #f1f8fb;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main #fullpage .bl4_img {
  width: 54%;
  height: 100%;
  margin-right: 6.4%;
  position: absolute;
  right: 0;
  background: #faca5d url(../img/bl2-img.png) no-repeat center right;
  -webkit-background-size: cover;
  background-size: cover;
}

main #fullpage .bl4_description {
  width: 52.3%;
  background: #def2fb;
  position: absolute;
  padding: 15px 20px 20px 22%;
  top: 29%;
}

main #fullpage .bl4_description__container {
  max-width: 540px;
  margin-right: 25px;
}

main #fullpage .bl4_description__tiile {
  line-height: 1.2;
}

main #fullpage .bl4_description__tiile span:last-child {
  font-family: RobotoRegular, sans-serif;
  color: #383a3f;
}

main #fullpage .bl4_description__border {
  width: 200px;
  height: 1px;
  background: #87b5ca;
  margin: 6.5% 0;
}

main #fullpage .bl4_description__text {
  font-size: 1rem;
  color: #8f8f8f;
}

main #fullpage .bl4_description__text span {
  color: #383a3f;
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl4_img {
  background: #faca5d url(../img/bl4_img.png) no-repeat center right;
}

main #fullpage .bl4_description a:nth-child(4) {
  color: #ff8410;
  text-decoration: underline;
}

main #fullpage .bl4_description__text a {
  color: #ff8410;
  text-decoration: underline;
}

main #fullpage .bl5 .content_bl5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

main #fullpage .bl5 .container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

main #fullpage .bl5_description {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 558px;
  -ms-flex: 1 1 558px;
  flex: 1 1 558px;
  font-size: 1rem;
  color: #8f8f8f;
}

main #fullpage .bl5_description h2 {
  font-family: RobotoRegular, sans-serif;
}

main #fullpage .bl5_description__border {
  width: 200px;
  height: 1px;
  margin: 43px 0;
  background: #cccccc;
}

main #fullpage .bl5_description a {
  color: #383a3f;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2%;
}

main #fullpage .bl5_description a i {
  font-size: 1rem;
  width: 35px;
  height: 35px;
  margin-right: 2%;
}

main #fullpage .bl5_img {
  background: url(../img/bl5_img.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 510px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 794px;
  -ms-flex: 1 1 794px;
  flex: 1 1 794px;
}

main #fullpage .bl5 footer {
  background: #383a3f;
}

main #fullpage .bl5 footer .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3% 0;
}

main #fullpage .bl5 footer .footer nav {
  -webkit-flex-basis: 560px;
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  font-family: RalewayMedium, sans-serif;
}

main #fullpage .bl5 footer .footer nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8rem;
}

main #fullpage .bl5 footer .footer nav ul a {
  text-transform: uppercase;
  color: #9da2a5;
  position: relative;
}

main #fullpage .bl5 footer .footer nav ul a:hover {
  color: #ff8410;
}

main #fullpage .bl5 footer .footer nav ul a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

main #fullpage .bl5 footer .footer nav ul a:before {
  content: '';
  bottom: -9px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ff8410;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

main #fullpage .bl5 footer .footer .footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main #fullpage .bl5 footer .footer .footer-social li {
  margin-left: 25px;
}

main #fullpage .bl5 footer .footer .footer-social li a i {
  color: #383a3f;
  background: #ffff;
}

main #fullpage .bl5 footer .footer .footer-social li a i:hover {
  background: #ff8410;
}

@media screen and (max-width: 1280px) {
  body,
  html {
    font-size: 16px;
  }

  #fp-nav.fp-right {
    right: 30px;
  }

  .slick-social {
    left: 20px;
  }

  main #fullpage .bl1 h2 {
    margin: 5% 0 0 0;
  }

  main #fullpage .bl1_text {
    max-width: 800px;
  }

  main #fullpage .bl3_description {
    -webkit-flex-basis: 450px;
    -ms-flex-preferred-size: 450px;
    flex-basis: 450px;
  }

  main #fullpage .bl3_description h2 {
    line-height: 1.2;
  }

  main #fullpage .bl3_description__border {
    margin: 13px 0;
  }

  main #fullpage .bl3_img {
    margin: 0 60px 0 20px;
  }

  main #fullpage .bl5_description {
    -webkit-flex-basis: 450px;
    -ms-flex-preferred-size: 450px;
    flex-basis: 450px;
  }

  main #fullpage .bl5_description h2 {
    line-height: 1.2;
  }

  main #fullpage .bl5_description__border {
    margin: 13px 0;
  }

  main #fullpage .bl5_img {
    margin: 0 60px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }

  .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 6% 0 8%;
  }

  .slick-social {
    left: 15px;
  }

  header .header_logo {
    width: 100%;
  }

  header .header_manu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  header .header_manu nav ul {
    margin-top: 5%;
  }

  main #fullpage .bl1 h2 {
    margin-top: 2%;
  }

  main #fullpage .bl1_text {
    max-width: 560px;
  }

  main #fullpage .bl2_img {
    width: 100%;
    height: 60%;
    margin: 0 auto;
  }

  main #fullpage .bl2_description {
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 0;
    top: 60%;
  }

  main #fullpage .bl2_description__container {
    margin: 0 auto;
  }

  main #fullpage .bl2_description__border {
    margin: 6.5% auto;
  }

  main #fullpage .bl3_description {
    text-align: center;
  }

  main #fullpage .bl3_description__border {
    margin: 13px auto;
  }

  main #fullpage .bl3_img {
    margin: 0;
  }

  main #fullpage .bl4_img {
    width: 100%;
    height: 60%;
    margin: 0 auto;
  }

  main #fullpage .bl4_description {
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 0;
    top: 60%;
  }

  main #fullpage .bl4_description__container {
    margin: 0 auto;
  }

  main #fullpage .bl4_description__border {
    margin: 6.5% auto;
  }

  main #fullpage .bl5_description {
    text-align: center;
  }

  main #fullpage .bl5_description__border {
    margin: 13px auto;
  }

  main #fullpage .bl5_description a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main #fullpage .bl5_description a i {
    width: 25px;
    height: 25px;
  }

  main #fullpage .bl5_img {
    margin: 0;
  }

  main #fullpage .bl5 footer .footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main #fullpage .bl5 footer .footer .footer-social {
    margin-top: 3%;
  }
}

@media screen and (max-width: 320px) {
  body,
  html {
    font-size: 11px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .fab {
    width: 30px;
    height: 30px;
  }

  #fp-nav.fp-right {
    right: 20px;
  }

  .slick-social {
    left: 10px;
  }

  main #fullpage .bl1 h2 {
    line-height: 1.2;
  }

  main #fullpage .bl1_border {
    width: 100px;
  }

  main #fullpage .bl1_text {
    max-width: 220px;
    line-height: 26px;
  }

  main #fullpage .bl2_description__border {
    width: 100px;
  }

  main #fullpage .bl3_img {
    -webkit-background-size: contain;
    background-size: contain;
    margin: 30px 0;
  }

  main #fullpage .bl4_description__border {
    width: 100px;
  }

  main #fullpage .bl5_img {
    -webkit-background-size: contain;
    background-size: contain;
    margin: 15px 0;
    min-height: 210px;
  }
}